openapi: 3.2.0
info:
  title: FreightAudit Freight Assist API
  version: v1
servers:
- url: https://invoice.mycarriertms.com
tags:
- name: FreightAssist
paths:
  /api/v1/Invoice/{recordId}/Quote/Audit:
    get:
      tags:
      - FreightAssist
      parameters:
      - name: recordId
        in: path
        required: true
        schema:
          type: string
          format: uuid
      - name: Environment
        in: header
        example: dev
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MC.Invoice.API.Responses.V2.InvoiceQuoteAuditResponse'
        '400':
          description: Bad Request
        '404':
          description: Not Found
        '401':
          description: If Authorization header not present, has no value or no valid jwt bearer token
        '403':
          description: If user not authorized to perform requested action
        '500':
          description: Internal Server Error
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/ProblemDetailsResponse'
      security:
      - Bearer: []
  /api/v1/Invoice/{recordId}/Quote/Audit/Vote:
    patch:
      tags:
      - FreightAssist
      parameters:
      - name: recordId
        in: path
        required: true
        schema:
          type: string
          format: uuid
      - name: Environment
        in: header
        example: dev
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/MC.Invoice.API.Dtos.FreightAssist.Requests.AuditSuggestionVoteRequest'
          application/*+json:
            schema:
              $ref: '#/components/schemas/MC.Invoice.API.Dtos.FreightAssist.Requests.AuditSuggestionVoteRequest'
      responses:
        '200':
          description: OK
        '400':
          description: Bad Request
        '404':
          description: Not Found
        '401':
          description: If Authorization header not present, has no value or no valid jwt bearer token
        '403':
          description: If user not authorized to perform requested action
        '500':
          description: Internal Server Error
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/ProblemDetailsResponse'
      security:
      - Bearer: []
components:
  schemas:
    MC.Invoice.API.Responses.V2.SourceChargeResponse:
      type: object
      properties:
        chargeCode:
          type:
          - string
          - 'null'
        description:
          type:
          - string
          - 'null'
        amount:
          type:
          - number
          - 'null'
          format: double
      additionalProperties: false
    MC.Invoice.API.Responses.V2.InvoiceQuoteAuditResponse:
      type: object
      properties:
        summary:
          type:
          - string
          - 'null'
        invoiceDifferences:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/MC.Invoice.API.Responses.V2.InvoiceDifferenceResponse'
      additionalProperties: false
    ProblemDetailsResponse:
      type: object
      properties:
        type:
          type: string
          description: A URI reference that identifies the problem type
          example: https://tools.ietf.org/html/rfc7231#section-6.5.1
        title:
          type: string
          description: A short, human-readable summary of the problem type
          example: Bad Request
        status:
          type: integer
          description: The HTTP status code
          example: 400
        detail:
          type: string
          description: A human-readable explanation specific to this occurrence of the problem
          example: The invoice amount must be greater than zero
        instance:
          type: string
          description: A URI reference that identifies the specific occurrence of the problem
          example: /api/v1/invoices
        traceId:
          type: string
          description: The OpenTelemetry trace ID for correlating logs and distributed traces
          example: a1b2c3d4e5f67890abcdef1234567890
      description: RFC 7807 Problem Details response with traceId for error correlation
    MC.Invoice.API.Dtos.FreightAssist.Requests.AuditSuggestionVoteRequest:
      type: object
      properties:
        vote:
          $ref: '#/components/schemas/MC.Invoice.Data.Mongo.Enums.UserVoteType'
      additionalProperties: false
    MC.Invoice.API.Responses.V2.ChargeBreakdownResponse:
      type: object
      properties:
        categoryName:
          type:
          - string
          - 'null'
        reasonCode:
          type:
          - string
          - 'null'
        subReasonCode:
          type:
          - string
          - 'null'
        invoiceSourceCharges:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/MC.Invoice.API.Responses.V2.SourceChargeResponse'
        invoiceAmount:
          type:
          - number
          - 'null'
          format: double
        quoteSourceCharges:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/MC.Invoice.API.Responses.V2.SourceChargeResponse'
        quoteAmount:
          type:
          - number
          - 'null'
          format: double
        differenceAmount:
          type: number
          format: double
      additionalProperties: false
    MC.Invoice.Data.Mongo.Enums.UserVoteType:
      enum:
      - Neutral
      - Like
      - Dislike
      type: string
    MC.Invoice.API.Responses.V2.InvoiceDifferenceResponse:
      type: object
      properties:
        categoryId:
          type: integer
          format: int32
        reasonCode:
          type:
          - string
          - 'null'
        subReasonCodes:
          type:
          - array
          - 'null'
          items:
            type: string
        reasonDescription:
          type:
          - string
          - 'null'
        differenceAmount:
          type: number
          format: double
        explanation:
          type:
          - string
          - 'null'
        invoiceSourceCharges:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/MC.Invoice.API.Responses.V2.SourceChargeResponse'
        quoteSourceCharges:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/MC.Invoice.API.Responses.V2.SourceChargeResponse'
        chargeBreakdowns:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/MC.Invoice.API.Responses.V2.ChargeBreakdownResponse'
      additionalProperties: false
  securitySchemes:
    Bearer:
      type: http
      description: Enter JWT Bearer token **_only_**
      scheme: bearer
      bearerFormat: JWT
