{"openapi":"3.0.1","info":{"title":"FreightAudit Public API","version":"public"},"servers":[{"url":"https://invoice.mycarriertms.com"}],"paths":{"/api/v2/Integrations/Invoices/Status/{status}":{"patch":{"tags":["Invoice Management"],"summary":"Updates status for the identified invoice.","parameters":[{"name":"status","in":"path","required":true,"schema":{"$ref":"#/components/schemas/MC.Invoice.Data.Enums.IntegrationInvoiceStatusType"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/MC.Invoice.API.Dtos.Integrations.IntegrationInvoiceUpdateRequest"}},"application/*+json":{"schema":{"$ref":"#/components/schemas/MC.Invoice.API.Dtos.Integrations.IntegrationInvoiceUpdateRequest"}}}},"responses":{"200":{"description":"The operation was successfully completed."},"400":{"description":"Bad request due to data validation.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"}}}},"401":{"description":"Unauthorized. The username or password provided is incorrect.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"}}}},"403":{"description":"Access to the requested resource is forbidden.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"}}}}},"security":[{"BasicAuth":["AuthenticationSchemes:BasicAuthentication"]}],"x-code-samples":[{"lang":"C#","source":"static async Task PatchAsync(HttpClient httpClient)\n{\n    using StringContent jsonContent = new(\n        JsonSerializer.Serialize(new IntegrationInvoiceUpdateRequest()\n        {\n            RecordId = Guid.Parse(\"6b727121-309f-4536-be35-a4838edf6662\"),\n            UpdatedBy = \"MyCarrier TMS\"\n        }),\n        Encoding.UTF8,\n        \"application/json\");\n\n    using HttpResponseMessage response = await httpClient.PatchAsync(\n        \"https://localhost:7205/api/v2/Integrations/Invoices/Status/Open\",\n        jsonContent);\n\n    response.EnsureSuccessStatusCode();\n\n    var jsonResponse = await response.Content.ReadAsStringAsync();\n\n}"},{"lang":"CURL","source":"curl --location --request PATCH 'https://localhost:7205/api/v2/Integrations/Invoices/Status/Open' \\\n--header 'Content-Type: application/json' \\\n--header 'Authorization: Basic dHJhdmlzaF9hdF9kZGdsb2JhbC5jb21AaW50ZWdyYXRlZHRtLmRl' \\\n--data '{\n  \"recordId\": \"543b840b-935e-4d23-af4b-792af029e1f2\",\n  \"updatedBy\": \"MyCarrier TMS\"\n}'"},{"lang":"JavaScript","source":"const options = {\n  method: 'PATCH',\n  headers:\n{\n    'Content-Type': 'application/json',\n    'Authorization': 'Basic ' + btoa('username:password') },\n    body: JSON.stringify(\n    {\n      'recordId': '543b840b-935e-4d23-af4b-792af029e1f2',\n      'updatedBy': 'MyCarrier TMS'\n    })\n};\n\nfetch('https://localhost:7205/api/v2/Integrations/Invoices/Status/Open', options)\n  .then(response => response.json())\n  .then(response => console.log(response))\n  .catch(err => console.error(err));\";"}]}},"/api/v2/Integrations/Invoices/Status/Approve/Reason":{"patch":{"tags":["Invoice Management"],"summary":"Updates approval reason for the identified invoice.","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/MC.Invoice.API.Dtos.Integrations.IntegrationInvoiceApprovalReasonRequest"}},"application/*+json":{"schema":{"$ref":"#/components/schemas/MC.Invoice.API.Dtos.Integrations.IntegrationInvoiceApprovalReasonRequest"}}}},"responses":{"200":{"description":"The operation was successfully completed."},"400":{"description":"Bad request due to data validation.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"}}}},"401":{"description":"Unauthorized. The username or password provided is incorrect.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"}}}},"403":{"description":"Access to the requested resource is forbidden.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"}}}}},"security":[{"BasicAuth":["AuthenticationSchemes:BasicAuthentication"]}],"x-code-samples":[{"lang":"C#","source":"static async Task PatchAsync(HttpClient httpClient)\n{\n    using StringContent jsonContent = new(\n        JsonSerializer.Serialize(new IntegrationInvoiceApprovalReasonRequest()\n        {\n            RecordId = Guid.Parse(\"6b727121-309f-4536-be35-a4838edf6662\"),\n            UpdatedBy = \"MyCarrier TMS\",\n            ApprovedReason = \"Incorrect Weight When Shipped\",\n            ApprovedOtherNotes = \"Some Notes\"\n        }),\n        Encoding.UTF8,\n        \"application/json\");\n\n    using HttpResponseMessage response = await httpClient.PatchAsync(\n        \"https://localhost:7205/api/v2/Integrations/Invoices/Status/Approve/Reason\",\n        jsonContent);\n\n    response.EnsureSuccessStatusCode();\n\n    var jsonResponse = await response.Content.ReadAsStringAsync();\n\n}"},{"lang":"CURL","source":"curl --location --request PATCH 'https://localhost:7205/api/v2/Integrations/Invoices/Status/Approve/Reason' \\\n--header 'Content-Type: application/json' \\\n--header 'Authorization: Basic dHJhdmlzaF9hdF9kZGdsb2JhbC5jb21AaW50ZWdyYXRlZHRtLmRl' \\\n--data '{\n  \"recordId\": \"543b840b-935e-4d23-af4b-792af029e1f2\",\n  \"updatedBy\": \"MyCarrier TMS\",\n  \"approvedReason\": \"Incorrect Weight When Shipped\",\n  \"approvedOtherNotes\": \"Some Notes\"\n}'"},{"lang":"JavaScript","source":"const options = {\n  method: 'PATCH',\n  headers:\n{\n    'Content-Type': 'application/json',\n    'Authorization': 'Basic ' + btoa('username:password') },\n    body: JSON.stringify(\n    {\n      'recordId': '543b840b-935e-4d23-af4b-792af029e1f2',\n      'updatedBy': 'MyCarrier TMS',\n      'approvedReason': 'Incorrect Weight When Shipped',\n      'approvedOtherNotes': 'Some Notes'\n    })\n};\n\nfetch('https://localhost:7205/api/v2/Integrations/Invoices/Status/Approve/Reason', options)\n  .then(response => response.json())\n  .then(response => console.log(response))\n  .catch(err => console.error(err));\";"}]}},"/api/v2/Integrations/Invoices/ArchiveToggle/{type}":{"patch":{"tags":["Invoice Management"],"summary":"Archive or Unarchive the identified invoice.","parameters":[{"name":"type","in":"path","required":true,"schema":{"$ref":"#/components/schemas/MC.Invoice.Data.Enums.InvoiceArchivingType"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/MC.Invoice.API.Dtos.Integrations.IntegrationInvoiceUpdateRequest"}},"application/*+json":{"schema":{"$ref":"#/components/schemas/MC.Invoice.API.Dtos.Integrations.IntegrationInvoiceUpdateRequest"}}}},"responses":{"200":{"description":"The operation was successfully completed."},"400":{"description":"Bad request due to data validation.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"}}}},"401":{"description":"Unauthorized. The username or password provided is incorrect.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"}}}},"403":{"description":"Access to the requested resource is forbidden.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"}}}}},"security":[{"BasicAuth":["AuthenticationSchemes:BasicAuthentication"]}],"x-code-samples":[{"lang":"C#","source":"static async Task PatchAsync(HttpClient httpClient)\n{\n    using StringContent jsonContent = new(\n        JsonSerializer.Serialize(new IntegrationInvoiceUpdateRequest()\n        {\n            RecordId = Guid.Parse(\"3ca85f64-5717-4562-b3fc-5d953f66afa6\"),\n            UpdatedBy = \"MyCarrier TMS\",\n        }),\n        Encoding.UTF8,\n        \"application/json\");\n\n    using HttpResponseMessage response = await httpClient.PatchAsync(\n        \"https://localhost:7205/api/v2/Integrations/Invoices/ArchiveToggle/Archive\",\n        jsonContent);\n\n    response.EnsureSuccessStatusCode();\n\n    var jsonResponse = await response.Content.ReadAsStringAsync();\n\n}"},{"lang":"CURL","source":"curl --location --request PATCH 'https://localhost:7205/api/v2/Integrations/Invoices/ArchiveToggle/Archive' \\\n--header 'Content-Type: application/json' \\\n--header 'Authorization: Basic dHJhdmlzaF9hdF9kZGdsb2JhbC5jb21AaW50ZWdyYXR' \\\n--data '{\n  \"recordId\": \"3ca85f64-5717-4562-b3fc-5d953f66afa6\",\n  \"updatedBy\": \"MyCarrier TMS\"\n}'"},{"lang":"JavaScript","source":"const options = {\n  method: 'PATCH',\n  headers:\n{\n    'Content-Type': 'application/json',\n    'Authorization': 'Basic ' + btoa('username:password') },\n    body: JSON.stringify(\n    {\n      'recordId': '3ca85f64-5717-4562-b3fc-5d953f66afa6',\n      'updatedBy': 'MyCarrier TMS'\n    })\n};\n\nfetch('https://localhost:7205/api/v2/Integrations/Invoices/ArchiveToggle/Archive', options)\n  .then(response => response.json())\n  .then(response => console.log(response))\n  .catch(err => console.error(err));\";"}]}},"/api/v2/Integrations/Invoices/Create":{"post":{"tags":["Invoice Management"],"summary":"Creates new invoices that a customer needs to pay.","requestBody":{"content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/MC.Invoice.API.Dtos.Integrations.IntegrationCreateInvoiceRequest"}}},"application/*+json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/MC.Invoice.API.Dtos.Integrations.IntegrationCreateInvoiceRequest"}}}}},"responses":{"200":{"description":"The operation was successfully completed."},"400":{"description":"Bad request due to data validation.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"}}}},"401":{"description":"Unauthorized. The username or password provided is incorrect.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"}}}},"403":{"description":"Access to the requested resource is forbidden.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"}}}}},"security":[{"BasicAuth":["AuthenticationSchemes:BasicAuthentication"]}],"x-code-samples":[{"lang":"C#","source":"static async Task PostAsync(HttpClient httpClient)\n{\n    using StringContent jsonContent = new(\n        JsonSerializer.Serialize(new List<IntegrationCreateInvoiceRequest>() {\n            new ()\n            {\n               InvoiceNumber = \"23224234234\",\n               CarrierCode = \"SAIA\",\n               InvoiceDateTime = DateTime.Parse(\"2024-04-15T00:00:00\"),\n               Shipment = new ()\n               {\n                 CarrierProNumber = \"23224234234\"\n               }\n            }\n        }),\n        Encoding.UTF8, \"application/json\");\n\n    string username = \"username\";\n    string password = \"password\";\n    string authString = Convert.ToBase64String(\n        Encoding.UTF8.GetBytes($\"{username}:{password}\"));\n\n    httpClient.DefaultRequestHeaders.Authorization =\n        new AuthenticationHeaderValue(\"Basic\", authString);\n\n    using HttpResponseMessage response = await httpClient.PostAsync(\n        \"https://localhost:7205/api/v2/Integrations/Invoices/Create\",\n        jsonContent);\n\n    response.EnsureSuccessStatusCode();\n\n    var jsonResponse = await response.Content.ReadAsStringAsync();\n}"},{"lang":"CURL","source":"curl --location 'https://localhost:7205/api/v2/Integrations/Invoices/Create' \\\n--header 'Content-Type: application/json' \\\n--header 'Authorization: Basic ZW1haWKAKNFPOdf76YXBpLWtleQ65rhG' \\\n--data '[\n    {\n        \n        \"invoiceNumber\": \"23224234234\",\n        \"invoiceDateTime\": \"2024-04-15T00:00:00\",\n        \"carrierCode\": \"SAIA\",\n        \"shipment\": {\n            \"carrierPRONumber\": \"23224234234\"\n        }\n    }\n]'"},{"lang":"JavaScript","source":"const options = {\n  method: 'POST',\n  headers:\n{\n    'Content-Type': 'application/json',\n    'Authorization': 'Basic ' + btoa('username:password') },\n    body: JSON.stringify(\n    [{\n       invoiceNumber: '23224234234',\n       carrierCode: 'SAIA',\n       invoiceDateTime: '2024-04-15T16:20:40.144Z',\n       shipment:\n       {\n         carrierProNumber: '23224234234'\n       }\n    }]\n  )\n};\n\nfetch('https://localhost:7205/api/v2/Integrations/Payments/BulkPay', options)\n  .then(response => response.json())\n  .then(response => console.log(response))\n  .catch(err => console.error(err));\";"}]}},"/api/v2/Integrations/Notes/Save":{"post":{"tags":["Notes Management"],"summary":"Saving notes for the selected invoice.","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/MC.Invoice.API.Dtos.Integrations.IntegrationSaveNotesRequest"}},"application/*+json":{"schema":{"$ref":"#/components/schemas/MC.Invoice.API.Dtos.Integrations.IntegrationSaveNotesRequest"}}}},"responses":{"200":{"description":"The operation was successfully completed."},"400":{"description":"Bad request due to data validation.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"}}}},"401":{"description":"Unauthorized. The username or password provided is incorrect.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"}}}},"403":{"description":"Access to the requested resource is forbidden.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"}}}}},"security":[{"BasicAuth":["AuthenticationSchemes:BasicAuthentication"]}],"x-code-samples":[{"lang":"C#","source":"static async Task PostAsync(HttpClient httpClient)\n{\n    using StringContent jsonContent = new(\n        JsonSerializer.Serialize(new IntegrationSaveNotesRequest>()\n            {\n               InvoiceRecordId = Guid.Parse(\"bb1e7f78-ac4f-48d0-9a11-b31b2c36087f\"),\n               Content = \"Some note\",\n               RequestedBy = \"MyCarrier TMS\"\n            },\n        Encoding.UTF8, \"application/json\");\n\n    string username = \"username\";\n    string password = \"password\";\n    string authString = Convert.ToBase64String(\n        Encoding.UTF8.GetBytes($\"{username}:{password}\"));\n\n    httpClient.DefaultRequestHeaders.Authorization =\n        new AuthenticationHeaderValue(\"Basic\", authString);\n\n    using HttpResponseMessage response = await httpClient.PostAsync(\n        \"https://localhost:7205/api/v2/Integrations/Notes/Save\",\n        jsonContent);\n\n    response.EnsureSuccessStatusCode();\n\n    var jsonResponse = await response.Content.ReadAsStringAsync();\n}"},{"lang":"CURL","source":"curl --location 'https://localhost:7205/api/v2/Integrations/Notes/Save' \\\n--header 'Content-Type: application/json' \\\n--header 'Authorization: Basic amFtZXNmX2FlZTMyMC02YWI2LTQZTg5Njg0MjI4OWU=' \\\n--data '{\n    \"InvoiceRecordId\" : \"bb1e7f78-ac4f-48d0-9a11-b31b2c36087f\",\n    \"Content\" : \"Some note\",\n    \"RequestedBy\": \"MyCarrier TMS\"\n}'"},{"lang":"JavaScript","source":"const options = {\n  method: 'POST',\n  headers:\n{\n    'Content-Type': 'application/json',\n    'Authorization': 'Basic ' + btoa('username:password') },\n    body: JSON.stringify(\n    {\n       invoiceRecordId: 'bb1e7f78-ac4f-48d0-9a11-b31b2c36087f',\n       content: 'Some note',\n       requestedBy: 'MyCarrier TMS'\n    }\n  )\n};\n\nfetch('https://localhost:7205/api/v2/Integrations/Notes/Save', options)\n  .then(response => response.json())\n  .then(response => console.log(response))\n  .catch(err => console.error(err));"}]}},"/api/v2/Integrations/Notes/Remove":{"delete":{"tags":["Notes Management"],"summary":"Deletes notes for the selected invoice.","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/MC.Invoice.API.Dtos.Integrations.IntegrationDeleteNotesRequest"}},"application/*+json":{"schema":{"$ref":"#/components/schemas/MC.Invoice.API.Dtos.Integrations.IntegrationDeleteNotesRequest"}}}},"responses":{"200":{"description":"The operation was successfully completed."},"400":{"description":"Bad request due to data validation.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"}}}},"401":{"description":"Unauthorized. The username or password provided is incorrect.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"}}}},"403":{"description":"If user not authorized to perform requested action"},"404":{"description":"Invoice not found.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"}}}}},"security":[{"BasicAuth":["AuthenticationSchemes:BasicAuthentication"]}],"x-code-samples":[{"lang":"C#","source":"static async Task DeleteAsync(HttpClient httpClient)\n{\n    using StringContent jsonContent = new(\n        JsonSerializer.Serialize(new IntegrationDeleteNotesRequest() {\n               InvoiceRecordId = Guid.Parse(\"bb1e7f78-ac4f-48d0-9a11-b31b2c36087f\"),\n               NoteId = Guid.Parse(\"bb1e7f78-ac4f-48d0-9a11-b31b2c36087f\"),\n               RequestedBy = \"MyCarrier TMS\"\n        },\n        Encoding.UTF8, \"application/json\");\n\n    string username = \"username\";\n    string password = \"password\";\n    string authString = Convert.ToBase64String(\n        Encoding.UTF8.GetBytes($\"{username}:{password}\"));\n\n    httpClient.DefaultRequestHeaders.Authorization =\n        new AuthenticationHeaderValue(\"Basic\", authString);\n\n    using HttpResponseMessage response = await httpClient.DeleteAsync(\n        \"https://localhost:7205/api/v2/Integrations/Notes/Remove\",\n        jsonContent);\n\n    response.EnsureSuccessStatusCode();\n\n    var jsonResponse = await response.Content.ReadAsStringAsync();\n}"},{"lang":"CURL","source":"curl --location --request DELETE 'https://localhost:7205/api/v2/Integrations/Notes/Remove' \\\n--header 'Content-Type: application/json' \\\n--header 'Authorization: Basic amFtZXNmX2F0X21hbG91ZZTg5Njg0MjI4OWU=' \\\n--data '{\n    \"InvoiceRecordId\": \"bb1e7f78-ac4f-48d0-9a11-b31b2c36087f\",\n    \"NoteId\": \"69c5910d-3c16-5303-b1e0-c212761ce041\",\n    \"RequestedBy\" : \"MyCarrier TMS\"\n}'"},{"lang":"JavaScript","source":"const options = {\n  method: 'DELETE',\n  headers:\n{\n    'Content-Type': 'application/json',\n    'Authorization': 'Basic ' + btoa('username:password') },\n    body: JSON.stringify(\n    {\n       invoiceRecordId: 'bb1e7f78-ac4f-48d0-9a11-b31b2c36087f',\n       noteId: 'bb1e7f78-ac4f-48d0-9a11-b31b2c36087f',\n       requestedBy: 'MyCarrier TMS'\n    }\n  )\n};\n\nfetch('https://localhost:7205/api/v2/Integrations/Notes/Remove', options)\n  .then(response => response.json())\n  .then(response => console.log(response))\n  .catch(err => console.error(err));"}]}},"/api/v2/Integrations/Payments/Record":{"post":{"tags":["Payment Management"],"summary":"Records payment on the identified invoice.","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/MC.Invoice.API.Dtos.Integrations.IntegrationInvoiceRecordPaymentRequest"}},"application/*+json":{"schema":{"$ref":"#/components/schemas/MC.Invoice.API.Dtos.Integrations.IntegrationInvoiceRecordPaymentRequest"}}}},"responses":{"200":{"description":"Returns a successfully added payment.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/MC.Invoice.API.Dtos.Integrations.IntegrationInvoicePaymentStatusResponse"}}}},"400":{"description":"Bad request due to data validation.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"}}}},"401":{"description":"Unauthorized. The username or password provided is incorrect.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"}}}},"403":{"description":"Access to the requested resource is forbidden.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"}}}},"404":{"description":"No invoices found.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"}}}}},"security":[{"BasicAuth":["AuthenticationSchemes:BasicAuthentication"]}],"x-code-samples":[{"lang":"C#","source":"static async Task PostAsync(HttpClient httpClient)\n{\n    using StringContent jsonContent = new(\n        JsonSerializer.Serialize(new IntegrationInvoiceRecordPaymentRequest() {\n\n                InvoiceRecordId = Guid.Parse(\"d3517fee-71e0-4ea7-bde9-a63e77faa746\"),\n                PaymentDate = DateTime.Parse(\"2024-03-19T16:20:40.144Z\"),\n                PaymentNotes = \"Some notes\",\n                CreatedBy = \"MyCarrier TMS\",\n                ReceiptNumber = \"59687\",\n                ConfirmationNumber = \"2224\",\n                AchNumber = \"123456789\",\n                PaymentAmount = 20\n        },\n        Encoding.UTF8, \"application/json\");\n\n    string username = \"username\";\n    string password = \"password\";\n    string authString = Convert.ToBase64String(\n        Encoding.UTF8.GetBytes($\"{username}:{password}\"));\n\n    httpClient.DefaultRequestHeaders.Authorization =\n        new AuthenticationHeaderValue(\"Basic\", authString);\n\n    using HttpResponseMessage response = await httpClient.PostAsync(\n        \"https://localhost:7205/api/v2/Integrations/Payments/Record\",jsonContent);\n\n    response.EnsureSuccessStatusCode();\n\n    var jsonResponse = await response.Content.ReadAsStringAsync();\n}"},{"lang":"CURL","source":"curl --location 'https://localhost:7205/api/v2/Integrations/Payments/Record' \\\n--header 'Content-Type: application/json' \\\n--header 'Authorization: Basic ZW1haWKAKNFPOdf76YXBpLWtleQ65rhG' \\\n--data '[\n  {\n    \"invoiceRecordId\": \"d3517fee-71e0-4ea7-bde9-a63e77faa746\",\n    \"paymentDate\": \"2024-03-19T16:20:40.144Z\",\n    \"paymentNotes\": \"Some notes\",\n    \"createdBy\": \"MyCarrier TMS\",\n    \"receiptNumber\": \"59687\",\n    \"confirmationNumber\": \"2224\",\n    \"achNumber\": \"123456789\",\n    \"paymentAmount\": 20\n  }\n]'"},{"lang":"JavaScript","source":"const options = {\n  method: 'POST',\n  headers:\n{\n    'Content-Type': 'application/json',\n    'Authorization': 'Basic ' + btoa('username:password') },\n    body: JSON.stringify(\n    [{\n       invoiceRecordId: 'd3517fee-71e0-4ea7-bde9-a63e77faa746',\n       paymentDate: '2024-03-19T16:20:40.144Z',\n       paymentNotes: 'Some notes',\n       createdBy: 'MyCarrier TMS',\n       receiptNumber: '59687',\n       confirmationNumber: '2224',\n       achNumber: '123456789',\n       paymentAmount: 20\n    }]\n  )\n};\n\nfetch('https://localhost:7205/api/v2/Integrations/Payments/Record', options)\n  .then(response => response.json())\n  .then(response => console.log(response))\n  .catch(err => console.error(err));"}]}},"/api/v2/Integrations/Payments/{paymentId}":{"put":{"tags":["Payment Management"],"summary":"Modify the specific payment for the identified invoice.","parameters":[{"name":"paymentId","in":"path","required":true,"schema":{"type":"string","format":"uuid"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/MC.Invoice.API.Dtos.Integrations.IntegrationInvoiceRecordPaymentRequest"}},"application/*+json":{"schema":{"$ref":"#/components/schemas/MC.Invoice.API.Dtos.Integrations.IntegrationInvoiceRecordPaymentRequest"}}}},"responses":{"200":{"description":"Returns a successfully updated payment.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/MC.Invoice.API.Dtos.Integrations.IntegrationInvoicePaymentStatusResponse"}}}},"400":{"description":"Bad request due to data validation.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"}}}},"401":{"description":"Unauthorized. The username or password provided is incorrect.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"}}}},"403":{"description":"Access to the requested resource is forbidden.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"}}}},"404":{"description":"No invoices found.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"}}}}},"security":[{"BasicAuth":["AuthenticationSchemes:BasicAuthentication"]}],"x-code-samples":[{"lang":"C#","source":"static async Task PutAsync(HttpClient httpClient)\n{\n    using StringContent jsonContent = new(\n        JsonSerializer.Serialize(new IntegrationInvoiceRecordPaymentRequest() {\n                InvoiceRecordId = Guid.Parse(\"d3517fee-71e0-4ea7-bde9-a63e77faa746\"),\n                PaymentDate = DateTime.Parse(\"2024-03-19T16:20:40.144Z\"),\n                PaymentNotes = \"Some notes\",\n                CreatedBy = \"MyCarrier TMS\",\n                ReceiptNumber = \"59687\",\n                ConfirmationNumber = \"2224\",\n                AchNumber = \"123456789\",\n                PaymentAmount = 20\n        }),\n        Encoding.UTF8, \"application/json\");\n\n    string username = \"username\";\n    string password = \"password\";\n    string authString = Convert.ToBase64String(\n        Encoding.UTF8.GetBytes($\"{username}:{password}\"));\n\n    httpClient.DefaultRequestHeaders.Authorization =\n        new AuthenticationHeaderValue(\"Basic\", authString);\n\n    using HttpResponseMessage response = await httpClient.PutAsync(\n        \"https://localhost:7205/api/v2/Integrations/Payments/3fa85f64-5717-4562-b3fc-2c963f66afa6\",jsonContent);\n\n    response.EnsureSuccessStatusCode();\n\n    var jsonResponse = await response.Content.ReadAsStringAsync();\n}"},{"lang":"CURL","source":"curl --location --request PUT 'https://localhost:7205/api/v2/Integrations/Payments/3fa85f64-5717-4562-b3fc-2c963f66afa6' \\\n--header 'Content-Type: application/json' \\\n--header 'Authorization: Basic ZW1haWKAKNFPOdf76YXBpLWtleQ65rhG' \\\n--data '[\n  {\n    \"invoiceRecordId\": \"d3517fee-71e0-4ea7-bde9-a63e77faa746\",\n    \"paymentDate\": \"2024-03-19T16:20:40.144Z\",\n    \"paymentNotes\": \"Some notes\",\n    \"createdBy\": \"MyCarrier TMS\",\n    \"receiptNumber\": \"59687\",\n    \"confirmationNumber\": \"2224\",\n    \"achNumber\": \"123456789\",\n    \"paymentAmount\": 20\n  }\n]'"},{"lang":"JavaScript","source":"const options = {\n  method: 'PUT',\n  headers:\n{\n    'Content-Type': 'application/json',\n    'Authorization': 'Basic ' + btoa('username:password') },\n    body: JSON.stringify(\n    [{\n       invoiceRecordId: 'd3517fee-71e0-4ea7-bde9-a63e77faa746',\n       paymentDate: '2024-03-19T16:20:40.144Z',\n       paymentNotes: 'Some notes',\n       createdBy: 'MyCarrier TMS',\n       receiptNumber: '59687',\n       confirmationNumber: '2224',\n       achNumber: '123456789',\n       paymentAmount: 20\n    }]\n  )\n};\n\nfetch('https://localhost:7205/api/v2/Integrations/Payments/3fa85f64-5717-4562-b3fc-2c963f66afa6', options)\n  .then(response => response.json())\n  .then(response => console.log(response))\n  .catch(err => console.error(err));"}]}},"/api/v1/Integrations/Invoices/Filter":{"post":{"tags":["View Invoices"],"summary":"Search invoices by filter.","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/MC.Invoice.API.Dtos.Integrations.IntegrationsInvoiceFilterRequest"}},"application/*+json":{"schema":{"$ref":"#/components/schemas/MC.Invoice.API.Dtos.Integrations.IntegrationsInvoiceFilterRequest"}}}},"responses":{"200":{"description":"Returns found invoices by requested filter.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/MC.Invoice.API.Dtos.Integrations.IntegrationInvoiceFilterResponse"}}}},"400":{"description":"Bad request due to data validation.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"}}}},"401":{"description":"Unauthorized. The username or password provided is incorrect.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"}}}},"403":{"description":"Access to the requested resource is forbidden.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"}}}}},"security":[{"BasicAuth":["AuthenticationSchemes:BasicAuthentication"]}],"x-code-samples":[{"lang":"C#","source":"static async Task PostAsync(HttpClient httpClient)\n{\n    using StringContent jsonContent = new(\n        JsonSerializer.Serialize(new IntegrationsInvoiceFilterRequest()\n        {\n            Statuses = new[] {\n                InvoiceStatusType.Open,\n                InvoiceStatusType.Approved\n            },\n            Pagination = new()\n            {\n                Skip = 0,\n                Take = 10\n            }\n        }),\n        Encoding.UTF8, \"application/json\");\n\n    string username = \"username\";\n    string password = \"password\";\n    string authString = Convert.ToBase64String(\n        Encoding.UTF8.GetBytes($\"{username}:{password}\"));\n\n    httpClient.DefaultRequestHeaders.Authorization =\n        new AuthenticationHeaderValue(\"Basic\", authString);\n\n    using HttpResponseMessage response = await httpClient.PostAsync(\n        \"https://localhost:7205/api/v1/integrations/invoices/filter\",\n        jsonContent);\n\n    response.EnsureSuccessStatusCode();\n\n    var jsonResponse = await response.Content.ReadAsStringAsync();\n}"},{"lang":"CURL","source":"curl --location 'https://localhost:7205/api/v1/integrations/invoices/filter' \\\n--header 'Content-Type: application/json' \\\n--header 'Authorization: Basic dHJhdmlzaF9hdF9kZGdsb2JhbC5jb21AaW50ZWdyYXRlZHRtLmR' \\\n--data '{\n    \"statuses\": [\"Open\",\"Approved\"],\n    \"pagination\": {\n        \"skip\" : 0,\n        \"take\" : 10\n    }\n}'"},{"lang":"JavaScript","source":"const options = {\n  method: 'POST',\n  headers:\n{\n    'Content-Type': 'application/json',\n    'Authorization': 'Basic ' + btoa('username:password') },\n    body: JSON.stringify({\n       statuses: ['Open','Approved'],\n       pagination: {\n            skip: 0,\n            take: 10\n       },    \n    })\n};\n\nfetch('https://localhost:7205/api/v1/integrations/invoices/filter', options)\n  .then(response => response.json())\n  .then(response => console.log(response))\n  .catch(err => console.error(err));\";"}]}},"/api/v2/Integrations/Invoices/{recordId}":{"get":{"tags":["View Invoices"],"summary":"Returns an invoice record for the requested invoice identifier.","parameters":[{"name":"recordId","in":"path","required":true,"schema":{"type":"string","format":"uuid"}}],"responses":{"200":{"description":"Returns the invoice record for the requested invoice identifier.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/MC.Invoice.API.Dtos.Integrations.IntegrationInvoiceSummaryResponse"}}}},"401":{"description":"Unauthorized. The username or password provided is incorrect.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"}}}},"403":{"description":"Access to the requested resource is forbidden.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"}}}},"404":{"description":"No invoices were able to be found.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"}}}}},"security":[{"BasicAuth":["AuthenticationSchemes:BasicAuthentication"]}],"x-code-samples":[{"lang":"C#","source":"static async Task GetAsync(HttpClient httpClient)\n{\n    string username = \"username\";\n    string password = \"password\";\n    string authString = Convert.ToBase64String(\n        Encoding.UTF8.GetBytes($\"{username}:{password}\"));\n\n    httpClient.DefaultRequestHeaders.Authorization =\n        new AuthenticationHeaderValue(\"Basic\", authString);\n\n    using HttpResponseMessage response = await httpClient.GetAsync(\"https://localhost:7205/api/v2/Integrations/Invoices/bb1e7f78-ac4f-48d0-9a11-b31b2c36087f\");\n\n    response.EnsureSuccessStatusCode();\n\n    var jsonResponse = await response.Content.ReadAsStringAsync();\n}"},{"lang":"CURL","source":"curl --location 'https://localhost:7205/api/v2/Integrations/Invoices/bb1e7f78-ac4f-48d0-9a11-b31b2c36087f' \\\n--header 'Content-Type: application/json' \\\n--header 'Authorization: Basic ZW1haWKAKNFPOdf76YXBpLWtleQ65rhG'"},{"lang":"JavaScript","source":"const invoiceRecordId = 'bb1e7f78-ac4f-48d0-9a11-b31b2c36087f';\n\nconst options = {\n  method: 'GET',\n  headers: {accept: '*/*'},\n};\n\nfetch(`https://localhost:7205/api/v2/Integrations/Invoices/${invoiceRecordId}`, options)\n  .then(response => response.json())\n  .then(response => console.log(response))\n  .catch(err => console.error(err));"}]}},"/api/v2/Integrations/Notes/{invoiceRecordId}":{"get":{"tags":["View Notes"],"summary":"Returns an invoice notes for the requested invoice identifier.","parameters":[{"name":"invoiceRecordId","in":"path","required":true,"schema":{"type":"string","format":"uuid"}}],"responses":{"200":{"description":"The operation was successfully completed.","content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/MC.Invoice.API.Dtos.Integrations.IntegrationInvoiceNoteResponse"}}}}},"401":{"description":"Unauthorized. The username or password provided is incorrect.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"}}}},"403":{"description":"Access to the requested resource is forbidden.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"}}}},"404":{"description":"Invoice not found.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"}}}}},"security":[{"BasicAuth":["AuthenticationSchemes:BasicAuthentication"]}],"x-code-samples":[{"lang":"C#","source":"static async Task GetAsync(HttpClient httpClient)\n{\n    string username = \"username\";\n    string password = \"password\";\n    string authString = Convert.ToBase64String(\n        Encoding.UTF8.GetBytes($\"{username}:{password}\"));\n\n    httpClient.DefaultRequestHeaders.Authorization =\n        new AuthenticationHeaderValue(\"Basic\", authString);\n\n    using HttpResponseMessage response = await httpClient.GetAsync(\"https://localhost:7205/api/v2/Integrations/Notes/bb1e7f78-ac4f-48d0-9a11-b31b2c36087f\");\n\n    response.EnsureSuccessStatusCode();\n\n    var jsonResponse = await response.Content.ReadAsStringAsync();\n}"},{"lang":"CURL","source":"curl --location 'https://localhost:7205/api/v2/Integrations/Notes/bb1e7f78-ac4f-48d0-9a11-b31b2c36087f' \\\n--header 'Content-Type: application/json' \\\n--header 'Authorization: Basic amFtZXN2LTQzNzYtODc2YS0zZTg5Njg0MjI4OWU='"},{"lang":"JavaScript","source":"const invoiceRecordId = 'bb1e7f78-ac4f-48d0-9a11-b31b2c36087f';\n\nconst options = {\n  method: 'GET',\n  headers: {accept: '*/*'},\n};\n\nfetch(`https://localhost:7205/api/v2/Integrations/Notes/${invoiceRecordId}`, options)\n  .then(response => response.json())\n  .then(response => console.log(response))\n  .catch(err => console.error(err));"}]}}},"components":{"schemas":{"MC.Invoice.API.Dtos.Generic.PaginationRequest":{"type":"object","properties":{"skip":{"type":"integer","format":"int32"},"take":{"maximum":2147483647,"minimum":1,"type":"integer","format":"int32"}},"additionalProperties":false},"MC.Invoice.API.Dtos.Integrations.IntegrationCommodityItem":{"type":"object","properties":{"description":{"type":"string","nullable":true},"piecesNumber":{"type":"integer","format":"int32","nullable":true},"totalWeight":{"type":"integer","format":"int32","nullable":true},"freightClassCode":{"type":"string","nullable":true},"packingType":{"type":"string","nullable":true}},"additionalProperties":false},"MC.Invoice.API.Dtos.Integrations.IntegrationCreateInvoiceRequest":{"required":["carrierCode","invoiceDateTime","invoiceNumber"],"type":"object","properties":{"invoiceNumber":{"minLength":1,"type":"string"},"carrierCode":{"minLength":1,"type":"string"},"invoiceDateTime":{"type":"string","format":"date-time"},"termsOfSaleDueDate":{"type":"string","format":"date-time","nullable":true},"createdBy":{"type":"string","nullable":true},"shipment":{"$ref":"#/components/schemas/MC.Invoice.API.Dtos.Integrations.IntegrationCreateInvoiceRequest_CreateInvoiceShipment"}},"additionalProperties":false},"MC.Invoice.API.Dtos.Integrations.IntegrationCreateInvoiceRequest_Commodity":{"type":"object","properties":{"description":{"type":"string","nullable":true},"piecesNumber":{"type":"integer","format":"int32","nullable":true},"totalWeight":{"type":"integer","format":"int32","nullable":true},"freightClassCode":{"type":"string","nullable":true},"packingType":{"type":"string","nullable":true}},"additionalProperties":false},"MC.Invoice.API.Dtos.Integrations.IntegrationCreateInvoiceRequest_CreateInvoiceShipment":{"required":["carrierProNumber"],"type":"object","properties":{"carrierProNumber":{"minLength":1,"type":"string"},"customerBOLNumber":{"type":"string","nullable":true},"poNumber":{"type":"string","nullable":true},"delivery":{"$ref":"#/components/schemas/MC.Invoice.API.Dtos.Integrations.IntegrationCreateInvoiceRequest_ShippingTimeline"},"pickup":{"$ref":"#/components/schemas/MC.Invoice.API.Dtos.Integrations.IntegrationCreateInvoiceRequest_ShippingTimeline"},"shipperInfo":{"$ref":"#/components/schemas/MC.Invoice.API.Dtos.Integrations.IntegrationCreateInvoiceRequest_InvoiceCompanyInfo"},"consigneeInfo":{"$ref":"#/components/schemas/MC.Invoice.API.Dtos.Integrations.IntegrationCreateInvoiceRequest_InvoiceCompanyInfo"},"requesterInfo":{"$ref":"#/components/schemas/MC.Invoice.API.Dtos.Integrations.IntegrationCreateInvoiceRequest_InvoiceCompanyAddress"},"commodities":{"type":"array","items":{"$ref":"#/components/schemas/MC.Invoice.API.Dtos.Integrations.IntegrationCreateInvoiceRequest_Commodity"},"nullable":true},"lineItems":{"type":"array","items":{"$ref":"#/components/schemas/MC.Invoice.Data.Entities.ShipmentPriceDetail"},"nullable":true}},"additionalProperties":false},"MC.Invoice.API.Dtos.Integrations.IntegrationCreateInvoiceRequest_InvoiceCompanyAddress":{"type":"object","properties":{"companyName":{"type":"string","nullable":true},"streetLine1":{"type":"string","nullable":true},"streetLine2":{"type":"string","nullable":true},"city":{"type":"string","nullable":true},"state":{"type":"string","nullable":true},"zip":{"type":"string","nullable":true},"country":{"type":"string","nullable":true}},"additionalProperties":false},"MC.Invoice.API.Dtos.Integrations.IntegrationCreateInvoiceRequest_InvoiceCompanyInfo":{"type":"object","properties":{"companyName":{"type":"string","nullable":true},"streetLine1":{"type":"string","nullable":true},"streetLine2":{"type":"string","nullable":true},"city":{"type":"string","nullable":true},"state":{"type":"string","nullable":true},"zip":{"type":"string","nullable":true},"country":{"type":"string","nullable":true},"contactName":{"type":"string","nullable":true},"contactEmail":{"type":"string","nullable":true},"contactPhone":{"type":"string","nullable":true}},"additionalProperties":false},"MC.Invoice.API.Dtos.Integrations.IntegrationCreateInvoiceRequest_ShippingTimeline":{"type":"object","properties":{"estimatedDate":{"type":"string","format":"date-time","nullable":true},"actualDate":{"type":"string","format":"date-time","nullable":true}},"additionalProperties":false},"MC.Invoice.API.Dtos.Integrations.IntegrationDeleteNotesRequest":{"required":["invoiceRecordId","noteId"],"type":"object","properties":{"invoiceRecordId":{"type":"string","format":"uuid"},"noteId":{"type":"string","format":"uuid"},"requestedBy":{"type":"string","nullable":true}},"additionalProperties":false},"MC.Invoice.API.Dtos.Integrations.IntegrationInvoiceApprovalReasonRequest":{"required":["approvedReason","recordId","updatedBy"],"type":"object","properties":{"recordId":{"type":"string","format":"uuid"},"updatedBy":{"minLength":1,"type":"string"},"approvedReason":{"minLength":1,"type":"string"},"approvedOtherNotes":{"type":"string","nullable":true}},"additionalProperties":false},"MC.Invoice.API.Dtos.Integrations.IntegrationInvoiceDetailResponse":{"type":"object","properties":{"recordId":{"type":"string","format":"uuid"},"shipment":{"$ref":"#/components/schemas/MC.Invoice.API.Dtos.Integrations.IntegrationInvoiceShipment"},"shipmentIdentificationNumber":{"type":"string","nullable":true},"interchangeDateTime":{"type":"string","format":"date-time","nullable":true},"currencyIdentifier":{"type":"string","nullable":true},"termsOfSaleDueDate":{"type":"string","format":"date-time","nullable":true},"invoiceTransactionControlNumber":{"type":"string","nullable":true},"invoiceNumber":{"type":"string","nullable":true},"invoiceDateTime":{"type":"string","format":"date-time"},"invoiceType":{"$ref":"#/components/schemas/MC.Invoice.Data.Enums.InvoiceCategoryType"},"identificationCode":{"type":"string","nullable":true},"uploadedDateTime":{"type":"string","format":"date-time"},"status":{"$ref":"#/components/schemas/MC.Invoice.Data.Enums.InvoiceStatusType"},"tags":{"type":"array","items":{"$ref":"#/components/schemas/MC.Invoice.API.Dtos.Integrations.IntegrationInvoiceTagResponse"},"nullable":true},"notes":{"type":"string","nullable":true},"quoteAmount":{"type":"number","format":"double","nullable":true},"invoiceAmount":{"type":"number","format":"double","nullable":true},"quoteReferenceId":{"type":"string","nullable":true},"quoteId":{"type":"integer","format":"int64","nullable":true}},"additionalProperties":false},"MC.Invoice.API.Dtos.Integrations.IntegrationInvoiceDetailsResponse":{"type":"object","properties":{"invoiceAmount":{"type":"number","format":"double","nullable":true},"invoiceAmountDue":{"type":"number","format":"double","nullable":true},"totalAmountPaid":{"type":"number","format":"double","nullable":true},"currencyIdentifier":{"type":"string","nullable":true},"status":{"$ref":"#/components/schemas/MC.Invoice.Data.Enums.InvoiceStatusType"},"notes":{"type":"string","nullable":true},"isArchived":{"type":"boolean"}},"additionalProperties":false},"MC.Invoice.API.Dtos.Integrations.IntegrationInvoiceFilterResponse":{"type":"object","properties":{"totalInvoicesCount":{"type":"integer","format":"int64"},"totalFiltered":{"type":"integer","format":"int32","readOnly":true},"invoices":{"type":"array","items":{"$ref":"#/components/schemas/MC.Invoice.API.Dtos.Integrations.IntegrationInvoiceDetailResponse"},"nullable":true}},"additionalProperties":false},"MC.Invoice.API.Dtos.Integrations.IntegrationInvoiceNoteResponse":{"type":"object","properties":{"noteId":{"type":"string","format":"uuid"},"updatedAt":{"type":"string","format":"date-time"},"content":{"type":"string","nullable":true},"userName":{"type":"string","nullable":true}},"additionalProperties":false},"MC.Invoice.API.Dtos.Integrations.IntegrationInvoicePaymentResponse":{"type":"object","properties":{"paymentId":{"type":"string","format":"uuid"},"paymentDate":{"type":"string","format":"date-time"},"paymentAmount":{"type":"number","format":"double"},"paymentNotes":{"type":"string","nullable":true},"createdBy":{"type":"string","nullable":true}},"additionalProperties":false},"MC.Invoice.API.Dtos.Integrations.IntegrationInvoicePaymentStatusResponse":{"type":"object","properties":{"invoiceRecordId":{"type":"string","format":"uuid"},"invoiceStatus":{"$ref":"#/components/schemas/MC.Invoice.Data.Enums.InvoiceStatusType"},"data":{"type":"array","items":{"$ref":"#/components/schemas/MC.Invoice.API.Dtos.Integrations.IntegrationInvoicePaymentResponse"},"nullable":true}},"additionalProperties":false},"MC.Invoice.API.Dtos.Integrations.IntegrationInvoiceRecordPaymentRequest":{"required":["invoiceRecordId","paymentDate"],"type":"object","properties":{"invoiceRecordId":{"type":"string","format":"uuid"},"paymentAmount":{"type":"number","format":"double","nullable":true},"paymentDate":{"type":"string","format":"date-time"},"paymentNotes":{"type":"string","nullable":true},"createdBy":{"type":"string","nullable":true},"receiptNumber":{"type":"string","nullable":true},"confirmationNumber":{"type":"string","nullable":true},"achNumber":{"type":"string","nullable":true}},"additionalProperties":false},"MC.Invoice.API.Dtos.Integrations.IntegrationInvoiceShipment":{"type":"object","properties":{"customerBOLNumber":{"type":"string","nullable":true},"poNumber":{"type":"string","nullable":true},"estimatedDeliveryDate":{"type":"string","format":"date-time","nullable":true},"carrierProNumber":{"type":"string","nullable":true},"totalShipmentWeight":{"type":"number","format":"double"},"pickupDate":{"type":"string","format":"date-time","nullable":true},"actualPickupDate":{"type":"string","format":"date-time","nullable":true},"carrierInfo":{"$ref":"#/components/schemas/MC.Invoice.Data.Entities.InvoiceCarrierInfo"},"shipperInfo":{"$ref":"#/components/schemas/MC.Invoice.Data.Entities.CompanyInfoExtended"},"consigneeInfo":{"$ref":"#/components/schemas/MC.Invoice.Data.Entities.CompanyInfo"},"requesterInfo":{"$ref":"#/components/schemas/MC.Invoice.Data.Entities.CompanyInfo"},"handlingUnits":{"type":"array","items":{"$ref":"#/components/schemas/MC.Invoice.Data.Entities.HandlingUnit"},"nullable":true},"shipmentPriceDetails":{"type":"array","items":{"$ref":"#/components/schemas/MC.Invoice.Data.Entities.ShipmentPriceDetail"},"nullable":true}},"additionalProperties":false},"MC.Invoice.API.Dtos.Integrations.IntegrationInvoiceShipmentResponse":{"type":"object","properties":{"carrierProNumber":{"type":"string","nullable":true},"customerBOLNumber":{"type":"string","nullable":true},"poNumber":{"type":"string","nullable":true},"totalWeight":{"type":"integer","format":"int32","nullable":true},"delivery":{"$ref":"#/components/schemas/MC.Invoice.API.Dtos.Integrations.ShippingTimeline"},"pickup":{"$ref":"#/components/schemas/MC.Invoice.API.Dtos.Integrations.ShippingTimeline"},"shipperInfo":{"$ref":"#/components/schemas/MC.Invoice.API.Dtos.Integrations.InvoiceCompanyInfo"},"consigneeInfo":{"$ref":"#/components/schemas/MC.Invoice.API.Dtos.Integrations.InvoiceCompanyInfo"},"requesterInfo":{"$ref":"#/components/schemas/MC.Invoice.API.Dtos.Integrations.InvoiceCompanyAddress"},"commodities":{"type":"array","items":{"$ref":"#/components/schemas/MC.Invoice.API.Dtos.Integrations.IntegrationCommodityItem"},"nullable":true},"lineItems":{"type":"array","items":{"$ref":"#/components/schemas/MC.Invoice.Data.Entities.ShipmentPriceDetail"},"nullable":true}},"additionalProperties":false},"MC.Invoice.API.Dtos.Integrations.IntegrationInvoiceSummaryResponse":{"type":"object","properties":{"recordId":{"type":"string","format":"uuid"},"invoiceNumber":{"type":"string","nullable":true},"carrierCode":{"type":"string","nullable":true},"identificationCode":{"type":"string","nullable":true},"invoiceTransactionControlNumber":{"type":"string","nullable":true},"invoiceDateTime":{"type":"string","format":"date-time"},"termsOfSaleDueDate":{"type":"string","format":"date-time","nullable":true},"invoiceDetails":{"$ref":"#/components/schemas/MC.Invoice.API.Dtos.Integrations.IntegrationInvoiceDetailsResponse"},"tags":{"type":"array","items":{"$ref":"#/components/schemas/MC.Invoice.API.Dtos.Integrations.IntegrationInvoiceTagResponse"},"nullable":true},"paymentHistory":{"type":"array","items":{"$ref":"#/components/schemas/MC.Invoice.API.Dtos.Integrations.IntegrationInvoicePaymentResponse"},"nullable":true},"shipment":{"$ref":"#/components/schemas/MC.Invoice.API.Dtos.Integrations.IntegrationInvoiceShipmentResponse"}},"additionalProperties":false},"MC.Invoice.API.Dtos.Integrations.IntegrationInvoiceTagResponse":{"type":"object","properties":{"name":{"type":"string","nullable":true}},"additionalProperties":false},"MC.Invoice.API.Dtos.Integrations.IntegrationInvoiceUpdateRequest":{"required":["recordId","updatedBy"],"type":"object","properties":{"recordId":{"type":"string","format":"uuid"},"updatedBy":{"minLength":1,"type":"string"}},"additionalProperties":false},"MC.Invoice.API.Dtos.Integrations.IntegrationSaveNotesRequest":{"required":["content","invoiceRecordId"],"type":"object","properties":{"invoiceRecordId":{"type":"string","format":"uuid"},"content":{"maxLength":300,"minLength":1,"type":"string"},"requestedBy":{"type":"string","nullable":true}},"additionalProperties":false},"MC.Invoice.API.Dtos.Integrations.IntegrationsInvoiceFilterRequest":{"type":"object","properties":{"statuses":{"type":"array","items":{"$ref":"#/components/schemas/MC.Invoice.Data.Enums.InvoiceStatusType"},"nullable":true},"tags":{"type":"array","items":{"type":"string"},"nullable":true},"quoteReferenceIds":{"type":"array","items":{"type":"string"},"nullable":true},"isArchived":{"type":"boolean","nullable":true},"pagination":{"$ref":"#/components/schemas/MC.Invoice.API.Dtos.Generic.PaginationRequest"},"invoiceDateTime":{"$ref":"#/components/schemas/MC.Invoice.Data.Dtos.DateRange"}},"additionalProperties":false},"MC.Invoice.API.Dtos.Integrations.InvoiceCompanyAddress":{"type":"object","properties":{"companyName":{"type":"string","nullable":true},"streetLine1":{"type":"string","nullable":true},"streetLine2":{"type":"string","nullable":true},"city":{"type":"string","nullable":true},"state":{"type":"string","nullable":true},"zip":{"type":"string","nullable":true},"country":{"type":"string","nullable":true}},"additionalProperties":false},"MC.Invoice.API.Dtos.Integrations.InvoiceCompanyInfo":{"type":"object","properties":{"companyName":{"type":"string","nullable":true},"streetLine1":{"type":"string","nullable":true},"streetLine2":{"type":"string","nullable":true},"city":{"type":"string","nullable":true},"state":{"type":"string","nullable":true},"zip":{"type":"string","nullable":true},"country":{"type":"string","nullable":true},"contactName":{"type":"string","nullable":true},"contactEmail":{"type":"string","nullable":true},"contactPhone":{"type":"string","nullable":true}},"additionalProperties":false},"MC.Invoice.API.Dtos.Integrations.ShippingTimeline":{"type":"object","properties":{"estimatedDate":{"type":"string","format":"date-time","nullable":true},"actualDate":{"type":"string","format":"date-time","nullable":true}},"additionalProperties":false},"MC.Invoice.Data.Dtos.DateRange":{"type":"object","properties":{"from":{"type":"string","format":"date-time","nullable":true},"to":{"type":"string","format":"date-time","nullable":true}},"additionalProperties":false},"MC.Invoice.Data.Entities.Commodity":{"type":"object","properties":{"description":{"type":"string","nullable":true},"piecesNumber":{"type":"integer","format":"int32","nullable":true},"totalWeight":{"type":"integer","format":"int32","nullable":true},"freightClass":{"$ref":"#/components/schemas/MC.Invoice.Data.Entities.FreightClass"},"packingType":{"type":"string","nullable":true}},"additionalProperties":false},"MC.Invoice.Data.Entities.CompanyInfo":{"type":"object","properties":{"companyName":{"type":"string","nullable":true},"streetLine1":{"type":"string","nullable":true},"streetLine2":{"type":"string","nullable":true},"city":{"type":"string","nullable":true},"state":{"type":"string","nullable":true},"zip":{"type":"string","nullable":true},"country":{"type":"string","nullable":true}},"additionalProperties":false},"MC.Invoice.Data.Entities.CompanyInfoExtended":{"type":"object","properties":{"companyName":{"type":"string","nullable":true},"streetLine1":{"type":"string","nullable":true},"streetLine2":{"type":"string","nullable":true},"city":{"type":"string","nullable":true},"state":{"type":"string","nullable":true},"zip":{"type":"string","nullable":true},"country":{"type":"string","nullable":true},"name":{"type":"string","nullable":true},"email":{"type":"string","nullable":true},"phone":{"type":"string","nullable":true}},"additionalProperties":false},"MC.Invoice.Data.Entities.FreightClass":{"type":"object","properties":{"code":{"type":"string","nullable":true}},"additionalProperties":false},"MC.Invoice.Data.Entities.HandlingUnit":{"type":"object","properties":{"commodities":{"type":"array","items":{"$ref":"#/components/schemas/MC.Invoice.Data.Entities.Commodity"},"nullable":true}},"additionalProperties":false},"MC.Invoice.Data.Entities.InvoiceCarrierInfo":{"type":"object","properties":{"carrierCode":{"type":"string","nullable":true}},"additionalProperties":false},"MC.Invoice.Data.Entities.ShipmentPriceDetail":{"type":"object","properties":{"description":{"type":"string","nullable":true},"amount":{"type":"number","format":"double"},"chargeCode":{"type":"string","nullable":true}},"additionalProperties":false},"MC.Invoice.Data.Enums.IntegrationInvoiceStatusType":{"enum":["Open","Approved","Paid","ShortPaid"],"type":"string"},"MC.Invoice.Data.Enums.InvoiceArchivingType":{"enum":["Unarchive","Archive"],"type":"string"},"MC.Invoice.Data.Enums.InvoiceCategoryType":{"enum":["New","Correction","Cancellation","RB","Unknown"],"type":"string"},"MC.Invoice.Data.Enums.InvoiceStatusType":{"enum":["Open","Approved","Dispute","Denied","Cancelled","AutoApproved","Paid","ShortPaid"],"type":"string"},"Microsoft.AspNetCore.Mvc.ProblemDetails":{"type":"object","properties":{"type":{"type":"string","nullable":true},"title":{"type":"string","nullable":true},"status":{"type":"integer","format":"int32","nullable":true},"detail":{"type":"string","nullable":true},"instance":{"type":"string","nullable":true}},"additionalProperties":{}}},"securitySchemes":{"BasicAuth":{"type":"http","scheme":"basic"}}}}