openapi: 3.2.0
info:
  title: FreightAudit Shipments API
  version: v1
servers:
- url: https://invoice.mycarriertms.com
tags:
- name: Shipments
paths:
  /api/Shipment/Search:
    post:
      tags:
      - Shipments
      parameters:
      - name: Environment
        in: header
        example: dev
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/MC.Invoice.API.Dtos.Shipments.SearchShipmentsRequest'
          application/*+json:
            schema:
              $ref: '#/components/schemas/MC.Invoice.API.Dtos.Shipments.SearchShipmentsRequest'
      responses:
        '200':
          description: OK
        '401':
          description: If Authorization header not present, has no value or no valid jwt bearer token
        '403':
          description: If user not authorized to perform requested action
        '400':
          description: Bad Request
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/ProblemDetailsResponse'
        '500':
          description: Internal Server Error
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/ProblemDetailsResponse'
      security:
      - Bearer: []
  /api/Shipment/LinkShipment:
    patch:
      tags:
      - Shipments
      parameters:
      - name: Environment
        in: header
        example: dev
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/MC.Invoice.API.Dtos.FreightAudit.Requests.AddSelectedQuoteRequest'
          application/*+json:
            schema:
              $ref: '#/components/schemas/MC.Invoice.API.Dtos.FreightAudit.Requests.AddSelectedQuoteRequest'
      responses:
        '200':
          description: OK
        '401':
          description: If Authorization header not present, has no value or no valid jwt bearer token
        '403':
          description: If user not authorized to perform requested action
        '400':
          description: Bad Request
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/ProblemDetailsResponse'
        '500':
          description: Internal Server Error
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/ProblemDetailsResponse'
        '404':
          description: Not Found
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/ProblemDetailsResponse'
      security:
      - Bearer: []
  /api/Shipment/CreateShipmentFromInvoice:
    post:
      tags:
      - Shipments
      parameters:
      - name: Environment
        in: header
        example: dev
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/MC.Invoice.API.Dtos.Shipments.CloneSelectedInvoiceRequest'
          application/*+json:
            schema:
              $ref: '#/components/schemas/MC.Invoice.API.Dtos.Shipments.CloneSelectedInvoiceRequest'
      responses:
        '200':
          description: OK
        '401':
          description: If Authorization header not present, has no value or no valid jwt bearer token
        '403':
          description: If user not authorized to perform requested action
        '400':
          description: Bad Request
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/ProblemDetailsResponse'
        '500':
          description: Internal Server Error
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/ProblemDetailsResponse'
      security:
      - Bearer: []
  /api/Shipment/ValidateShipmentCandidate/{invoiceRecordId}:
    get:
      tags:
      - Shipments
      parameters:
      - name: invoiceRecordId
        in: path
        required: true
        schema:
          type: string
          format: uuid
      - name: Environment
        in: header
        example: dev
      responses:
        '200':
          description: OK
        '401':
          description: If Authorization header not present, has no value or no valid jwt bearer token
        '403':
          description: If user not authorized to perform requested action
        '400':
          description: Bad Request
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/ProblemDetailsResponse'
        '500':
          description: Internal Server Error
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/ProblemDetailsResponse'
        '404':
          description: Not Found
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/ProblemDetailsResponse'
      security:
      - Bearer: []
  /api/v2/Integrations/Shipment/Create:
    post:
      tags:
      - Shipments
      parameters:
      - name: Environment
        in: header
        example: dev
      requestBody:
        content:
          application/json:
            schema:
              type: array
              items:
                $ref: '#/components/schemas/MC.Invoice.API.Dtos.Shipments.CreateShipmentRequest'
          application/*+json:
            schema:
              type: array
              items:
                $ref: '#/components/schemas/MC.Invoice.API.Dtos.Shipments.CreateShipmentRequest'
      responses:
        '200':
          description: OK
        '401':
          description: If Authorization header not present, has no value or no valid jwt bearer token
        '403':
          description: If user not authorized to perform requested action
        '400':
          description: Bad Request
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/ProblemDetailsResponse'
        '500':
          description: Internal Server Error
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/ProblemDetailsResponse'
      security:
      - Bearer: []
components:
  schemas:
    MC.Invoice.API.Dtos.Shipments.SearchShipmentsRequest:
      required:
      - searchText
      - searchType
      type: object
      properties:
        searchType:
          $ref: '#/components/schemas/MC.Invoice.Domain.Enums.ShipmentSearchType'
        searchText:
          minLength: 1
          type: string
        customerId:
          type:
          - integer
          - 'null'
          format: int32
          deprecated: true
        recordsCount:
          maximum: 10
          minimum: 1
          type:
          - integer
          - 'null'
          format: int32
      additionalProperties: false
    ProblemDetailsResponse:
      type: object
      properties:
        type:
          type: string
          description: A URI reference that identifies the problem type
          example: https://tools.ietf.org/html/rfc7231#section-6.5.1
        title:
          type: string
          description: A short, human-readable summary of the problem type
          example: Bad Request
        status:
          type: integer
          description: The HTTP status code
          example: 400
        detail:
          type: string
          description: A human-readable explanation specific to this occurrence of the problem
          example: The invoice amount must be greater than zero
        instance:
          type: string
          description: A URI reference that identifies the specific occurrence of the problem
          example: /api/v1/invoices
        traceId:
          type: string
          description: The OpenTelemetry trace ID for correlating logs and distributed traces
          example: a1b2c3d4e5f67890abcdef1234567890
      description: RFC 7807 Problem Details response with traceId for error correlation
    MC.Invoice.API.Dtos.Shipments.CreateShipmentRequest:
      required:
      - carrierProNumber
      - customerBOLNumber
      - scacCode
      type: object
      properties:
        invoiceNumber:
          type:
          - string
          - 'null'
        scacCode:
          minLength: 1
          type: string
        carrierProNumber:
          minLength: 1
          type: string
        customerBOLNumber:
          minLength: 1
          type: string
        poNumber:
          type:
          - string
          - 'null'
        quoteReferenceId:
          type:
          - string
          - 'null'
        delivery:
          $ref: '#/components/schemas/MC.Invoice.API.Dtos.Shipments.ShippingTimeline'
        pickup:
          $ref: '#/components/schemas/MC.Invoice.API.Dtos.Shipments.ShippingTimeline'
        shipperInfo:
          $ref: '#/components/schemas/MC.Invoice.API.Dtos.Shipments.InvoiceCompanyInfo'
        consigneeInfo:
          $ref: '#/components/schemas/MC.Invoice.API.Dtos.Shipments.InvoiceCompanyInfo'
        requesterInfo:
          $ref: '#/components/schemas/MC.Invoice.API.Dtos.Shipments.InvoiceCompanyAddress'
        commodities:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/MC.Invoice.API.Dtos.Shipments.Commodity'
        lineItems:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/MC.Invoice.API.Dtos.Shipments.ShipmentPriceDetailDto'
      additionalProperties: false
    MC.Invoice.API.Dtos.FreightAudit.Requests.AddSelectedQuoteRequest:
      required:
      - carrierCode
      - customerId
      - recordId
      - shipmentId
      type: object
      properties:
        recordId:
          type: string
          format: uuid
        shipmentId:
          type: integer
          format: int64
        customerId:
          type: integer
          format: int32
        carrierCode:
          minLength: 1
          type: string
        useAutoApprove:
          type:
          - boolean
          - 'null'
        requestedBy:
          type:
          - string
          - 'null'
      additionalProperties: false
    MC.Invoice.API.Dtos.Shipments.InvoiceCompanyAddress:
      type: object
      properties:
        companyName:
          type:
          - string
          - 'null'
        streetLine1:
          type:
          - string
          - 'null'
        streetLine2:
          type:
          - string
          - 'null'
        city:
          type:
          - string
          - 'null'
        state:
          type:
          - string
          - 'null'
        zip:
          type:
          - string
          - 'null'
        country:
          type:
          - string
          - 'null'
      additionalProperties: false
    MC.Invoice.API.Dtos.Shipments.InvoiceCompanyInfo:
      type: object
      properties:
        companyName:
          type:
          - string
          - 'null'
        streetLine1:
          type:
          - string
          - 'null'
        streetLine2:
          type:
          - string
          - 'null'
        city:
          type:
          - string
          - 'null'
        state:
          type:
          - string
          - 'null'
        zip:
          type:
          - string
          - 'null'
        country:
          type:
          - string
          - 'null'
        contactName:
          type:
          - string
          - 'null'
        contactEmail:
          type:
          - string
          - 'null'
        contactPhone:
          type:
          - string
          - 'null'
      additionalProperties: false
    MC.Invoice.API.Dtos.Shipments.Commodity:
      type: object
      properties:
        description:
          type:
          - string
          - 'null'
        piecesNumber:
          type:
          - integer
          - 'null'
          format: int32
        totalWeight:
          type:
          - integer
          - 'null'
          format: int32
        freightClassCode:
          type:
          - string
          - 'null'
        packingType:
          type:
          - string
          - 'null'
      additionalProperties: false
    MC.Invoice.API.Dtos.Shipments.ShipmentPriceDetailDto:
      type: object
      properties:
        description:
          type:
          - string
          - 'null'
        amount:
          type: number
          format: double
        chargeCode:
          type:
          - string
          - 'null'
      additionalProperties: false
    MC.Invoice.Domain.Enums.ShipmentSearchType:
      enum:
      - ProNumber
      - BolNumber
      type: string
    MC.Invoice.API.Dtos.Shipments.CloneSelectedInvoiceRequest:
      required:
      - carrierCode
      - customerId
      - recordId
      type: object
      properties:
        recordId:
          type: string
          format: uuid
        customerId:
          type: integer
          format: int32
        carrierCode:
          minLength: 1
          type: string
        useAutoApprove:
          type:
          - boolean
          - 'null'
        requestedBy:
          type:
          - string
          - 'null'
      additionalProperties: false
    MC.Invoice.API.Dtos.Shipments.ShippingTimeline:
      type: object
      properties:
        estimatedDate:
          type:
          - string
          - 'null'
          format: date-time
        actualDate:
          type:
          - string
          - 'null'
          format: date-time
      additionalProperties: false
  securitySchemes:
    Bearer:
      type: http
      description: Enter JWT Bearer token **_only_**
      scheme: bearer
      bearerFormat: JWT
