openapi: 3.2.0
info:
  title: FreightAudit Import API
  version: v1
servers:
- url: https://invoice.mycarriertms.com
tags:
- name: Import
paths:
  /api/v2/import/invoices/validate:
    post:
      tags:
      - Import
      parameters:
      - name: Environment
        in: header
        example: dev
      requestBody:
        content:
          multipart/form-data:
            schema:
              type: object
              properties:
                files:
                  type: array
                  items:
                    type: string
                    format: binary
            encoding:
              files:
                style: form
      responses:
        '200':
          description: OK
        '400':
          description: Bad Request
        '401':
          description: Unauthorized
        '403':
          description: If user not authorized to perform requested action
        '500':
          description: Internal Server Error
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/ProblemDetailsResponse'
      security:
      - Bearer: []
  /api/v2/import/invoices:
    post:
      tags:
      - Import
      parameters:
      - name: Environment
        in: header
        example: dev
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/MC.Invoice.API.Dtos.BulkImport.Requests.ImportInvoiceRequestWrapperV2'
          application/*+json:
            schema:
              $ref: '#/components/schemas/MC.Invoice.API.Dtos.BulkImport.Requests.ImportInvoiceRequestWrapperV2'
      responses:
        '202':
          description: Accepted
        '400':
          description: Bad Request
        '401':
          description: Unauthorized
        '403':
          description: If user not authorized to perform requested action
        '500':
          description: Internal Server Error
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/ProblemDetailsResponse'
      security:
      - Bearer: []
components:
  schemas:
    ProblemDetailsResponse:
      type: object
      properties:
        type:
          type: string
          description: A URI reference that identifies the problem type
          example: https://tools.ietf.org/html/rfc7231#section-6.5.1
        title:
          type: string
          description: A short, human-readable summary of the problem type
          example: Bad Request
        status:
          type: integer
          description: The HTTP status code
          example: 400
        detail:
          type: string
          description: A human-readable explanation specific to this occurrence of the problem
          example: The invoice amount must be greater than zero
        instance:
          type: string
          description: A URI reference that identifies the specific occurrence of the problem
          example: /api/v1/invoices
        traceId:
          type: string
          description: The OpenTelemetry trace ID for correlating logs and distributed traces
          example: a1b2c3d4e5f67890abcdef1234567890
      description: RFC 7807 Problem Details response with traceId for error correlation
    MC.Invoice.API.Dtos.BulkImport.Requests.ImportInvoiceRequestWrapperV2:
      required:
      - recordIds
      - uploadId
      type: object
      properties:
        recordIds:
          type: array
          items:
            type: string
            format: uuid
        uploadId:
          type: string
          format: uuid
      additionalProperties: false
  securitySchemes:
    Bearer:
      type: http
      description: Enter JWT Bearer token **_only_**
      scheme: bearer
      bearerFormat: JWT
