openapi: 3.2.0
info:
  title: FreightAudit Dispute API
  version: v1
servers:
- url: https://invoice.mycarriertms.com
tags:
- name: Dispute
paths:
  /api/Dispute/Save:
    post:
      tags:
      - Dispute
      parameters:
      - name: Environment
        in: header
        example: dev
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/MC.Invoice.API.Dtos.Disputes.Requests.SaveDisputeRequest'
          application/*+json:
            schema:
              $ref: '#/components/schemas/MC.Invoice.API.Dtos.Disputes.Requests.SaveDisputeRequest'
      responses:
        '200':
          description: OK
        '401':
          description: If Authorization header not present, has no value or no valid jwt bearer token
        '403':
          description: If user not authorized to perform requested action
        '400':
          description: Bad Request
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/ProblemDetailsResponse'
        '500':
          description: Internal Server Error
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/ProblemDetailsResponse'
      security:
      - Bearer: []
  /api/Dispute/BulkCreate:
    post:
      tags:
      - Dispute
      parameters:
      - name: Environment
        in: header
        example: dev
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/MC.Invoice.API.Dtos.Disputes.Requests.CreateBulkDisputeRequest'
          application/*+json:
            schema:
              $ref: '#/components/schemas/MC.Invoice.API.Dtos.Disputes.Requests.CreateBulkDisputeRequest'
      responses:
        '200':
          description: OK
        '401':
          description: If Authorization header not present, has no value or no valid jwt bearer token
        '403':
          description: If user not authorized to perform requested action
        '400':
          description: Bad Request
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/ProblemDetailsResponse'
        '500':
          description: Internal Server Error
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/ProblemDetailsResponse'
      security:
      - Bearer: []
  /api/Dispute/{disputeId}:
    get:
      tags:
      - Dispute
      parameters:
      - name: disputeId
        in: path
        required: true
        schema:
          type: string
          format: uuid
      - name: Environment
        in: header
        example: dev
      responses:
        '200':
          description: OK
        '401':
          description: If Authorization header not present, has no value or no valid jwt bearer token
        '403':
          description: If user not authorized to perform requested action
        '400':
          description: Bad Request
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/ProblemDetailsResponse'
        '500':
          description: Internal Server Error
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/ProblemDetailsResponse'
        '404':
          description: Not Found
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/ProblemDetailsResponse'
      security:
      - Bearer: []
  /api/Dispute/file:
    post:
      tags:
      - Dispute
      parameters:
      - name: Environment
        in: header
        example: dev
      requestBody:
        content:
          application/json:
            schema:
              required:
              - DisputeId
              - File
              - FileName
              type: object
              properties:
                FileName:
                  type: string
                DisputeId:
                  type: string
                  format: uuid
                File:
                  type: string
                  format: binary
            encoding:
              FileName:
                style: form
              DisputeId:
                style: form
              File:
                style: form
          multipart/form-data:
            schema:
              required:
              - DisputeId
              - File
              - FileName
              type: object
              properties:
                FileName:
                  type: string
                DisputeId:
                  type: string
                  format: uuid
                File:
                  type: string
                  format: binary
            encoding:
              FileName:
                style: form
              DisputeId:
                style: form
              File:
                style: form
      responses:
        '200':
          description: OK
        '401':
          description: If Authorization header not present, has no value or no valid jwt bearer token
        '403':
          description: If user not authorized to perform requested action
        '400':
          description: Bad Request
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/ProblemDetailsResponse'
        '500':
          description: Internal Server Error
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/ProblemDetailsResponse'
      security:
      - Bearer: []
    delete:
      tags:
      - Dispute
      parameters:
      - name: Environment
        in: header
        example: dev
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/MC.Invoice.API.Dtos.Disputes.Requests.DeleteFileRequest'
          application/*+json:
            schema:
              $ref: '#/components/schemas/MC.Invoice.API.Dtos.Disputes.Requests.DeleteFileRequest'
      responses:
        '200':
          description: OK
        '401':
          description: If Authorization header not present, has no value or no valid jwt bearer token
        '403':
          description: If user not authorized to perform requested action
        '400':
          description: Bad Request
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/ProblemDetailsResponse'
        '500':
          description: Internal Server Error
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/ProblemDetailsResponse'
        '404':
          description: Not Found
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/ProblemDetailsResponse'
      security:
      - Bearer: []
  /api/Dispute/Remove:
    delete:
      tags:
      - Dispute
      parameters:
      - name: Environment
        in: header
        example: dev
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/MC.Invoice.API.Dtos.Disputes.Requests.DeleteDisputeRequest'
          application/*+json:
            schema:
              $ref: '#/components/schemas/MC.Invoice.API.Dtos.Disputes.Requests.DeleteDisputeRequest'
      responses:
        '200':
          description: OK
        '401':
          description: If Authorization header not present, has no value or no valid jwt bearer token
        '403':
          description: If user not authorized to perform requested action
        '400':
          description: Bad Request
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/ProblemDetailsResponse'
        '500':
          description: Internal Server Error
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/ProblemDetailsResponse'
        '404':
          description: Not Found
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/ProblemDetailsResponse'
      security:
      - Bearer: []
  /api/Dispute/SendEmail:
    post:
      tags:
      - Dispute
      parameters:
      - name: Environment
        in: header
        example: dev
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/MC.Invoice.API.Dtos.Disputes.Requests.EmailDisputeRequest'
          application/*+json:
            schema:
              $ref: '#/components/schemas/MC.Invoice.API.Dtos.Disputes.Requests.EmailDisputeRequest'
      responses:
        '200':
          description: OK
        '401':
          description: If Authorization header not present, has no value or no valid jwt bearer token
        '403':
          description: If user not authorized to perform requested action
        '400':
          description: Bad Request
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/ProblemDetailsResponse'
        '500':
          description: Internal Server Error
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/ProblemDetailsResponse'
      security:
      - Bearer: []
components:
  schemas:
    ProblemDetailsResponse:
      type: object
      properties:
        type:
          type: string
          description: A URI reference that identifies the problem type
          example: https://tools.ietf.org/html/rfc7231#section-6.5.1
        title:
          type: string
          description: A short, human-readable summary of the problem type
          example: Bad Request
        status:
          type: integer
          description: The HTTP status code
          example: 400
        detail:
          type: string
          description: A human-readable explanation specific to this occurrence of the problem
          example: The invoice amount must be greater than zero
        instance:
          type: string
          description: A URI reference that identifies the specific occurrence of the problem
          example: /api/v1/invoices
        traceId:
          type: string
          description: The OpenTelemetry trace ID for correlating logs and distributed traces
          example: a1b2c3d4e5f67890abcdef1234567890
      description: RFC 7807 Problem Details response with traceId for error correlation
    MC.Invoice.API.Dtos.Disputes.Requests.SaveDisputeRequest:
      required:
      - createdBy
      - invoiceRecordId
      - reasons
      type: object
      properties:
        disputeId:
          type:
          - string
          - 'null'
          format: uuid
        invoiceRecordId:
          type: string
          format: uuid
        reasons:
          minItems: 1
          type: array
          items:
            type: string
        otherReason:
          type:
          - string
          - 'null'
        disputeAmount:
          type:
          - number
          - 'null'
          format: double
        notes:
          type:
          - string
          - 'null'
        createdBy:
          minLength: 1
          type: string
        bolUrl:
          type:
          - string
          - 'null'
          format: uri
        proofOfDeliveryUrl:
          type:
          - string
          - 'null'
          format: uri
        includeQuoteDocuments:
          type:
          - boolean
          - 'null'
      additionalProperties: false
    MC.Invoice.API.Dtos.Disputes.Requests.DeleteFileRequest:
      required:
      - disputeId
      - fileName
      type: object
      properties:
        disputeId:
          type: string
          format: uuid
        fileName:
          minLength: 1
          type: string
      additionalProperties: false
    MC.Invoice.API.Dtos.Disputes.Requests.EmailDisputeRequest:
      required:
      - carrierEmails
      - disputeId
      - recordId
      - shipperEmails
      type: object
      properties:
        disputeId:
          type: string
          format: uuid
        recordId:
          type: string
          format: uuid
        shipperEmails:
          type: array
          items:
            type: string
        carrierEmails:
          type: array
          items:
            type: string
        requestedBy:
          type:
          - string
          - 'null'
        moveToDisputeStatus:
          type:
          - boolean
          - 'null'
      additionalProperties: false
    MC.Invoice.API.Dtos.Disputes.Requests.CreateBulkDisputeRequest:
      required:
      - createdBy
      - invoiceRecordIds
      - reasons
      type: object
      properties:
        invoiceRecordIds:
          type: array
          items:
            type: string
            format: uuid
        reasons:
          minItems: 1
          type: array
          items:
            type: string
        otherReason:
          type:
          - string
          - 'null'
        disputeAmount:
          type:
          - number
          - 'null'
          format: double
        notes:
          type:
          - string
          - 'null'
        createdBy:
          minLength: 1
          type: string
      additionalProperties: false
    MC.Invoice.API.Dtos.Disputes.Requests.DeleteDisputeRequest:
      required:
      - disputeId
      type: object
      properties:
        disputeId:
          type: string
          format: uuid
        removedBy:
          type:
          - string
          - 'null'
      additionalProperties: false
  securitySchemes:
    Bearer:
      type: http
      description: Enter JWT Bearer token **_only_**
      scheme: bearer
      bearerFormat: JWT
