openapi: 3.2.0
info:
  title: FreightAudit Invoice Overview V3 API
  version: v1
servers:
- url: https://invoice.mycarriertms.com
tags:
- name: InvoiceOverviewV3
paths:
  /api/v3/invoices/overview/action-required:
    get:
      tags:
      - InvoiceOverviewV3
      parameters:
      - name: sortingField
        in: query
        schema:
          type: string
      - name: fromDays
        in: query
        schema:
          type: integer
          format: int32
          default: 15
      - name: sortingOrder
        in: query
        schema:
          type: string
          default: asc
      - name: take
        in: query
        schema:
          type: integer
          format: int32
          default: 100
      - name: skip
        in: query
        schema:
          type: integer
          format: int32
          default: 0
      - name: Environment
        in: header
        example: dev
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MC.Invoice.API.Responses.V3.InvoiceActionRequiredV3Response'
        '404':
          description: Not Found
        '401':
          description: If Authorization header not present, has no value or no valid jwt bearer token
        '403':
          description: If user not authorized to perform requested action
        '400':
          description: Bad Request
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/ProblemDetailsResponse'
        '500':
          description: Internal Server Error
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/ProblemDetailsResponse'
      security:
      - Bearer: []
  /api/v3/invoices/overview/action-required/{id}/dismiss:
    patch:
      tags:
      - InvoiceOverviewV3
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
          format: uuid
      - name: Environment
        in: header
        example: dev
      responses:
        '200':
          description: OK
        '401':
          description: If Authorization header not present, has no value or no valid jwt bearer token
        '403':
          description: If user not authorized to perform requested action
        '400':
          description: Bad Request
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/ProblemDetailsResponse'
        '500':
          description: Internal Server Error
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/ProblemDetailsResponse'
        '404':
          description: Not Found
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/ProblemDetailsResponse'
      security:
      - Bearer: []
  /api/v3/invoices/overview/analytics:
    get:
      tags:
      - InvoiceOverviewV3
      parameters:
      - name: refresh
        in: query
        schema:
          type: boolean
          default: false
      - name: fromDays
        in: query
        schema:
          maximum: 90
          minimum: 1
          type: integer
          format: int32
          default: 30
      - name: Environment
        in: header
        example: dev
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MC.Invoice.Contracts.Responses.V3.InvoiceOverviewAnalyticsV3Response'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails'
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails'
        '401':
          description: If Authorization header not present, has no value or no valid jwt bearer token
        '403':
          description: If user not authorized to perform requested action
        '404':
          description: Not Found
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/ProblemDetailsResponse'
      security:
      - Bearer: []
components:
  schemas:
    Microsoft.AspNetCore.Mvc.ProblemDetails:
      type: object
      properties:
        type:
          type:
          - string
          - 'null'
        title:
          type:
          - string
          - 'null'
        status:
          type:
          - integer
          - 'null'
          format: int32
        detail:
          type:
          - string
          - 'null'
        instance:
          type:
          - string
          - 'null'
      additionalProperties: {}
    ProblemDetailsResponse:
      type: object
      properties:
        type:
          type: string
          description: A URI reference that identifies the problem type
          example: https://tools.ietf.org/html/rfc7231#section-6.5.1
        title:
          type: string
          description: A short, human-readable summary of the problem type
          example: Bad Request
        status:
          type: integer
          description: The HTTP status code
          example: 400
        detail:
          type: string
          description: A human-readable explanation specific to this occurrence of the problem
          example: The invoice amount must be greater than zero
        instance:
          type: string
          description: A URI reference that identifies the specific occurrence of the problem
          example: /api/v1/invoices
        traceId:
          type: string
          description: The OpenTelemetry trace ID for correlating logs and distributed traces
          example: a1b2c3d4e5f67890abcdef1234567890
      description: RFC 7807 Problem Details response with traceId for error correlation
    MC.Invoice.API.Responses.V3.InvoiceActionRequiredV3Response:
      type: object
      properties:
        totalCount:
          type: integer
          format: int64
        invoices:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/MC.Invoice.API.Responses.V3.InvoiceActionRequiredV3Response_InvoiceFilteredItemV3Response'
      additionalProperties: false
    MC.Invoice.Contracts.Responses.V3.InvoiceOverviewAnalyticsV3Response:
      type: object
      properties:
        totalAmountOwed:
          type: number
          format: double
        overchargesToReview:
          type: number
          format: double
        invoicesInDispute:
          type: number
          format: double
        amountReadyToBePaid:
          type: number
          format: double
        lastRefreshed:
          type: string
          format: date-time
      additionalProperties: false
    MC.Invoice.API.Responses.V3.InvoiceActionRequiredV3Response_InvoiceFilteredItemV3Response:
      type: object
      properties:
        recordId:
          type: string
          format: uuid
        dateReceived:
          type: string
          format: date-time
        carrierProNumber:
          type:
          - string
          - 'null'
        customerBOLNumber:
          type:
          - string
          - 'null'
        customerId:
          type:
          - integer
          - 'null'
          format: int32
        carrierName:
          type:
          - string
          - 'null'
        carrierLogo:
          type:
          - string
          - 'null'
        invoiceAmount:
          type: number
          format: double
        amountDue:
          type: number
          format: double
        quoteAmount:
          type: number
          format: double
        shipmentId:
          type:
          - integer
          - 'null'
          format: int64
        status:
          type:
          - string
          - 'null'
        hasOvercharge:
          type: boolean
          readOnly: true
        hasReceipt:
          type: boolean
        hasIntegrationFee:
          type: boolean
      additionalProperties: false
  securitySchemes:
    Bearer:
      type: http
      description: Enter JWT Bearer token **_only_**
      scheme: bearer
      bearerFormat: JWT
