openapi: 3.2.0
info:
  title: FreightAudit Invoice Analytics API
  version: v1
servers:
- url: https://invoice.mycarriertms.com
tags:
- name: InvoiceAnalytics
paths:
  /api/InvoiceAnalytics/Overcharges:
    post:
      tags:
      - InvoiceAnalytics
      parameters:
      - name: Environment
        in: header
        example: dev
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/MC.Invoice.API.Dtos.Analytics.InvoiceAnalyticsFilterRequest'
          application/*+json:
            schema:
              $ref: '#/components/schemas/MC.Invoice.API.Dtos.Analytics.InvoiceAnalyticsFilterRequest'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MC.Invoice.API.Dtos.Analytics.Responses.InvoiceOverchargesAnalyticsResponse'
        '401':
          description: If Authorization header not present, has no value or no valid jwt bearer token
        '403':
          description: If user not authorized to perform requested action
        '400':
          description: Bad Request
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/ProblemDetailsResponse'
        '500':
          description: Internal Server Error
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/ProblemDetailsResponse'
      security:
      - Bearer: []
  /api/InvoiceAnalytics/CarrierPerformance:
    post:
      tags:
      - InvoiceAnalytics
      parameters:
      - name: Environment
        in: header
        example: dev
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/MC.Invoice.API.Dtos.Analytics.InvoiceAnalyticsFilterRequest'
          application/*+json:
            schema:
              $ref: '#/components/schemas/MC.Invoice.API.Dtos.Analytics.InvoiceAnalyticsFilterRequest'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MC.Invoice.API.Dtos.Analytics.Responses.InvoiceCarrierPerformanceAnalyticsResponse'
        '401':
          description: If Authorization header not present, has no value or no valid jwt bearer token
        '403':
          description: If user not authorized to perform requested action
        '400':
          description: Bad Request
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/ProblemDetailsResponse'
        '500':
          description: Internal Server Error
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/ProblemDetailsResponse'
      security:
      - Bearer: []
  /api/InvoiceAnalytics/ApprovalAndDisputeFrequency:
    post:
      tags:
      - InvoiceAnalytics
      parameters:
      - name: Environment
        in: header
        example: dev
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/MC.Invoice.API.Dtos.Analytics.InvoiceAnalyticsFilterRequest'
          application/*+json:
            schema:
              $ref: '#/components/schemas/MC.Invoice.API.Dtos.Analytics.InvoiceAnalyticsFilterRequest'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MC.Invoice.API.Dtos.Analytics.Responses.InvoiceApprovalAndDisputeFrequencyAnalyticsResponse'
        '401':
          description: If Authorization header not present, has no value or no valid jwt bearer token
        '403':
          description: If user not authorized to perform requested action
        '400':
          description: Bad Request
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/ProblemDetailsResponse'
        '500':
          description: Internal Server Error
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/ProblemDetailsResponse'
      security:
      - Bearer: []
  /api/InvoiceAnalytics/OverchargeFrequency:
    post:
      tags:
      - InvoiceAnalytics
      parameters:
      - name: Environment
        in: header
        example: dev
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/MC.Invoice.API.Dtos.Analytics.InvoiceAnalyticsFilterRequest'
          application/*+json:
            schema:
              $ref: '#/components/schemas/MC.Invoice.API.Dtos.Analytics.InvoiceAnalyticsFilterRequest'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MC.Invoice.API.Dtos.Analytics.Responses.InvoiceOverchargesFrequencyAnalyticsResponse'
        '401':
          description: If Authorization header not present, has no value or no valid jwt bearer token
        '403':
          description: If user not authorized to perform requested action
        '400':
          description: Bad Request
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/ProblemDetailsResponse'
        '500':
          description: Internal Server Error
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/ProblemDetailsResponse'
      security:
      - Bearer: []
  /api/InvoiceAnalytics/Summary:
    post:
      tags:
      - InvoiceAnalytics
      parameters:
      - name: Environment
        in: header
        example: dev
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/MC.Invoice.API.Dtos.Analytics.InvoiceAnalyticsFilterRequest'
          application/*+json:
            schema:
              $ref: '#/components/schemas/MC.Invoice.API.Dtos.Analytics.InvoiceAnalyticsFilterRequest'
      responses:
        '200':
          description: OK
        '401':
          description: If Authorization header not present, has no value or no valid jwt bearer token
        '403':
          description: If user not authorized to perform requested action
        '400':
          description: Bad Request
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/ProblemDetailsResponse'
        '500':
          description: Internal Server Error
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/ProblemDetailsResponse'
      security:
      - Bearer: []
components:
  schemas:
    MC.Invoice.API.Dtos.Analytics.Responses.InvoiceApprovalAndDisputeFrequencyAnalyticsResponse:
      type: object
      properties:
        approvalItems:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/MC.Invoice.API.Dtos.Analytics.Responses.InvoiceApprovalAndDisputeFrequencyAnalyticsItem'
        disputeItems:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/MC.Invoice.API.Dtos.Analytics.Responses.InvoiceApprovalAndDisputeFrequencyAnalyticsItem'
      additionalProperties: false
    MC.Invoice.API.Dtos.Analytics.Responses.InvoiceOverchargesFrequencyAnalyticsResponse:
      type: object
      properties:
        quantityItems:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/MC.Invoice.API.Dtos.Analytics.Responses.InvoiceOverchargesFrequencyAnalyticsItem'
        costItems:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/MC.Invoice.API.Dtos.Analytics.Responses.InvoiceOverchargesFrequencyAnalyticsItem'
        overchargeFrequency:
          type:
          - number
          - 'null'
          format: double
        underchargeFrequency:
          type:
          - number
          - 'null'
          format: double
        avgOverchargePerInvoice:
          type:
          - number
          - 'null'
          format: double
        avgUnderchargePerInvoice:
          type:
          - number
          - 'null'
          format: double
      additionalProperties: false
    MC.Invoice.API.Dtos.Analytics.Responses.InvoiceOverchargesFrequencyAnalyticsItem:
      type: object
      properties:
        carrier:
          type:
          - string
          - 'null'
        overcharged:
          type: number
          format: double
      additionalProperties: false
    MC.Invoice.API.Dtos.Analytics.Responses.InvoiceCarrierPerformanceAnalyticsItem:
      type: object
      properties:
        carrier:
          type:
          - string
          - 'null'
        invoiceCount:
          type: integer
          format: int32
        paidCount:
          type: integer
          format: int32
        orphanCount:
          type: integer
          format: int32
        averageOvercharge:
          type: number
          format: double
        disputeCount:
          type: integer
          format: int32
      additionalProperties: false
    ProblemDetailsResponse:
      type: object
      properties:
        type:
          type: string
          description: A URI reference that identifies the problem type
          example: https://tools.ietf.org/html/rfc7231#section-6.5.1
        title:
          type: string
          description: A short, human-readable summary of the problem type
          example: Bad Request
        status:
          type: integer
          description: The HTTP status code
          example: 400
        detail:
          type: string
          description: A human-readable explanation specific to this occurrence of the problem
          example: The invoice amount must be greater than zero
        instance:
          type: string
          description: A URI reference that identifies the specific occurrence of the problem
          example: /api/v1/invoices
        traceId:
          type: string
          description: The OpenTelemetry trace ID for correlating logs and distributed traces
          example: a1b2c3d4e5f67890abcdef1234567890
      description: RFC 7807 Problem Details response with traceId for error correlation
    MC.Invoice.API.Dtos.Analytics.Responses.InvoiceApprovalAndDisputeFrequencyAnalyticsCarrierItem:
      type: object
      properties:
        carrier:
          type:
          - string
          - 'null'
        total:
          type: integer
          format: int32
      additionalProperties: false
    MC.Invoice.API.Dtos.Analytics.InvoiceAnalyticsFilterRequest:
      required:
      - from
      type: object
      properties:
        from:
          type: string
          format: date-time
        to:
          type:
          - string
          - 'null'
          format: date-time
        carriers:
          type:
          - array
          - 'null'
          items:
            type: string
        excludeOrphaned:
          type:
          - boolean
          - 'null'
        top:
          type:
          - integer
          - 'null'
          format: int32
      additionalProperties: false
    MC.Invoice.API.Dtos.Analytics.Responses.InvoiceCarrierPerformanceAnalyticsResponse:
      type: object
      properties:
        items:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/MC.Invoice.API.Dtos.Analytics.Responses.InvoiceCarrierPerformanceAnalyticsItem'
      additionalProperties: false
    MC.Invoice.API.Dtos.Analytics.Responses.InvoiceOverchargesAnalyticsResponse:
      type: object
      properties:
        quantityItems:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/MC.Invoice.API.Dtos.Analytics.Responses.InvoiceOverchargesAnalyticsItem'
        costItems:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/MC.Invoice.API.Dtos.Analytics.Responses.InvoiceOverchargesAnalyticsItem'
      additionalProperties: false
    MC.Invoice.API.Dtos.Analytics.Responses.InvoiceOverchargesAnalyticsItem:
      type: object
      properties:
        date:
          type: string
          format: date-time
        total:
          type: number
          format: double
        overcharged:
          type: number
          format: double
      additionalProperties: false
    MC.Invoice.API.Dtos.Analytics.Responses.InvoiceApprovalAndDisputeFrequencyAnalyticsItem:
      type: object
      properties:
        reason:
          type:
          - string
          - 'null'
        total:
          type: integer
          format: int32
        carrierItems:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/MC.Invoice.API.Dtos.Analytics.Responses.InvoiceApprovalAndDisputeFrequencyAnalyticsCarrierItem'
      additionalProperties: false
  securitySchemes:
    Bearer:
      type: http
      description: Enter JWT Bearer token **_only_**
      scheme: bearer
      bearerFormat: JWT
