openapi: 3.2.0
info:
  title: Mycarrier Rating API
  version: '1.0'
  description: 'Operations tagged Rating across 2 of this provider''s published API definitions: mycarrier-public-api-openapi.json, mycarrier-rating-api-openapi.json. Each path carries the servers of the definition it was published in.'
servers:
- description: Production
  url: https://api.mycarriertms.com
- url: https://app-integration-prod-api.azurewebsites.net/feature
tags:
- name: Rating
paths:
  /api/v1/quote/rate:
    post:
      description: Get rates for a quote based on rating request
      operationId: GetRates
      parameters:
      - in: header
        name: Authorization
        schema:
          type: string
      - in: header
        name: Content-Type
        schema:
          type: string
      - in: header
        name: Environment
        schema:
          type: string
      - in: header
        name: Traceparent
        schema:
          type: string
      - in: header
        name: User-Agent
        schema:
          type: string
      - in: header
        name: X-Mc-Api-Key
        schema:
          type: string
      requestBody:
        content:
          application/*+json:
            schema:
              $ref: '#/components/schemas/MC.Quote.Contracts.Requests.Rate.RatingRequest'
          application/json:
            schema:
              $ref: '#/components/schemas/MC.Quote.Contracts.Requests.Rate.RatingRequest'
          application/json-patch+json:
            schema:
              $ref: '#/components/schemas/MC.Quote.Contracts.Requests.Rate.RatingRequest'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MC.Quote.Contracts.Responses.ApiResponseOfMC.Quote.Contracts.Responses.Rate.RatingResponse'
          description: Request was successfully executed
        '400':
          description: Request has missing/invalid values
        '401':
          description: Unauthorized.
        '404':
          description: Not found
        '500':
          description: Internal Server Error
      security: []
      summary: Get Rates
      tags:
      - Rating
    servers:
    - description: Production
      url: https://api.mycarriertms.com
  /rating:
    post:
      tags:
      - Rating
      summary: Getting quote from carriers
      description: Getting quote from carriers
      operationId: requestquote
      requestBody:
        description: request quote from carriers
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RateQuoteRequest'
        required: true
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RateQuoteResponse'
        '400':
          description: Invalid request
        '404':
          description: Request was not found
        '405':
          description: Validation exception
    servers:
    - url: https://app-integration-prod-api.azurewebsites.net/feature
components:
  schemas:
    MC.Quote.Contracts.Requests.Rate.AppointmentDetailsRequest:
      additionalProperties: false
      properties:
        delivery:
          $ref: '#/components/schemas/MC.Quote.Contracts.Requests.Rate.DeliveryRequest'
        pickup:
          $ref: '#/components/schemas/MC.Quote.Contracts.Requests.Rate.PickupRequest'
      type: object
    MC.Infrastructure.Static.Data.Enums.DimensionUnitCode:
      enum:
      - IN
      - CM
      type: string
    MC.Infrastructure.Static.Data.Enums.HazardClassCode:
      enum:
      - NA
      - I
      - II
      - III
      type: string
    MC.Quote.Contracts.Requests.Rate.CommodityRequest:
      additionalProperties: false
      properties:
        description:
          description: Descriptive name or description of the commodity being shipped
          example: Electronic Equipment
          maxLength: 500
          type:
          - string
          - 'null'
        freightClass:
          description: Freight classification code for pricing determination ("50", "55", "60", "65", "70", "77.5", "85", "92.5", "100", "110", "125", "150", "175", "200", "250", "300", "400", "500")
          enum:
          - '50'
          - '55'
          - '60'
          - '65'
          - '70'
          - '77.5'
          - '85'
          - '92.5'
          - '100'
          - '110'
          - '125'
          - '150'
          - '175'
          - '200'
          - '250'
          - '300'
          - '400'
          - '500'
          example: '85'
          required:
          - freightClass
          type:
          - string
          - 'null'
        hazardous:
          description: Indicates whether the commodity contains hazardous materials
          example: 'false'
          type: boolean
        hazardousDetails:
          $ref: '#/components/schemas/MC.Quote.Contracts.Requests.Rate.HazardousDetailsRequest'
        nmfc:
          description: National Motor Freight Classification code for the commodity
          example: '1105'
          maxLength: 6
          minLength: 4
          type:
          - string
          - 'null'
        nmfcSub:
          description: NMFC sub-classification code for more specific commodity classification
          example: '01'
          maxLength: 10
          type:
          - string
          - 'null'
        orderNumber:
          description: Customer order number reference
          example: ORD-2024-001234
          maxLength: 250
          type:
          - string
          - 'null'
        packageType:
          $ref: '#/components/schemas/MC.Infrastructure.Static.Data.Enums.PackageTypeCode'
        pieces:
          description: Number of individual pieces for this commodity
          format: int32
          maximum: 99999
          minimum: 1
          required:
          - pieces
          type: integer
        weight:
          description: Total weight of the commodity
          format: int32
          maximum: 999999
          minimum: 1
          required:
          - weight
          type: integer
      required:
      - weight
      - pieces
      - freightClass
      type: object
    MC.Quote.Contracts.Requests.Rate.HandlingUnitRequest:
      additionalProperties: false
      properties:
        carpetRollSquareYards:
          description: Carpet roll square yards for carpet rates.
          format: int32
          maximum: 9999
          type:
          - integer
          - 'null'
        commodities:
          description: Collection of commodities contained within this handling unit
          items:
            $ref: '#/components/schemas/MC.Quote.Contracts.Requests.Rate.CommodityRequest'
          required:
          - commodities
          type:
          - array
          - 'null'
        count:
          description: Quantity of identical handling units of this specification
          format: int32
          maximum: 999
          minimum: 1
          required:
          - count
          type: integer
        freightClass:
          description: Freight classification code for pricing determination ("50", "55", "60", "65", "70", "77.5", "85", "92.5", "100", "110", "125", "150", "175", "200", "250", "300", "400", "500")
          enum:
          - '50'
          - '55'
          - '60'
          - '65'
          - '70'
          - '77.5'
          - '85'
          - '92.5'
          - '100'
          - '110'
          - '125'
          - '150'
          - '175'
          - '200'
          - '250'
          - '300'
          - '400'
          - '500'
          example: '85'
          type:
          - string
          - 'null'
        height:
          description: Height dimension in specified measurement units
          format: int32
          maximum: 9999
          minimum: 1
          required:
          - height
          type: integer
        length:
          description: Length dimension in specified measurement units
          format: int32
          maximum: 9999
          minimum: 1
          required:
          - length
          type: integer
        packageType:
          $ref: '#/components/schemas/MC.Infrastructure.Static.Data.Enums.PackageTypeCode'
        stackable:
          description: Indicates whether the handling unit can be stacked with others for space efficiency
          example: 'true'
          required:
          - stackable
          type: boolean
        width:
          description: Width dimension in specified measurement units
          format: int32
          maximum: 9999
          minimum: 1
          required:
          - width
          type: integer
      required:
      - count
      - length
      - width
      - height
      - stackable
      - commodities
      type: object
    MC.Infrastructure.Static.Data.Enums.PaymentTermCode:
      enum:
      - PREPAID
      - INBOUND_COLLECT
      - THIRD_PARTY
      - COLLECT
      type: string
    MC.Quote.Contracts.Requests.Rate.AccessorialsRequest:
      additionalProperties: false
      properties:
        codes:
          description: Collection of accessorial service codes for special requirements like liftgate, appointment delivery, inside pickup, etc.
          items:
            $ref: '#/components/schemas/MC.Infrastructure.Static.Data.Enums.AccessorialCode'
          type:
          - array
          - 'null'
      type: object
    MC.Quote.Contracts.Requests.Rate.FullValueCoverageDetailsRequest:
      additionalProperties: false
      properties:
        currency:
          $ref: '#/components/schemas/MC.Infrastructure.Static.Data.Enums.CurrencyCode'
        monetaryValue:
          description: Declared monetary value for insurance coverage calculation (in string format for precision)
          example: '50000.00'
          type:
          - string
          - 'null'
      type: object
    MC.Quote.Contracts.Requests.Rate.ShippingDetailsRequest:
      additionalProperties: false
      properties:
        dimensionsUnit:
          $ref: '#/components/schemas/MC.Infrastructure.Static.Data.Enums.DimensionUnitCode'
        handlingUnits:
          description: Detailed collection of individual handling units with their specifications
          items:
            $ref: '#/components/schemas/MC.Quote.Contracts.Requests.Rate.HandlingUnitRequest'
          required:
          - handlingUnits
          type:
          - array
          - 'null'
        linearFeet:
          description: Linear feet measurement for VLTL.
          format: double
          maximum: 999
          type:
          - number
          - 'null'
        totalHandlingUnitCount:
          description: Total count of all handling units in the shipment
          format: int32
          maximum: 9999
          minimum: 1
          type:
          - integer
          - 'null'
        totalWeight:
          description: Total weight of the entire shipment in specified weight units
          format: int32
          maximum: 99999
          minimum: 1
          type:
          - integer
          - 'null'
        weightUnit:
          $ref: '#/components/schemas/MC.Infrastructure.Static.Data.Enums.WeightUnitCode'
      required:
      - handlingUnits
      type: object
    MC.Quote.Common.Enums.Response.Source:
      enum:
      - Carrier
      - MyCarrier
      - ThirdParty
      - Validation
      type: string
    MC.Infrastructure.Static.Data.Enums.ServiceMode:
      enum:
      - LTL
      - VLTL
      - TL
      - GFP
      - PARCEL
      type: string
    MC.Quote.Contracts.Responses.Rate.ServiceResponse:
      additionalProperties: false
      properties:
        carrier:
          description: Carrier SCAC (Standard Carrier Alpha Code) providing the rate
          example: ABCF
          maxLength: 4
          type:
          - string
          - 'null'
        laneType:
          description: Lane type classification for the shipping route
          example: Direct
          type:
          - string
          - 'null'
        level:
          $ref: '#/components/schemas/MC.Infrastructure.Static.Data.Enums.ServiceLevelCode'
        mode:
          $ref: '#/components/schemas/MC.Infrastructure.Static.Data.Enums.ServiceMode'
        pricing:
          description: Pricing type or structure information for the rate
          example: Contract
          type:
          - string
          - 'null'
        rateType:
          description: Rate type classification for the shipping route
          example: Carpet
          type:
          - string
          - 'null'
      type: object
    MC.Quote.Contracts.Responses.Rate.AccessorialsResponse:
      additionalProperties: false
      properties:
        unsupported:
          description: Unsupported accessorials
          items:
            type: string
          type:
          - array
          - 'null'
      type: object
    MC.Quote.Contracts.Responses.Rate.PriceDetailsResponse:
      additionalProperties: false
      properties:
        chargeItems:
          description: Detailed breakdown of individual charges and fees comprising the total cost
          items:
            $ref: '#/components/schemas/MC.Quote.Contracts.Responses.Rate.ChargeItemResponse'
          type:
          - array
          - 'null'
        currency:
          $ref: '#/components/schemas/MC.Infrastructure.Static.Data.Enums.CurrencyCode'
        discount:
          description: Discount amount applied to the quote reducing the total cost
          example: '15.00'
          format: double
          type:
          - number
          - 'null'
        subtotal:
          description: Subtotal before additional charges or discounts are applied
          example: '130.00'
          format: double
          type:
          - number
          - 'null'
        totalCost:
          description: Total cost for the shipment including all charges and fees
          example: '1245.75'
          format: double
          type: number
      type: object
    MC.Quote.Contracts.Responses.Rate.RateItemResponse:
      additionalProperties: false
      properties:
        accessorials:
          $ref: '#/components/schemas/MC.Quote.Contracts.Responses.Rate.AccessorialsResponse'
        appointmentDetails:
          $ref: '#/components/schemas/MC.Quote.Contracts.Responses.Rate.AppointmentDetailsResponse'
        identifiers:
          $ref: '#/components/schemas/MC.Quote.Contracts.Responses.Rate.IdentifiersResponse'
        priceDetails:
          $ref: '#/components/schemas/MC.Quote.Contracts.Responses.Rate.PriceDetailsResponse'
        service:
          $ref: '#/components/schemas/MC.Quote.Contracts.Responses.Rate.ServiceResponse'
        statusInfo:
          $ref: '#/components/schemas/MC.Quote.Contracts.Responses.StatusInfo'
      type: object
    MC.Quote.Contracts.Responses.Rate.DeliveryResponse:
      additionalProperties: false
      properties:
        estimatedDeliveryDate:
          description: Estimated delivery date in yyyy/MM/dd format based on transit times
          example: 2025/12/18
          type:
          - string
          - 'null'
        guaranteedTime:
          description: Guaranteed delivery time in HH:mm format
          example: '14:30'
          type:
          - string
          - 'null'
      type: object
    MC.Quote.Common.Enums.StopType:
      enum:
      - ORIGIN
      - DESTINATION
      type: string
    MC.Quote.Contracts.Requests.Rate.ContactRequest:
      additionalProperties: false
      properties:
        email:
          description: Email address for sending notifications and coordination messages
          example: john.smith@example.com
          maxLength: 320
          type:
          - string
          - 'null'
        firstName:
          description: First name of the contact person responsible for shipment coordination
          example: John
          maxLength: 250
          type:
          - string
          - 'null'
        lastName:
          description: Last name of the contact person responsible for shipment coordination
          example: Smith
          maxLength: 250
          type:
          - string
          - 'null'
        phone:
          description: Phone number for contacting this person during pickup or delivery
          example: 555-123-4567
          maxLength: 20
          type:
          - string
          - 'null'
        phoneExtension:
          description: Phone number extension for contacting this person during pickup or delivery
          example: '4561'
          maxLength: 10
          type:
          - string
          - 'null'
      type: object
    MC.Quote.Contracts.Responses.Rate.IdentifiersResponse:
      additionalProperties: false
      properties:
        carrierQuoteNumber:
          description: Carrier-provided quote number for reference and tracking purposes
          example: QT2024120001234
          type:
          - string
          - 'null'
      type: object
    MC.Infrastructure.Static.Data.Enums.WeightUnitCode:
      enum:
      - LB
      - KG
      type: string
    MC.Quote.Contracts.Requests.Rate.ServiceRequest:
      additionalProperties: false
      properties:
        carriers:
          description: Carrier SCAC codes for requesting rates, if null then ALL carriers will be requested
          items:
            type: string
          type:
          - array
          - 'null'
        equipmentType:
          description: Equipment type specification
          example: Van
          type:
          - string
          - 'null'
        level:
          description: Service level requirements - currently supported "STD" and "GUR", if ["ALL"] then both service levels will be requested
          items:
            $ref: '#/components/schemas/MC.Infrastructure.Static.Data.Enums.ServiceLevelCode'
          type:
          - array
          - 'null'
        mode:
          description: Transportation service modes ("LTL", "VLTL" supported) - currently limited to single mode
          items:
            $ref: '#/components/schemas/MC.Infrastructure.Static.Data.Enums.ServiceMode'
          required:
          - mode
          type:
          - array
          - 'null'
      required:
      - mode
      type: object
    MC.Quote.Contracts.Responses.Rate.ChargeItemResponse:
      additionalProperties: false
      properties:
        amount:
          description: Monetary amount for this charge item
          example: '150.75'
          format: double
          type: number
        code:
          description: Charge code identifier for the fee or service
          example: FUEL
          type:
          - string
          - 'null'
        description:
          description: Human-readable description of the charge
          example: Fuel Surcharge
          type:
          - string
          - 'null'
      type: object
    MC.Infrastructure.Static.Data.Enums.PackageTypeCode:
      enum:
      - BAG
      - BALE
      - BOX
      - BUCKET
      - BUNDLE
      - CARTON
      - CASE
      - CRATE
      - CYLINDER
      - DRUM
      - PAIL
      - PLT
      - REEL
      - ROLL
      - SKID
      - TUBE
      - TOTE
      - PIECES
      type: string
    MC.Quote.Contracts.Responses.Rate.AppointmentDetailsResponse:
      additionalProperties: false
      properties:
        delivery:
          $ref: '#/components/schemas/MC.Quote.Contracts.Responses.Rate.DeliveryResponse'
        pickup:
          $ref: '#/components/schemas/MC.Quote.Contracts.Responses.Rate.PickupResponse'
        quoteEffectiveDate:
          description: Quote effective date in yyyy/MM/dd format from which the rates become valid
          example: 2025/12/15
          type:
          - string
          - 'null'
        quoteExpirationDate:
          description: Quote expiration date in yyyy/MM/dd format after which the rates are no longer valid
          example: 2025/12/22
          type:
          - string
          - 'null'
        transitDays:
          description: Number of business days for transit from pickup to delivery
          example: '3'
          format: int32
          type:
          - integer
          - 'null'
      type: object
    MC.Infrastructure.Static.Data.Enums.CurrencyCode:
      enum:
      - USD
      - CAD
      - MEX
      type: string
    MC.Quote.Contracts.Responses.Rate.RatingResponse:
      additionalProperties: false
      properties:
        quoteId:
          description: Internal identifier for saved quote for RATE_AND_SAVE action
          example: '123456'
          format: int64
          type:
          - integer
          - 'null'
        quoteKey:
          description: Internal key for saved quote for RATE_AND_SAVE action
          example: 3fa85f64-5717-4562-b3fc-2c963f66afa6
          format: uuid
          type:
          - string
          - 'null'
        rates:
          description: Collection of individual rate quotes from different carriers
          items:
            $ref: '#/components/schemas/MC.Quote.Contracts.Responses.Rate.RateItemResponse'
          type:
          - array
          - 'null'
        referenceId:
          type:
          - string
          - 'null'
        savedQuoteId:
          description: Unique identifier for the saved quote for RATE_AND_SAVE action
          example: 3fa85f64-5717-4562-b3fc-2c963f66afa6
          format: uuid
          type:
          - string
          - 'null'
        statusInfo:
          $ref: '#/components/schemas/MC.Quote.Contracts.Responses.StatusInfo'
      type: object
    MC.Quote.Contracts.Requests.Rate.DeliveryRequest:
      additionalProperties: false
      properties:
        closeTime:
          description: Closing time for delivery window in 24-hour HH:mm format
          example: '16:00'
          type:
          - string
          - 'null'
        deliveryDate:
          description: Delivery date in yyyy/MM/dd format. This is required for destination stops
          example: 2025/12/18
          type:
          - string
          - 'null'
        openTime:
          description: Opening time for delivery window in 24-hour HH:mm format
          example: 09:00
          type:
          - string
          - 'null'
      type: object
    MC.Quote.Contracts.Requests.Rate.IdentifiersRequest:
      additionalProperties: false
      properties:
        orderId:
          description: Collection of order identifiers for shipment tracking and reference purposes
          items:
            type: string
          type:
          - array
          - 'null'
      type: object
    MC.Quote.Contracts.Requests.Rate.HazardousDetailsRequest:
      additionalProperties: false
      properties:
        hazardousClass:
          description: Hazardous class classification
          example: 1.1F
          type:
          - string
          - 'null'
        hazardousPackingGroup:
          $ref: '#/components/schemas/MC.Infrastructure.Static.Data.Enums.HazardClassCode'
        hazardousProductName:
          description: Optional hazardous product name for hazardous material as per regulations
          example: Paint supplies
          maxLength: 128
          type:
          - string
          - 'null'
        hazardousShippingName:
          description: Proper shipping name for hazardous material as per regulations
          example: Paint related material
          maxLength: 512
          type:
          - string
          - 'null'
        unnaNumber:
          description: UN identification number for the hazardous material
          type:
          - string
          - 'null'
      type: object
    MC.Quote.Contracts.Requests.Rate.StopRequest:
      additionalProperties: false
      properties:
        addressId:
          description: Unique identifier (primary key) that can be used to specify an address that is already saved in the MyCarrier platform, required when payment terms is "PREPAID" and stopType is "ORIGIN", required when payment terms is "INBOUND_COLLECT" and stopType is "DESTINATION"
          example: '1'
          type:
          - string
          - 'null'
        addressLine1:
          description: Primary street address line including number and street name
          example: 123 Main Street
          maxLength: 250
          type:
          - string
          - 'null'
        addressLine2:
          description: Secondary address line for suite, apartment, or building information
          example: Suite 100
          maxLength: 250
          type:
          - string
          - 'null'
        appointmentDetails:
          $ref: '#/components/schemas/MC.Quote.Contracts.Requests.Rate.AppointmentDetailsRequest'
        city:
          description: City name for the stop location (required if addressId not provided)
          example: Chicago
          maxLength: 100
          type:
          - string
          - 'null'
        contact:
          $ref: '#/components/schemas/MC.Quote.Contracts.Requests.Rate.ContactRequest'
        country:
          $ref: '#/components/schemas/MC.Infrastructure.Static.Data.Enums.Country'
        name:
          description: Company or business name at this stop location
          example: ABC Manufacturing
          maxLength: 250
          type:
          - string
          - 'null'
        postalCode:
          description: Postal or ZIP code for the stop location (required if addressId not provided)
          example: '60601'
          maxLength: 6
          type:
          - string
          - 'null'
        stateProvince:
          description: State or province abbreviation code (required if addressId not provided)
          example: IL
          maxLength: 2
          type:
          - string
          - 'null'
        stopType:
          $ref: '#/components/schemas/MC.Quote.Common.Enums.StopType'
      type: object
    MC.Quote.Common.Enums.RatingAction:
      enum:
      - RATE_ONLY
      - RATE_AND_SAVE
      - RATE_AND_SELECT
      - RATE_AND_DISPATCH
      type: string
    MC.Infrastructure.Static.Data.Enums.AccessorialCode:
      enum:
      - HAZM
      - RESPU
      - CNVPU
      - INPU
      - LGPU
      - PFZ
      - PFZC
      - ELS_8
      - ELS_9
      - ELS_10
      - ELS_11
      - ELS_12
      - ELS_13
      - ELS_14
      - ELS_15
      - ELS_16
      - ELS_17
      - ELS_18
      - ELS_19
      - ELS_20
      - ELS_21
      - ELS_22
      - ELS_23
      - ELS_24
      - ELS_25
      - ELS_26
      - ELS_27
      - ELS_28
      - ELS_29
      - ELS_30
      - SINGSHIP
      - BOND
      - ELS_7
      - ELS_6
      - CAMPPU
      - CHRCPU
      - CLUBPU
      - CONPU
      - EDUPU
      - GOVPU
      - GROPU
      - HOSPU
      - HOTLPU
      - MILPU
      - MINEPU
      - NARPU
      - NURSPU
      - PARKPU
      - PIERPU
      - PRISPU
      - RSRTPU
      - SSTORPU
      - UTLPU
      - LTDPU
      - AIRPU
      - FARMPU
      - RESDEL
      - CNVDEL
      - NOTIFY
      - LGDEL
      - SORTDEL
      - INDEL
      - APPTDEL
      - CAMPDEL
      - CHRCDEL
      - CLUBDEL
      - CONDEL
      - EDUDEL
      - GOVDEL
      - GRODEL
      - HOSDEL
      - HOTLDEL
      - MILDEL
      - MINEDEL
      - NARDEL
      - NURSDEL
      - PARKDEL
      - PIERDEL
      - PRISDEL
      - RSRTDEL
      - SSTORDEL
      - UTLDEL
      - LTDDEL
      - AIRDEL
      - FARMDEL
      - OVN
      - THDL
      - THPU
      - WGDL
      - WGPU
      - TWPD
      - TWPP
      type: string
    MC.Infrastructure.Static.Data.Enums.Country:
      enum:
      - USA
      - CAN
      - MEX
      type: string
    MC.Quote.Contracts.Responses.ApiResponseOfMC.Quote.Contracts.Responses.Rate.RatingResponse:
      additionalProperties: false
      properties:
        data:
          $ref: '#/components/schemas/MC.Quote.Contracts.Responses.Rate.RatingResponse'
        errors:
          description: Response errors
          items:
            type: string
          type:
          - array
          - 'null'
        statusCode:
          description: Response status code
          example: '200'
          format: int32
          type: integer
      type: object
    MC.Quote.Contracts.Requests.Rate.RatingRequest:
      additionalProperties: false
      properties:
        accessorials:
          $ref: '#/components/schemas/MC.Quote.Contracts.Requests.Rate.AccessorialsRequest'
        action:
          $ref: '#/components/schemas/MC.Quote.Common.Enums.RatingAction'
        fullValueCoverageDetails:
          $ref: '#/components/schemas/MC.Quote.Contracts.Requests.Rate.FullValueCoverageDetailsRequest'
        identifiers:
          $ref: '#/components/schemas/MC.Quote.Contracts.Requests.Rate.IdentifiersRequest'
        paymentTerms:
          $ref: '#/components/schemas/MC.Infrastructure.Static.Data.Enums.PaymentTermCode'
        service:
          $ref: '#/components/schemas/MC.Quote.Contracts.Requests.Rate.ServiceRequest'
        shippingDetails:
          $ref: '#/components/schemas/MC.Quote.Contracts.Requests.Rate.ShippingDetailsRequest'
        stops:
          description: Collection of pickup and delivery stops for the shipment
          items:
            $ref: '#/components/schemas/MC.Quote.Contracts.Requests.Rate.StopRequest'
          required:
          - stops
          type:
          - array
          - 'null'
      required:
      - stops
      type: object
    MC.Quote.Contracts.Requests.Rate.PickupRequest:
      additionalProperties: false
      properties:
        closeTime:
          description: Closing time for pickup window in 24-hour HH:mm format
          example: '17:00'
          type:
          - string
          - 'null'
        openTime:
          description: Opening time for pickup window in 24-hour HH:mm format
          example: 08:00
          type:
          - string
          - 'null'
        pickupDate:
          description: Pickup date in yyyy/MM/dd format. This is required for origin stops
          example: 2024/12/15
          type:
          - string
          - 'null'
      type: object
    MC.Quote.Contracts.Responses.Note:
      additionalProperties: false
      properties:
        code:
          description: Error or reference code for programmatic handling of this note
          example: VALIDATION_001
          maxLength: 50
          type:
          - string
          - 'null'
        message:
          description: Descriptive message providing details about this specific aspect
          example: The 'weight' field is required and must be greater than 0
          maxLength: 1000
          type:
          - string
          - 'null'
        source:
          $ref: '#/components/schemas/MC.Quote.Common.Enums.Response.Source'
        status:
          $ref: '#/components/schemas/MC.Quote.Common.Enums.Response.Status'
      type: object
    MC.Infrastructure.Static.Data.Enums.ServiceLevelCode:
      enum:
      - ALL
      - STD
      - GUR
      - GUR_AM
      - GUR_PM
      - GUR_NOON
      type: string
    MC.Quote.Common.Enums.Response.Status:
      enum:
      - Success
      - Info
      - Warning
      - Error
      type: string
    MC.Quote.Contracts.Responses.Rate.PickupResponse:
      additionalProperties: false
      properties:
        estimatedPickupDate:
          description: Estimated pickup date in yyyy/MM/dd format based on carrier schedules
          example: 2025/12/15
          type:
          - string
          - 'null'
      type: object
    MC.Quote.Contracts.Responses.StatusInfo:
      additionalProperties: false
      properties:
        message:
          description: Main message describing the response status or any errors
          example: Transaction was successful.
          maxLength: 500
          type:
          - string
          - 'null'
        notes:
          description: Collection of detailed notes providing additional information about the response
          items:
            $ref: '#/components/schemas/MC.Quote.Contracts.Responses.Note'
          type:
          - array
          - 'null'
        status:
          $ref: '#/components/schemas/MC.Quote.Common.Enums.Response.Status'
      type: object
    rates:
      type: object
      properties:
        quoteStatus:
          type: string
          example: available
        rejectReason:
          type: string
          format: nullable
        quoteId:
          type: string
          example: '139805226'
        carrierQuoteId:
          type: string
        shipmentMode:
          type: string
        equipmentType:
          type: string
        quoteExpiryDate:
          type: string
        currencyCode:
          type: string
          example: USD
        carrier:
          $ref: '#/components/schemas/carrier'
        price:
          type: array
          items:
            $ref: '#/components/schemas/price'
    shipment_booking_request:
      type: object
      properties:
        directionOverride:
          type: string
          example: SHIPPER/CONSIGNEE/THIRD_PARTY
        shipmentId:
          type: string
          example: shipment Id
        shipmentType:
          type: string
          example: LTL
        schedulePickupStartDate:
          type: string
          example: '2022-12-01T20:00:00.000Z'
        schedulePickupEndDate:
          type: string
          example: '2022-12-05T23:00:00.000Z'
        scheduleDeliveryStartDate:
          type: string
          example: '2022-09-02T20:00:00.000Z'
        scheduleDeliveryEndDate:
          type: string
          example: '2022-09-02T23:00:00.000Z'
        currencyType:
          type: string
          example: USD
        shipmentValue:
          type: integer
          format: int32
          example: 10000
        shipmentMode:
          type: string
          example: Dry Van
        perishableItem:
          type: boolean
        perishableTempMin:
          type: integer
          format: int32
          example: 0
        perishableTempMax:
          type: integer
          format: int32
          example: 0
        perishableTempUOM:
          type: string
          example: F
        paymentType:
          type: string
          example: Outbound Prepaid
        totalWeight:
          type: integer
          format: int32
          example: 20000
        totalWeightUOM:
          type: string
          example: LB
        totalPieces:
          type: integer
          format: int32
          example: 20
        totalPiecesUOM:
          type: string
          example: PCS/PLTS/BOXES/CARTONS
        totalVolume:
          type: integer
          format: int32
          example: 30000
        totalVolumeUOM:
          type: string
          example: CFT/CMTR
        totalLinearFeet:
          type: integer
          format: int32
          example: 10
        preferredSystemOfMeasurement:
          type: string
          example: METRIC
        stops:
          type: array
          items:
            $ref: '#/components/schemas/pickup'
        multipleItemsPerHandlingUnit:
          type: boolean
          example: false
        shipmentLineItems:
          type: array
          items:
            $ref: '#/components/schemas/shipmentitems'
    contact:
      type: object
      properties:
        contactName:
          type: string
          example: personsname
        phone:
          type: string
          example: (999) 999-9999
        email:
          type: string
          example: testemail@test.com
    data_quote_response:
      type: object
      properties:
        rates:
          type: array
          items:
            $ref: '#/components/schemas/rates'
    pickup:
      type: object
      properties:
        stopNumber:
          type: integer
          format: int32
          example: 1
        stopType:
          type: string
          example: PICKUP
        name:
          type: string
          example: Compco
        addressLine1:
          type: string
          example: 59 Bedford St
        addressLine2:
          type: string
        city:
          type: string
          example: Stamford
        stateProvince:
          type: string
          example: CT
        postalCode:
          type: string
          example: 06901
        country:
          $ref: '#/components/schemas/country'
        latitude:
          type: number
          example: 32.7325
        longitude:
          type: number
          example: -117.2011
        contactEmail:
          type: string
          example: test@email.com
        contactName:
          type: string
          example: Person Name
        contactPhone:
          type: string
          example: (999) 999-9999
        schedule:
          $ref: '#/components/schemas/pickschedule'
        isScheduleRequired:
          type: boolean
        note:
          type: string
          example: Check in with security prior to loading or unloading.
    RateQuoteResponse:
      type: object
      properties:
        specVersion:
          type: string
          example: '1'
        type:
          type: string
          example: com.mycarrier.carrier.integrations
        source:
          type: string
          example: https://mycarrier.uat.com
        id:
          type: string
          example: bcef4153-0e25-4435-9f76-93a91f675d31
        time:
          type: string
          example: '2023-01-24T10:18:11.000Z'
        dataContentType:
          type: string
          example: application/json
        erpType:
          type: string
          format: nullable
        direction:
          type: string
          example: inbound
        subject:
          type: string
        erpRecordType:
          type: string
          format: nullable
        carrierScacCode:
          type: string
        data:
          $ref: '#/components/schemas/data_quote_response'
    country:
      type: object
      properties:
        alpha2Code:
          type: string
          example: US
        name:
          type: string
          example: United States
    carrier:
      type: object
      properties:
        name:
          type: string
          example: SAIA
        uuid:
          type: string
        scac:
          type: string
          example: SAIA
    multipleItem:
      type: object
      properties:
        lineItemId:
          type: string
          example: '5'
        commodityName:
          type: string
          example: Test name
        class:
          type: string
          example: '60'
        commodityDescription:
          type: string
          example: test description
        countryOfManufacture:
          type: string
          example: United States
        nmfcItemCode:
          type: string
          example: '123'
        nmfcSubCode:
          type: string
          example: '12345'
        commodityType:
          type: string
          example: string
        isHazmat:
          type: boolean
        hazmat:
          $ref: '#/components/schemas/hazmat'
        unitValue:
          type: integer
          format: int32
          example: 0
        unitValueCurrency:
          type: string
          example: USD
        weight:
          type: integer
          format: int32
          example: 200
        quantity:
          type: integer
          format: int32
          example: 1
    price:
      type: object
      properties:
        serviceLevel:
          $ref: '#/components/schemas/serviceLevel'
        grossPrice:
          type: string
          example: '154.56'
        netPrice:
          type: string
          example: '154.56'
        priceBreakUp:
          type: array
          items:
            $ref: '#/components/schemas/priceBreakUp'
    dimensions:
      type: object
      properties:
        height:
          type: integer
          format: int32
          example: 41
        heightUOM:
          type: string
          example: INCHES
        length:
          type: integer
          format: int32
          example: 48
        lengthUOM:
          type: string
          example: INCHES
        width:
          type: integer
          format: int32
          example: 48
        widthUOM:
          type: string
          example: INCHES
        weight:
          type: integer
          format: int32
          example: 200
        weightUOM:
          type: string
          example: LB
        stackable:
          type: boolean
        quantity:
          type: integer
          format: int32
          example: 1
        packageType:
          type: string
          example: BAG
    shipmentitems:
      type: object
      properties:
        lineItemId:
          type: string
          example: '5'
        commodityName:
          type: string
          example: Test name
        class:
          type: string
          example: '60'
        commodityDescription:
          type: string
          example: test description
        countryOfManufacture:
          type: string
          example: United States
        associatedPickupStopNumber:
          type: integer
          format: int32
          example: 1
        associatedDropStopNumber:
          type: integer
          format: int32
          example: 2
        nmfcItemCode:
          type: string
          example: '123'
        nmfcSubCode:
          type: string
          example: '12345'
        commodityType:
          type: string
          example: string
        harmonizedCode:
          type: string
          example: string
        isHazmat:
          type: boolean
        hazmat:
          $ref: '#/components/schemas/hazmat'
        unitValue:
          type: integer
          format: int32
          example: 0
        unitValueCurrency:
          type: string
          example: USD
        dimensions:
          $ref: '#/components/schemas/dimensions'
        multipleItems:
          $ref: '#/components/schemas/multipleItem'
    priceBreakUp:
      type: object
      properties:
        type:
          type: string
          example: FSC
        code:
          type: string
          example: FSC
        description:
          type: string
          example: Fuel Surcharge
        price:
          type: string
          example: '43.06'
    data_quote_request:
      type: object
      properties:
        preferredCarriers:
          type: string
          example: SAIA
        accessorialServices:
          type: string
          example: INDEL,LGDEL,RESDEL
        shipment:
          $ref: '#/components/schemas/shipment_booking_request'
    hazmat:
      type: object
      properties:
        identification_number:
          type: string
          example: UN1000
        packingGroupId:
          type: string
          example: High
        classId:
          type: string
          example: ExtremelyInsensitiveExplosives
        emergencyContact:
          $ref: '#/components/schemas/contact'
    serviceLevel:
      type: object
      properties:
        code:
          type: string
          example: STD
        description:
          type: string
          example: Standard Rate
        guaranteed:
          type: string
        serviceDays:
          type: string
        serviceType:
          type: string
    RateQuoteRequest:
      required:
      - customerEmail
      - locationId
      type: object
      properties:
        specVersion:
          type: string
          example: '1'
        type:
          type: string
          example: com.mycarrier.carrier.integrations
        source:
          type: string
          example: https://mycarrier.uat.com
        id:
          type: string
          example: bcef4153-0e25-4435-9f76-93a91f675d31
        time:
          type: string
          example: '2022-10-03T15:03:05.450Z'
        direction:
          type: string
          example: outbound
        customerName:
          type: string
          example: Amazon
        customerEmail:
          type: string
          example: MyCarrieradminEmail@domain.com
        locationId:
          type: string
          example: '682656'
        data:
          $ref: '#/components/schemas/data_quote_request'
    pickschedule:
      type: object
      properties:
        date:
          type: string
          format: date
        start_time:
          type: string
          example: '14:00:00'
        end_time:
          type: string
          example: '20:00:00'
x-refined-from:
- mycarrier-public-api-openapi.json
- mycarrier-rating-api-openapi.json
