openapi: 3.2.0
info:
  title: FreightAudit Payment API
  version: v1
servers:
- url: https://invoice.mycarriertms.com
tags:
- name: Payment
paths:
  /api/Payment/DeletePayment:
    delete:
      tags:
      - Payment
      parameters:
      - name: Environment
        in: header
        example: dev
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/MC.Invoice.API.Dtos.Payments.Requests.DeletePaymentRequest'
          application/*+json:
            schema:
              $ref: '#/components/schemas/MC.Invoice.API.Dtos.Payments.Requests.DeletePaymentRequest'
      responses:
        '200':
          description: OK
        '404':
          description: Not Found
        '401':
          description: Unauthorized
        '403':
          description: If user not authorized to perform requested action
        '400':
          description: Bad Request
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/ProblemDetailsResponse'
        '500':
          description: Internal Server Error
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/ProblemDetailsResponse'
      security:
      - Bearer: []
  /api/Payment/Record:
    post:
      tags:
      - Payment
      parameters:
      - name: Environment
        in: header
        example: dev
      requestBody:
        content:
          application/json:
            schema:
              type: array
              items:
                $ref: '#/components/schemas/MC.Invoice.API.Dtos.Payments.Requests.RecordPaymentRequest'
          application/*+json:
            schema:
              type: array
              items:
                $ref: '#/components/schemas/MC.Invoice.API.Dtos.Payments.Requests.RecordPaymentRequest'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/MC.Invoice.API.Responses.V2.BulkInvoicePaymentResponse'
        '400':
          description: Bad Request
        '401':
          description: Unauthorized
        '403':
          description: If user not authorized to perform requested action
        '500':
          description: Internal Server Error
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/ProblemDetailsResponse'
      security:
      - Bearer: []
  /api/Payment/BulkPay:
    post:
      tags:
      - Payment
      parameters:
      - name: Environment
        in: header
        example: dev
      requestBody:
        content:
          application/json:
            schema:
              type: array
              items:
                $ref: '#/components/schemas/MC.Invoice.API.Dtos.Payments.Requests.RecordPaymentRequest'
          application/*+json:
            schema:
              type: array
              items:
                $ref: '#/components/schemas/MC.Invoice.API.Dtos.Payments.Requests.RecordPaymentRequest'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/MC.Invoice.API.Responses.V2.BulkInvoicePaymentResponse'
        '400':
          description: Bad Request
        '401':
          description: Unauthorized
        '403':
          description: If user not authorized to perform requested action
        '500':
          description: Internal Server Error
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/ProblemDetailsResponse'
      deprecated: true
      security:
      - Bearer: []
  /api/Payment/PayNow:
    post:
      tags:
      - Payment
      parameters:
      - name: Environment
        in: header
        example: dev
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/MC.Invoice.API.Dtos.Payments.Requests.PayInvoiceRequest'
          application/*+json:
            schema:
              $ref: '#/components/schemas/MC.Invoice.API.Dtos.Payments.Requests.PayInvoiceRequest'
      responses:
        '202':
          description: Accepted
        '400':
          description: Bad Request
        '401':
          description: Unauthorized
        '403':
          description: If user not authorized to perform requested action
        '500':
          description: Internal Server Error
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/ProblemDetailsResponse'
      security:
      - Bearer: []
  /api/Payment/Receipt/{transactionId}:
    get:
      tags:
      - Payment
      parameters:
      - name: transactionId
        in: path
        required: true
        schema:
          type: string
      - name: Environment
        in: header
        example: dev
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: string
                format: binary
        '404':
          description: Not Found
        '401':
          description: Unauthorized
        '403':
          description: If user not authorized to perform requested action
        '400':
          description: Bad Request
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/ProblemDetailsResponse'
        '500':
          description: Internal Server Error
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/ProblemDetailsResponse'
      security:
      - Bearer: []
components:
  schemas:
    MC.Invoice.API.Responses.V2.BulkInvoicePaymentResponse:
      type: object
      properties:
        invoiceRecordId:
          type: string
          format: uuid
        invoiceStatus:
          $ref: '#/components/schemas/MC.Invoice.Data.Mongo.Enums.InvoiceStatusType'
        data:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/MC.Invoice.Contracts.Responses.V2.InvoicePaymentResponse'
      additionalProperties: false
    MC.Payment.Contracts.Models.PaymentMethodType:
      enum:
      - Unknown
      - Card
      - Ach
      type: string
    MC.Invoice.Contracts.Responses.V2.InvoicePaymentResponse:
      type: object
      properties:
        paymentId:
          type: string
          format: uuid
        paymentDate:
          type: string
          format: date-time
        paymentAmount:
          type: number
          format: double
        paymentNotes:
          type:
          - string
          - 'null'
        createdBy:
          type:
          - string
          - 'null'
        receiptUrl:
          type:
          - string
          - 'null'
      additionalProperties: false
    ProblemDetailsResponse:
      type: object
      properties:
        type:
          type: string
          description: A URI reference that identifies the problem type
          example: https://tools.ietf.org/html/rfc7231#section-6.5.1
        title:
          type: string
          description: A short, human-readable summary of the problem type
          example: Bad Request
        status:
          type: integer
          description: The HTTP status code
          example: 400
        detail:
          type: string
          description: A human-readable explanation specific to this occurrence of the problem
          example: The invoice amount must be greater than zero
        instance:
          type: string
          description: A URI reference that identifies the specific occurrence of the problem
          example: /api/v1/invoices
        traceId:
          type: string
          description: The OpenTelemetry trace ID for correlating logs and distributed traces
          example: a1b2c3d4e5f67890abcdef1234567890
      description: RFC 7807 Problem Details response with traceId for error correlation
    MC.Invoice.Data.Mongo.Enums.InvoiceStatusType:
      enum:
      - Open
      - Approved
      - Dispute
      - Denied
      - Cancelled
      - AutoApproved
      - Paid
      - Archived
      - ShortPaid
      - NeedsReview
      - Created
      - Deleted
      type: string
    MC.Invoice.API.Dtos.Payments.Requests.PayInvoiceRequest:
      required:
      - correlationId
      - idempotencyKey
      - paymentMethodId
      - paymentMethodType
      - recordIds
      type: object
      properties:
        correlationId:
          type: string
          format: uuid
        idempotencyKey:
          minLength: 1
          type: string
        paymentMethodType:
          $ref: '#/components/schemas/MC.Payment.Contracts.Models.PaymentMethodType'
        paymentMethodId:
          minLength: 1
          type: string
        recordIds:
          minItems: 1
          type: array
          items:
            type: string
            format: uuid
      additionalProperties: false
    MC.Invoice.API.Dtos.Payments.Requests.RecordPaymentRequest:
      required:
      - invoiceRecordId
      - paymentDate
      type: object
      properties:
        invoiceRecordId:
          type: string
          format: uuid
        paymentAmount:
          type:
          - number
          - 'null'
          format: double
        paymentDate:
          type: string
          format: date-time
        paymentNotes:
          type:
          - string
          - 'null'
        createdBy:
          type:
          - string
          - 'null'
      additionalProperties: false
    MC.Invoice.API.Dtos.Payments.Requests.DeletePaymentRequest:
      required:
      - invoiceRecordId
      - paymentId
      type: object
      properties:
        invoiceRecordId:
          type: string
          format: uuid
        paymentId:
          type: string
          format: uuid
        removedBy:
          type:
          - string
          - 'null'
      additionalProperties: false
  securitySchemes:
    Bearer:
      type: http
      description: Enter JWT Bearer token **_only_**
      scheme: bearer
      bearerFormat: JWT
