openapi: 3.2.0
info:
  title: FreightAudit Download API
  version: v1
servers:
- url: https://invoice.mycarriertms.com
tags:
- name: Download
paths:
  /api/v1/{environment}/Customer/{customerId}/Transaction/{transactionId}/Receipt:
    get:
      tags:
      - Download
      parameters:
      - name: transactionId
        in: path
        required: true
        schema:
          type: string
      - name: customerId
        in: path
        required: true
        schema:
          type: integer
          format: int32
      - name: environment
        in: path
        required: true
        schema:
          type: string
      - name: Environment
        in: header
        example: dev
      responses:
        '200':
          description: OK
          content:
            application/pdf:
              schema:
                type: string
                format: binary
        '400':
          description: Bad Request
        '404':
          description: Not Found
        '500':
          description: Internal Server Error
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/ProblemDetailsResponse'
components:
  schemas:
    ProblemDetailsResponse:
      type: object
      properties:
        type:
          type: string
          description: A URI reference that identifies the problem type
          example: https://tools.ietf.org/html/rfc7231#section-6.5.1
        title:
          type: string
          description: A short, human-readable summary of the problem type
          example: Bad Request
        status:
          type: integer
          description: The HTTP status code
          example: 400
        detail:
          type: string
          description: A human-readable explanation specific to this occurrence of the problem
          example: The invoice amount must be greater than zero
        instance:
          type: string
          description: A URI reference that identifies the specific occurrence of the problem
          example: /api/v1/invoices
        traceId:
          type: string
          description: The OpenTelemetry trace ID for correlating logs and distributed traces
          example: a1b2c3d4e5f67890abcdef1234567890
      description: RFC 7807 Problem Details response with traceId for error correlation
  securitySchemes:
    Bearer:
      type: http
      description: Enter JWT Bearer token **_only_**
      scheme: bearer
      bearerFormat: JWT
