openapi: 3.2.0
info:
  title: FreightAudit Bulk Import API
  version: v1
servers:
- url: https://invoice.mycarriertms.com
tags:
- name: BulkImport
paths:
  /api/BulkImport/Validate:
    post:
      tags:
      - BulkImport
      parameters:
      - name: Environment
        in: header
        example: dev
      requestBody:
        content:
          multipart/form-data:
            schema:
              type: object
              properties:
                file:
                  type: string
                  format: binary
            encoding:
              file:
                style: form
      responses:
        '200':
          description: OK
        '401':
          description: If Authorization header not present, has no value or no valid jwt bearer token
        '403':
          description: If user not authorized to perform requested action
        '400':
          description: Bad Request
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/ProblemDetailsResponse'
        '500':
          description: Internal Server Error
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/ProblemDetailsResponse'
      deprecated: true
      security:
      - Bearer: []
  /api/BulkImport/Validate/{customerId}:
    post:
      tags:
      - BulkImport
      parameters:
      - name: customerId
        in: path
        required: true
        schema:
          type: string
      - name: Environment
        in: header
        example: dev
      requestBody:
        content:
          multipart/form-data:
            schema:
              type: object
              properties:
                file:
                  type: string
                  format: binary
            encoding:
              file:
                style: form
      responses:
        '200':
          description: OK
        '401':
          description: If Authorization header not present, has no value or no valid jwt bearer token
        '403':
          description: If user not authorized to perform requested action
        '400':
          description: Bad Request
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/ProblemDetailsResponse'
        '500':
          description: Internal Server Error
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/ProblemDetailsResponse'
      deprecated: true
      security:
      - Bearer: []
  /api/BulkImport/Template/Download:
    get:
      tags:
      - BulkImport
      parameters:
      - name: Environment
        in: header
        example: dev
      responses:
        '200':
          description: OK
        '401':
          description: If Authorization header not present, has no value or no valid jwt bearer token
        '403':
          description: If user not authorized to perform requested action
        '400':
          description: Bad Request
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/ProblemDetailsResponse'
        '500':
          description: Internal Server Error
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/ProblemDetailsResponse'
        '404':
          description: Not Found
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/ProblemDetailsResponse'
      security:
      - Bearer: []
  /api/BulkImport/Import:
    post:
      tags:
      - BulkImport
      parameters:
      - name: Environment
        in: header
        example: dev
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/MC.Invoice.API.Dtos.BulkImport.Requests.ImportInvoiceRequestWrapper'
          application/*+json:
            schema:
              $ref: '#/components/schemas/MC.Invoice.API.Dtos.BulkImport.Requests.ImportInvoiceRequestWrapper'
      responses:
        '200':
          description: OK
        '401':
          description: If Authorization header not present, has no value or no valid jwt bearer token
        '403':
          description: If user not authorized to perform requested action
        '400':
          description: Bad Request
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/ProblemDetailsResponse'
        '500':
          description: Internal Server Error
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/ProblemDetailsResponse'
      deprecated: true
      security:
      - Bearer: []
components:
  schemas:
    MC.Invoice.API.Dtos.BulkImport.Requests.ImportInvoiceRequestWrapper:
      type: object
      properties:
        invoices:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/MC.Invoice.API.Dtos.BulkImport.Requests.ImportInvoiceRequest'
        updatedBy:
          type:
          - string
          - 'null'
      additionalProperties: false
    MC.Invoice.Data.Mongo.Enums.InvoiceSourceType:
      enum:
      - Unknown
      - YourEDI
      - CSVImport
      - ImageImport
      - Integrations
      - ImageImportEmail
      - ImageImportSMC3
      - YourEDIV2
      type: string
    MC.Invoice.API.Dtos.BulkImport.Requests.ImportInvoiceRequest:
      required:
      - carrier
      - invoiceDate
      - invoiceNumber
      - proNumber
      - source
      type: object
      properties:
        recordId:
          type:
          - string
          - 'null'
          format: uuid
        originalDocumentId:
          type:
          - string
          - 'null'
        originalDocumentUrl:
          type:
          - string
          - 'null'
        source:
          $ref: '#/components/schemas/MC.Invoice.Data.Mongo.Enums.InvoiceSourceType'
        invoiceNumber:
          minLength: 1
          type: string
        totalAmount:
          type:
          - number
          - 'null'
          format: double
        proNumber:
          minLength: 1
          type: string
        bolNumber:
          type:
          - string
          - 'null'
        poNumber:
          type:
          - string
          - 'null'
        invoiceDate:
          type: string
          format: date-time
        dueDate:
          type:
          - string
          - 'null'
          format: date-time
        carrier:
          $ref: '#/components/schemas/MC.Invoice.Domain.Dtos.BulkImport.InvoiceCarrierInfo'
        shipmentWeight:
          type:
          - integer
          - 'null'
          format: int32
        delivery:
          $ref: '#/components/schemas/MC.Invoice.Domain.Dtos.BulkImport.ShippingTimeline'
        pickup:
          $ref: '#/components/schemas/MC.Invoice.Domain.Dtos.BulkImport.ShippingTimeline'
        shipper:
          $ref: '#/components/schemas/MC.Invoice.Domain.Dtos.BulkImport.InvoiceCompanyInfo'
        consignee:
          $ref: '#/components/schemas/MC.Invoice.Domain.Dtos.BulkImport.InvoiceCompanyInfo'
        requester:
          $ref: '#/components/schemas/MC.Invoice.Domain.Dtos.BulkImport.InvoiceCompanyAddress'
        lineItems:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/MC.Invoice.Domain.Dtos.BulkImport.InvoiceLineItem'
        commodities:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/MC.Invoice.Domain.Dtos.BulkImport.InvoiceCommodity'
      additionalProperties: false
    MC.Invoice.Domain.Dtos.BulkImport.ShippingTimeline:
      type: object
      properties:
        estimatedDate:
          type:
          - string
          - 'null'
          format: date-time
        actualDate:
          type:
          - string
          - 'null'
          format: date-time
      additionalProperties: false
    ProblemDetailsResponse:
      type: object
      properties:
        type:
          type: string
          description: A URI reference that identifies the problem type
          example: https://tools.ietf.org/html/rfc7231#section-6.5.1
        title:
          type: string
          description: A short, human-readable summary of the problem type
          example: Bad Request
        status:
          type: integer
          description: The HTTP status code
          example: 400
        detail:
          type: string
          description: A human-readable explanation specific to this occurrence of the problem
          example: The invoice amount must be greater than zero
        instance:
          type: string
          description: A URI reference that identifies the specific occurrence of the problem
          example: /api/v1/invoices
        traceId:
          type: string
          description: The OpenTelemetry trace ID for correlating logs and distributed traces
          example: a1b2c3d4e5f67890abcdef1234567890
      description: RFC 7807 Problem Details response with traceId for error correlation
    MC.Invoice.Domain.Dtos.BulkImport.InvoiceCompanyInfo:
      type: object
      properties:
        companyName:
          type:
          - string
          - 'null'
        streetLine1:
          type:
          - string
          - 'null'
        streetLine2:
          type:
          - string
          - 'null'
        city:
          type:
          - string
          - 'null'
        state:
          type:
          - string
          - 'null'
        zip:
          type:
          - string
          - 'null'
        country:
          type:
          - string
          - 'null'
        contactName:
          type:
          - string
          - 'null'
        contactEmail:
          type:
          - string
          - 'null'
        contactPhone:
          type:
          - string
          - 'null'
      additionalProperties: false
    MC.Invoice.Domain.Dtos.BulkImport.InvoiceLineItem:
      type: object
      properties:
        description:
          type:
          - string
          - 'null'
        code:
          type:
          - string
          - 'null'
        amount:
          type:
          - number
          - 'null'
          format: double
      additionalProperties: false
    MC.Invoice.Domain.Dtos.BulkImport.InvoiceCarrierInfo:
      type: object
      properties:
        scacCode:
          type:
          - string
          - 'null'
      additionalProperties: false
    MC.Invoice.Domain.Dtos.BulkImport.InvoiceCompanyAddress:
      type: object
      properties:
        companyName:
          type:
          - string
          - 'null'
        streetLine1:
          type:
          - string
          - 'null'
        streetLine2:
          type:
          - string
          - 'null'
        city:
          type:
          - string
          - 'null'
        state:
          type:
          - string
          - 'null'
        zip:
          type:
          - string
          - 'null'
        country:
          type:
          - string
          - 'null'
      additionalProperties: false
    MC.Invoice.Domain.Dtos.BulkImport.InvoiceCommodity:
      type: object
      properties:
        description:
          type:
          - string
          - 'null'
        class:
          type:
          - string
          - 'null'
        pieces:
          type:
          - integer
          - 'null'
          format: int32
        packingType:
          type:
          - string
          - 'null'
        totalWeight:
          type:
          - integer
          - 'null'
          format: int32
      additionalProperties: false
  securitySchemes:
    Bearer:
      type: http
      description: Enter JWT Bearer token **_only_**
      scheme: bearer
      bearerFormat: JWT
