openapi: 3.2.0
info:
  title: Freight Audit API
  version: v1
servers:
- url: https://invoice.mycarriertms.com
tags:
- name: FreightAudit
paths:
  /api/FreightAudit/Invoice/Filter:
    post:
      tags:
      - FreightAudit
      parameters:
      - name: Environment
        in: header
        example: dev
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/MC.Invoice.API.Dtos.FreightAudit.Requests.InvoiceFilterRequest'
          application/*+json:
            schema:
              $ref: '#/components/schemas/MC.Invoice.API.Dtos.FreightAudit.Requests.InvoiceFilterRequest'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MC.Invoice.API.Dtos.FreightAudit.Responses.InvoiceFilterResponse'
        '401':
          description: If Authorization header not present, has no value or no valid jwt bearer token
        '403':
          description: If user not authorized to perform requested action
        '400':
          description: Bad Request
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/ProblemDetailsResponse'
        '500':
          description: Internal Server Error
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/ProblemDetailsResponse'
      security:
      - Bearer: []
  /api/FreightAudit/Invoice/Count:
    post:
      tags:
      - FreightAudit
      parameters:
      - name: Environment
        in: header
        example: dev
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/MC.Invoice.API.Dtos.FreightAudit.Requests.InvoiceFilterRequestBase'
          application/*+json:
            schema:
              $ref: '#/components/schemas/MC.Invoice.API.Dtos.FreightAudit.Requests.InvoiceFilterRequestBase'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MC.Invoice.API.Dtos.FreightAudit.Responses.InvoiceCountResponse'
        '401':
          description: If Authorization header not present, has no value or no valid jwt bearer token
        '403':
          description: If user not authorized to perform requested action
        '400':
          description: Bad Request
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/ProblemDetailsResponse'
        '500':
          description: Internal Server Error
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/ProblemDetailsResponse'
      security:
      - Bearer: []
  /api/FreightAudit/Invoice/FilterValues:
    post:
      tags:
      - FreightAudit
      parameters:
      - name: Environment
        in: header
        example: dev
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/MC.Invoice.API.Dtos.FreightAudit.Requests.InvoiceFilterRequest'
          application/*+json:
            schema:
              $ref: '#/components/schemas/MC.Invoice.API.Dtos.FreightAudit.Requests.InvoiceFilterRequest'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MC.Invoice.API.Dtos.FreightAudit.Responses.InvoiceFilterRequestValuesResponse'
        '401':
          description: If Authorization header not present, has no value or no valid jwt bearer token
        '403':
          description: If user not authorized to perform requested action
        '400':
          description: Bad Request
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/ProblemDetailsResponse'
        '500':
          description: Internal Server Error
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/ProblemDetailsResponse'
      security:
      - Bearer: []
  /api/FreightAudit/Invoice/{recordId}:
    get:
      tags:
      - FreightAudit
      parameters:
      - name: recordId
        in: path
        required: true
        schema:
          type: string
          format: uuid
      - name: Environment
        in: header
        example: dev
      responses:
        '200':
          description: OK
        '401':
          description: If Authorization header not present, has no value or no valid jwt bearer token
        '403':
          description: If user not authorized to perform requested action
        '400':
          description: Bad Request
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/ProblemDetailsResponse'
        '500':
          description: Internal Server Error
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/ProblemDetailsResponse'
        '404':
          description: Not Found
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/ProblemDetailsResponse'
      security:
      - Bearer: []
    put:
      tags:
      - FreightAudit
      parameters:
      - name: recordId
        in: path
        required: true
        schema:
          type: string
          format: uuid
      - name: Environment
        in: header
        example: dev
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/MC.Invoice.API.Dtos.FreightAudit.Requests.UpdateInvoiceRequest'
          application/*+json:
            schema:
              $ref: '#/components/schemas/MC.Invoice.API.Dtos.FreightAudit.Requests.UpdateInvoiceRequest'
      responses:
        '200':
          description: OK
        '401':
          description: If Authorization header not present, has no value or no valid jwt bearer token
        '403':
          description: If user not authorized to perform requested action
        '400':
          description: Bad Request
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/ProblemDetailsResponse'
        '500':
          description: Internal Server Error
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/ProblemDetailsResponse'
        '404':
          description: Not Found
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/ProblemDetailsResponse'
      security:
      - Bearer: []
  /api/FreightAudit/Invoice/Transaction/{transactionId}:
    get:
      tags:
      - FreightAudit
      parameters:
      - name: transactionId
        in: path
        required: true
        schema:
          type: string
      - name: Environment
        in: header
        example: dev
      responses:
        '200':
          description: OK
        '401':
          description: If Authorization header not present, has no value or no valid jwt bearer token
        '403':
          description: If user not authorized to perform requested action
        '400':
          description: Bad Request
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/ProblemDetailsResponse'
        '500':
          description: Internal Server Error
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/ProblemDetailsResponse'
        '404':
          description: Not Found
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/ProblemDetailsResponse'
      security:
      - Bearer: []
  /api/FreightAudit/InvoiceVersion/{recordId}/{versionRecordId}:
    get:
      tags:
      - FreightAudit
      parameters:
      - name: recordId
        in: path
        required: true
        schema:
          type: string
          format: uuid
      - name: versionRecordId
        in: path
        required: true
        schema:
          type: string
          format: uuid
      - name: Environment
        in: header
        example: dev
      responses:
        '200':
          description: OK
        '401':
          description: If Authorization header not present, has no value or no valid jwt bearer token
        '403':
          description: If user not authorized to perform requested action
        '400':
          description: Bad Request
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/ProblemDetailsResponse'
        '500':
          description: Internal Server Error
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/ProblemDetailsResponse'
        '404':
          description: Not Found
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/ProblemDetailsResponse'
      security:
      - Bearer: []
  /api/FreightAudit/InvoiceSummaryAnalytics/{customerId}/{numberOfDays}:
    get:
      tags:
      - FreightAudit
      parameters:
      - name: numberOfDays
        in: path
        required: true
        schema:
          type: integer
          format: int32
          default: 30
      - name: customerId
        in: path
        required: true
        schema:
          type: string
      - name: Environment
        in: header
        example: dev
      responses:
        '200':
          description: OK
        '401':
          description: If Authorization header not present, has no value or no valid jwt bearer token
        '403':
          description: If user not authorized to perform requested action
        '400':
          description: Bad Request
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/ProblemDetailsResponse'
        '500':
          description: Internal Server Error
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/ProblemDetailsResponse'
        '404':
          description: Not Found
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/ProblemDetailsResponse'
      security:
      - Bearer: []
  /api/FreightAudit/Remittance/PDF:
    post:
      tags:
      - FreightAudit
      parameters:
      - name: Environment
        in: header
        example: dev
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/MC.Invoice.API.Dtos.FreightAudit.Requests.InvoiceRemittanceRequest'
          application/*+json:
            schema:
              $ref: '#/components/schemas/MC.Invoice.API.Dtos.FreightAudit.Requests.InvoiceRemittanceRequest'
      responses:
        '200':
          description: OK
        '401':
          description: If Authorization header not present, has no value or no valid jwt bearer token
        '403':
          description: If user not authorized to perform requested action
        '400':
          description: Bad Request
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/ProblemDetailsResponse'
        '500':
          description: Internal Server Error
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/ProblemDetailsResponse'
      security:
      - Bearer: []
  /api/FreightAudit/Invoice/PDF/{recordId}:
    get:
      tags:
      - FreightAudit
      parameters:
      - name: recordId
        in: path
        required: true
        schema:
          type: string
          format: uuid
      - name: Environment
        in: header
        example: dev
      responses:
        '200':
          description: OK
        '401':
          description: If Authorization header not present, has no value or no valid jwt bearer token
        '403':
          description: If user not authorized to perform requested action
        '400':
          description: Bad Request
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/ProblemDetailsResponse'
        '500':
          description: Internal Server Error
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/ProblemDetailsResponse'
        '404':
          description: Not Found
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/ProblemDetailsResponse'
      security:
      - Bearer: []
  /api/FreightAudit/Email/InvoiceDetails:
    post:
      tags:
      - FreightAudit
      parameters:
      - name: Environment
        in: header
        example: dev
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/MC.Invoice.API.Dtos.FreightAudit.Requests.EmailInvoiceDetailsRequest'
          application/*+json:
            schema:
              $ref: '#/components/schemas/MC.Invoice.API.Dtos.FreightAudit.Requests.EmailInvoiceDetailsRequest'
      responses:
        '200':
          description: OK
        '401':
          description: If Authorization header not present, has no value or no valid jwt bearer token
        '403':
          description: If user not authorized to perform requested action
        '400':
          description: Bad Request
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/ProblemDetailsResponse'
        '500':
          description: Internal Server Error
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/ProblemDetailsResponse'
      security:
      - Bearer: []
  /api/FreightAudit/Invoice/OriginalQuote:
    post:
      tags:
      - FreightAudit
      parameters:
      - name: Environment
        in: header
        example: dev
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/MC.Invoice.API.Dtos.FreightAudit.Requests.MatchOriginalQuoteRequest'
          application/*+json:
            schema:
              $ref: '#/components/schemas/MC.Invoice.API.Dtos.FreightAudit.Requests.MatchOriginalQuoteRequest'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MC.Invoice.API.Dtos.FreightAudit.Responses.MatchOriginalQuoteResponse'
        '400':
          description: Bad Request
        '404':
          description: Not Found
        '401':
          description: If Authorization header not present, has no value or no valid jwt bearer token
        '403':
          description: If user not authorized to perform requested action
        '500':
          description: Internal Server Error
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/ProblemDetailsResponse'
      security:
      - Bearer: []
components:
  schemas:
    MC.Invoice.API.Dtos.FreightAudit.Responses.InvoiceFilterResponse:
      type: object
      properties:
        priorityRecordIds:
          type:
          - array
          - 'null'
          items:
            type: string
            format: uuid
        totalInvoiceCount:
          type: integer
          format: int64
        invoices:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/MC.Invoice.API.Dtos.FreightAudit.Responses.InvoiceFilterItemResponse'
      additionalProperties: false
    MC.Invoice.API.Dtos.FreightAudit.Requests.EmailInvoiceDetailsRequest:
      required:
      - emailAddressList
      - recordId
      type: object
      properties:
        emailAddressList:
          type: array
          items:
            type: string
        recordId:
          type: string
          format: uuid
        senderName:
          type:
          - string
          - 'null'
        senderCompanyName:
          type:
          - string
          - 'null'
        note:
          type:
          - string
          - 'null'
        emailReplyTo:
          type:
          - string
          - 'null'
      additionalProperties: false
    MC.Invoice.API.Dtos.FreightAudit.Responses.MatchOriginalQuoteResponse:
      type: object
      properties:
        shipmentId:
          type:
          - integer
          - 'null'
          format: int64
        quoteId:
          type:
          - integer
          - 'null'
          format: int64
      additionalProperties: false
    MC.Invoice.API.Dtos.FreightAudit.Requests.UpdateInvoiceRequest:
      required:
      - carrierProNumber
      - carrierScacCode
      - customerBolNumber
      - invoiceAmount
      - invoiceDateTime
      - lineItems
      type: object
      properties:
        invoiceDateTime:
          type: string
          format: date-time
        invoiceDueDateTime:
          type:
          - string
          - 'null'
          format: date-time
        invoiceAmount:
          maximum: 79228162514264337593543950335
          minimum: 1.0e-28
          type: number
          format: double
        notes:
          type:
          - string
          - 'null'
        carrierScacCode:
          minLength: 1
          type: string
        carrierProNumber:
          minLength: 1
          type: string
        customerBolNumber:
          minLength: 1
          type: string
        poNumber:
          type:
          - string
          - 'null'
        referenceNumber:
          type:
          - string
          - 'null'
        shipmentId:
          type:
          - integer
          - 'null'
          format: int64
        lineItems:
          type: array
          items:
            $ref: '#/components/schemas/MC.Invoice.API.Dtos.Shipments.ShipmentPriceDetailDto'
      additionalProperties: false
    MC.Invoice.API.Dtos.Shipments.ShipmentPriceDetailDto:
      type: object
      properties:
        description:
          type:
          - string
          - 'null'
        amount:
          type: number
          format: double
        chargeCode:
          type:
          - string
          - 'null'
      additionalProperties: false
    MC.Invoice.API.Dtos.FreightAudit.Requests.InvoiceFilterRequest:
      type: object
      properties:
        searchText:
          type:
          - string
          - 'null'
        customerId:
          type:
          - integer
          - 'null'
          format: int32
          deprecated: true
        shipmentIds:
          type:
          - array
          - 'null'
          items:
            type: integer
            format: int64
        carrierNames:
          type:
          - array
          - 'null'
          items:
            type: string
        poNumbers:
          type:
          - array
          - 'null'
          items:
            type: string
        proNumbers:
          type:
          - array
          - 'null'
          items:
            type: string
        bolNumbers:
          type:
          - array
          - 'null'
          items:
            type: string
        invoiceDateTime:
          $ref: '#/components/schemas/MC.Invoice.API.Dtos.Generic.DateTimeRangeRequest'
        invoiceDueDate:
          $ref: '#/components/schemas/MC.Invoice.API.Dtos.Generic.DateTimeRangeRequest'
        statuses:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/MC.Invoice.Data.Mongo.Enums.InvoiceStatusType'
        tags:
          type:
          - array
          - 'null'
          items:
            type: string
        isArchived:
          type:
          - boolean
          - 'null'
        hasOvercharge:
          type:
          - boolean
          - 'null'
        pagination:
          $ref: '#/components/schemas/MC.Invoice.API.Dtos.Generic.PaginationRequest'
        sorting:
          $ref: '#/components/schemas/MC.Invoice.API.Dtos.Generic.SortingRequest'
        prioritySorting:
          $ref: '#/components/schemas/MC.Invoice.API.Dtos.Generic.PrioritySortingRequest'
      additionalProperties: false
    MC.Invoice.API.Dtos.FreightAudit.Responses.InvoiceFilterItemResponse:
      type: object
      properties:
        customerId:
          type: integer
          format: int32
        recordId:
          type: string
          format: uuid
        carrierName:
          type:
          - string
          - 'null'
        carrierProNumber:
          type:
          - string
          - 'null'
        customerBOLNumber:
          type:
          - string
          - 'null'
        invoiceAmount:
          type: number
          format: double
        amountDue:
          type: number
          format: double
        differenceAmount:
          type: number
          format: double
        invoiceDateTime:
          type: string
          format: date-time
        invoiceDueDate:
          type:
          - string
          - 'null'
          format: date-time
        poNumber:
          type:
          - string
          - 'null'
        quoteAmount:
          type: number
          format: double
        referenceNumber:
          type:
          - string
          - 'null'
        shipmentId:
          type:
          - integer
          - 'null'
          format: int64
        status:
          $ref: '#/components/schemas/MC.Invoice.Data.Mongo.Enums.InvoiceStatusType'
        invoiceType:
          type:
          - string
          - 'null'
        deliveryDateTime:
          type:
          - string
          - 'null'
          format: date-time
        pickupDateTime:
          type:
          - string
          - 'null'
          format: date-time
        createdDateTime:
          type: string
          format: date-time
        modifiedDateTime:
          type: string
          format: date-time
        hasVersions:
          type: boolean
        requiresAttention:
          type: boolean
        tags:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/MC.Invoice.Contracts.Responses.V2.InvoiceTagResponse'
        statusTransitions:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/MC.Invoice.Data.Mongo.Enums.InvoiceStatusType'
        shipperInfo:
          $ref: '#/components/schemas/MC.Invoice.API.Dtos.FreightAudit.Responses.InvoiceFilterItemResponse_CompanyInfo'
        consigneeInfo:
          $ref: '#/components/schemas/MC.Invoice.API.Dtos.FreightAudit.Responses.InvoiceFilterItemResponse_CompanyInfo'
        payments:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/MC.Invoice.API.Dtos.FreightAudit.Responses.InvoicePaymentFilterItemResponse'
        hasReceipt:
          type: boolean
        hasIntegrationFee:
          type: boolean
        isArchive:
          type: boolean
        carrierSmallLogo:
          type:
          - string
          - 'null'
      additionalProperties: false
    MC.Invoice.Contracts.Responses.V2.InvoiceTagResponse:
      type: object
      properties:
        name:
          type:
          - string
          - 'null'
      additionalProperties: false
    MC.Invoice.API.Dtos.FreightAudit.Responses.InvoiceFilterItemResponse_CompanyInfo:
      type: object
      properties:
        companyName:
          type:
          - string
          - 'null'
        streetLine1:
          type:
          - string
          - 'null'
        streetLine2:
          type:
          - string
          - 'null'
        city:
          type:
          - string
          - 'null'
        state:
          type:
          - string
          - 'null'
        zip:
          type:
          - string
          - 'null'
      additionalProperties: false
    MC.Invoice.API.Dtos.FreightAudit.Responses.InvoicePaymentFilterItemResponse:
      type: object
      properties:
        paymentId:
          type: string
          format: uuid
        paymentDate:
          type: string
          format: date-time
        paymentAmount:
          type: number
          format: double
        paymentNotes:
          type:
          - string
          - 'null'
        createdBy:
          type:
          - string
          - 'null'
        isRemoved:
          type: boolean
      additionalProperties: false
    MC.Invoice.API.Dtos.FreightAudit.Responses.InvoiceCountResponse:
      type: object
      properties:
        totalInvoiceCount:
          type: integer
          format: int32
      additionalProperties: false
    MC.Invoice.API.Dtos.FreightAudit.Requests.InvoiceRemittanceRequest:
      type: object
      properties:
        customerId:
          type:
          - integer
          - 'null'
          format: int32
          deprecated: true
        recordIds:
          type:
          - array
          - 'null'
          items:
            type: string
            format: uuid
      additionalProperties: false
    MC.Invoice.Common.Enums.SortingType:
      enum:
      - Asc
      - Desc
      type: string
    MC.Invoice.API.Dtos.Generic.SortingRequest:
      type: object
      properties:
        sortingField:
          type:
          - string
          - 'null'
        sortingType:
          $ref: '#/components/schemas/MC.Invoice.Common.Enums.SortingType'
      additionalProperties: false
    ProblemDetailsResponse:
      type: object
      properties:
        type:
          type: string
          description: A URI reference that identifies the problem type
          example: https://tools.ietf.org/html/rfc7231#section-6.5.1
        title:
          type: string
          description: A short, human-readable summary of the problem type
          example: Bad Request
        status:
          type: integer
          description: The HTTP status code
          example: 400
        detail:
          type: string
          description: A human-readable explanation specific to this occurrence of the problem
          example: The invoice amount must be greater than zero
        instance:
          type: string
          description: A URI reference that identifies the specific occurrence of the problem
          example: /api/v1/invoices
        traceId:
          type: string
          description: The OpenTelemetry trace ID for correlating logs and distributed traces
          example: a1b2c3d4e5f67890abcdef1234567890
      description: RFC 7807 Problem Details response with traceId for error correlation
    MC.Invoice.Data.Mongo.Enums.InvoiceStatusType:
      enum:
      - Open
      - Approved
      - Dispute
      - Denied
      - Cancelled
      - AutoApproved
      - Paid
      - Archived
      - ShortPaid
      - NeedsReview
      - Created
      - Deleted
      type: string
    MC.Invoice.API.Dtos.FreightAudit.Requests.InvoiceFilterRequestBase:
      type: object
      properties:
        searchText:
          type:
          - string
          - 'null'
        customerId:
          type:
          - integer
          - 'null'
          format: int32
          deprecated: true
        shipmentIds:
          type:
          - array
          - 'null'
          items:
            type: integer
            format: int64
        carrierNames:
          type:
          - array
          - 'null'
          items:
            type: string
        poNumbers:
          type:
          - array
          - 'null'
          items:
            type: string
        proNumbers:
          type:
          - array
          - 'null'
          items:
            type: string
        bolNumbers:
          type:
          - array
          - 'null'
          items:
            type: string
        invoiceDateTime:
          $ref: '#/components/schemas/MC.Invoice.API.Dtos.Generic.DateTimeRangeRequest'
        invoiceDueDate:
          $ref: '#/components/schemas/MC.Invoice.API.Dtos.Generic.DateTimeRangeRequest'
        statuses:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/MC.Invoice.Data.Mongo.Enums.InvoiceStatusType'
        tags:
          type:
          - array
          - 'null'
          items:
            type: string
        isArchived:
          type:
          - boolean
          - 'null'
        hasOvercharge:
          type:
          - boolean
          - 'null'
      additionalProperties: false
    MC.Invoice.API.Dtos.FreightAudit.Requests.MatchOriginalQuoteRequest:
      required:
      - carrierProNumber
      - carrierScacCode
      type: object
      properties:
        carrierScacCode:
          minLength: 1
          type: string
        carrierProNumber:
          minLength: 1
          type: string
        customerBolNumber:
          type:
          - string
          - 'null'
        poNumber:
          type:
          - string
          - 'null'
      additionalProperties: false
    MC.Invoice.API.Dtos.Generic.DateTimeRangeRequest:
      type: object
      properties:
        from:
          type:
          - string
          - 'null'
          description: Specifies the start date for filtering invoices based on the invoiced date
          format: date-time
        to:
          type:
          - string
          - 'null'
          description: Specifies the end date for filtering invoices based on the invoiced date
          format: date-time
      additionalProperties: false
    MC.Invoice.API.Dtos.Generic.PrioritySortingRequest:
      type: object
      properties:
        sortingField:
          type:
          - string
          - 'null'
        sortingFieldValue:
          type:
          - string
          - 'null'
        sortingType:
          $ref: '#/components/schemas/MC.Invoice.Common.Enums.SortingType'
      additionalProperties: false
    MC.Invoice.API.Dtos.Generic.PaginationRequest:
      type: object
      properties:
        skip:
          maximum: 2147483647
          minimum: 0
          type: integer
          description: Specifies the number of records to exclude from the beginning of the query results
          format: int32
        take:
          maximum: 2147483647
          minimum: 1
          type: integer
          description: Can be used to set the number of records that you want to receive in response
          format: int32
      additionalProperties: false
    MC.Invoice.API.Dtos.FreightAudit.Responses.InvoiceFilterRequestValuesResponse:
      type: object
      properties:
        carrierNames:
          type:
          - array
          - 'null'
          items:
            type: string
        statuses:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/MC.Invoice.Data.Mongo.Enums.InvoiceStatusType'
        tags:
          type:
          - array
          - 'null'
          items:
            type: string
      additionalProperties: false
  securitySchemes:
    Bearer:
      type: http
      description: Enter JWT Bearer token **_only_**
      scheme: bearer
      bearerFormat: JWT
