{
  "openapi": "3.0.4",
  "info": {
    "title": "FreightAudit API",
    "version": "v1"
  },
  "servers": [
    {
      "url": "https://invoice.mycarriertms.com"
    }
  ],
  "paths": {
    "/api/BulkImport/Validate": {
      "post": {
        "tags": [
          "BulkImport"
        ],
        "parameters": [
          {
            "name": "Environment",
            "in": "header",
            "example": "dev"
          }
        ],
        "requestBody": {
          "content": {
            "multipart/form-data": {
              "schema": {
                "type": "object",
                "properties": {
                  "file": {
                    "type": "string",
                    "format": "binary"
                  }
                }
              },
              "encoding": {
                "file": {
                  "style": "form"
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK"
          },
          "401": {
            "description": "If Authorization header not present, has no value or no valid jwt bearer token"
          },
          "403": {
            "description": "If user not authorized to perform requested action"
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetailsResponse"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetailsResponse"
                }
              }
            }
          }
        },
        "deprecated": true,
        "security": [
          {
            "Bearer": [ ]
          }
        ]
      }
    },
    "/api/BulkImport/Validate/{customerId}": {
      "post": {
        "tags": [
          "BulkImport"
        ],
        "parameters": [
          {
            "name": "customerId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Environment",
            "in": "header",
            "example": "dev"
          }
        ],
        "requestBody": {
          "content": {
            "multipart/form-data": {
              "schema": {
                "type": "object",
                "properties": {
                  "file": {
                    "type": "string",
                    "format": "binary"
                  }
                }
              },
              "encoding": {
                "file": {
                  "style": "form"
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK"
          },
          "401": {
            "description": "If Authorization header not present, has no value or no valid jwt bearer token"
          },
          "403": {
            "description": "If user not authorized to perform requested action"
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetailsResponse"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetailsResponse"
                }
              }
            }
          }
        },
        "deprecated": true,
        "security": [
          {
            "Bearer": [ ]
          }
        ]
      }
    },
    "/api/BulkImport/Template/Download": {
      "get": {
        "tags": [
          "BulkImport"
        ],
        "parameters": [
          {
            "name": "Environment",
            "in": "header",
            "example": "dev"
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          },
          "401": {
            "description": "If Authorization header not present, has no value or no valid jwt bearer token"
          },
          "403": {
            "description": "If user not authorized to perform requested action"
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetailsResponse"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetailsResponse"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetailsResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "Bearer": [ ]
          }
        ]
      }
    },
    "/api/BulkImport/Import": {
      "post": {
        "tags": [
          "BulkImport"
        ],
        "parameters": [
          {
            "name": "Environment",
            "in": "header",
            "example": "dev"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/MC.Invoice.API.Dtos.BulkImport.Requests.ImportInvoiceRequestWrapper"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/MC.Invoice.API.Dtos.BulkImport.Requests.ImportInvoiceRequestWrapper"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK"
          },
          "401": {
            "description": "If Authorization header not present, has no value or no valid jwt bearer token"
          },
          "403": {
            "description": "If user not authorized to perform requested action"
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetailsResponse"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetailsResponse"
                }
              }
            }
          }
        },
        "deprecated": true,
        "security": [
          {
            "Bearer": [ ]
          }
        ]
      }
    },
    "/api/CarrierSettings/DisputeEmail/List": {
      "get": {
        "tags": [
          "CarrierInvoiceSetting"
        ],
        "parameters": [
          {
            "name": "Environment",
            "in": "header",
            "example": "dev"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/MC.Invoice.API.Dtos.CarrierSettings.CarrierInvoiceSettingResponse"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "If user not authorized to perform requested action"
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetailsResponse"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetailsResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "Bearer": [ ]
          }
        ]
      }
    },
    "/api/CarrierSettings/DisputeEmail/SCAC/{carrierCode}": {
      "get": {
        "tags": [
          "CarrierInvoiceSetting"
        ],
        "parameters": [
          {
            "name": "carrierCode",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Environment",
            "in": "header",
            "example": "dev"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MC.Invoice.API.Dtos.CarrierSettings.CarrierInvoiceSettingResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "Not Found"
          },
          "403": {
            "description": "If user not authorized to perform requested action"
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetailsResponse"
                }
              }
            }
          }
        },
        "deprecated": true,
        "security": [
          {
            "Bearer": [ ]
          }
        ]
      }
    },
    "/api/CarrierSettings/DisputeEmail/{invoiceRecordId}": {
      "get": {
        "tags": [
          "CarrierInvoiceSetting"
        ],
        "parameters": [
          {
            "name": "invoiceRecordId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "Environment",
            "in": "header",
            "example": "dev"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MC.Invoice.API.Dtos.CarrierSettings.CarrierInvoiceSettingResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "Not Found"
          },
          "403": {
            "description": "If user not authorized to perform requested action"
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetailsResponse"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetailsResponse"
                }
              }
            }
          }
        },
        "deprecated": true,
        "security": [
          {
            "Bearer": [ ]
          }
        ]
      }
    },
    "/api/CarrierSettings": {
      "post": {
        "tags": [
          "CarrierInvoiceSetting"
        ],
        "parameters": [
          {
            "name": "Environment",
            "in": "header",
            "example": "dev"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/MC.Invoice.API.Dtos.CarrierSettings.CarrierInvoiceSettingRequest"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/MC.Invoice.API.Dtos.CarrierSettings.CarrierInvoiceSettingRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK"
          },
          "401": {
            "description": "Unauthorized"
          },
          "400": {
            "description": "Bad Request"
          },
          "404": {
            "description": "Not Found"
          },
          "403": {
            "description": "If user not authorized to perform requested action"
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetailsResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "Bearer": [ ]
          }
        ]
      }
    },
    "/api/CarrierSettings/{carrierCode}": {
      "delete": {
        "tags": [
          "CarrierInvoiceSetting"
        ],
        "parameters": [
          {
            "name": "carrierCode",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Environment",
            "in": "header",
            "example": "dev"
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          },
          "401": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "Not Found"
          },
          "403": {
            "description": "If user not authorized to perform requested action"
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetailsResponse"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetailsResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "Bearer": [ ]
          }
        ]
      }
    },
    "/api/CustomerSettings/Customer/{customerId}": {
      "get": {
        "tags": [
          "CustomerInvoiceSetting"
        ],
        "parameters": [
          {
            "name": "customerId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "Environment",
            "in": "header",
            "example": "dev"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MC.Invoice.API.Dtos.CustomerSettings.CustomerInvoiceSettingResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "If user not authorized to perform requested action"
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetailsResponse"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetailsResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "Bearer": [ ]
          }
        ]
      }
    },
    "/api/CustomerSettings": {
      "post": {
        "tags": [
          "CustomerInvoiceSetting"
        ],
        "parameters": [
          {
            "name": "Environment",
            "in": "header",
            "example": "dev"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/MC.Invoice.Domain.Dtos.CustomerSettings.UpsertCustomerInvoiceSettingRequest"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/MC.Invoice.Domain.Dtos.CustomerSettings.UpsertCustomerInvoiceSettingRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MC.Invoice.API.Dtos.CustomerSettings.CustomerInvoiceSettingResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "If user not authorized to perform requested action"
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetailsResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "Bearer": [ ]
          }
        ]
      }
    },
    "/api/CustomerSettings/EdiMapping": {
      "post": {
        "tags": [
          "CustomerInvoiceSetting"
        ],
        "parameters": [
          {
            "name": "Environment",
            "in": "header",
            "example": "dev"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/MC.Invoice.API.Dtos.CustomerSettings.EdiMappingInformationRequest"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/MC.Invoice.API.Dtos.CustomerSettings.EdiMappingInformationRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MC.Invoice.API.Dtos.CustomerSettings.CustomerInvoiceSettingResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "If user not authorized to perform requested action"
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetailsResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "Bearer": [ ]
          }
        ]
      },
      "delete": {
        "tags": [
          "CustomerInvoiceSetting"
        ],
        "parameters": [
          {
            "name": "Environment",
            "in": "header",
            "example": "dev"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/MC.Invoice.API.Dtos.CustomerSettings.EdiMappingInformationRequest"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/MC.Invoice.API.Dtos.CustomerSettings.EdiMappingInformationRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MC.Invoice.API.Dtos.CustomerSettings.CustomerInvoiceSettingResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "If user not authorized to perform requested action"
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetailsResponse"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetailsResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "Bearer": [ ]
          }
        ]
      }
    },
    "/api/CustomerSettings/DisputeEmail/{carrierScac}": {
      "get": {
        "tags": [
          "CustomerInvoiceSetting"
        ],
        "parameters": [
          {
            "name": "carrierScac",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Environment",
            "in": "header",
            "example": "dev"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MC.Invoice.API.Dtos.CustomerSettings.DisputeEmailSettingResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "If user not authorized to perform requested action"
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetailsResponse"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetailsResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "Bearer": [ ]
          }
        ]
      }
    },
    "/api/CustomerSettings/DisputeEmail/{invoiceRecordId}": {
      "get": {
        "tags": [
          "CustomerInvoiceSetting"
        ],
        "parameters": [
          {
            "name": "invoiceRecordId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "Environment",
            "in": "header",
            "example": "dev"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MC.Invoice.API.Dtos.CustomerSettings.DisputeEmailSettingResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "Not Found"
          },
          "403": {
            "description": "If user not authorized to perform requested action"
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetailsResponse"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetailsResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "Bearer": [ ]
          }
        ]
      }
    },
    "/api/CustomerSettings/DisputeEmail": {
      "post": {
        "tags": [
          "CustomerInvoiceSetting"
        ],
        "parameters": [
          {
            "name": "Environment",
            "in": "header",
            "example": "dev"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/MC.Invoice.API.Dtos.CustomerSettings.DisputeEmailSettingRequest"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/MC.Invoice.API.Dtos.CustomerSettings.DisputeEmailSettingRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK"
          },
          "400": {
            "description": "Bad Request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "If user not authorized to perform requested action"
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetailsResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "Bearer": [ ]
          }
        ]
      }
    },
    "/api/Dispute/Save": {
      "post": {
        "tags": [
          "Dispute"
        ],
        "parameters": [
          {
            "name": "Environment",
            "in": "header",
            "example": "dev"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/MC.Invoice.API.Dtos.Disputes.Requests.SaveDisputeRequest"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/MC.Invoice.API.Dtos.Disputes.Requests.SaveDisputeRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK"
          },
          "401": {
            "description": "If Authorization header not present, has no value or no valid jwt bearer token"
          },
          "403": {
            "description": "If user not authorized to perform requested action"
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetailsResponse"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetailsResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "Bearer": [ ]
          }
        ]
      }
    },
    "/api/Dispute/BulkCreate": {
      "post": {
        "tags": [
          "Dispute"
        ],
        "parameters": [
          {
            "name": "Environment",
            "in": "header",
            "example": "dev"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/MC.Invoice.API.Dtos.Disputes.Requests.CreateBulkDisputeRequest"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/MC.Invoice.API.Dtos.Disputes.Requests.CreateBulkDisputeRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK"
          },
          "401": {
            "description": "If Authorization header not present, has no value or no valid jwt bearer token"
          },
          "403": {
            "description": "If user not authorized to perform requested action"
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetailsResponse"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetailsResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "Bearer": [ ]
          }
        ]
      }
    },
    "/api/Dispute/{disputeId}": {
      "get": {
        "tags": [
          "Dispute"
        ],
        "parameters": [
          {
            "name": "disputeId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "Environment",
            "in": "header",
            "example": "dev"
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          },
          "401": {
            "description": "If Authorization header not present, has no value or no valid jwt bearer token"
          },
          "403": {
            "description": "If user not authorized to perform requested action"
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetailsResponse"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetailsResponse"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetailsResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "Bearer": [ ]
          }
        ]
      }
    },
    "/api/Dispute/file": {
      "post": {
        "tags": [
          "Dispute"
        ],
        "parameters": [
          {
            "name": "Environment",
            "in": "header",
            "example": "dev"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "required": [
                  "DisputeId",
                  "File",
                  "FileName"
                ],
                "type": "object",
                "properties": {
                  "FileName": {
                    "type": "string"
                  },
                  "DisputeId": {
                    "type": "string",
                    "format": "uuid"
                  },
                  "File": {
                    "type": "string",
                    "format": "binary"
                  }
                }
              },
              "encoding": {
                "FileName": {
                  "style": "form"
                },
                "DisputeId": {
                  "style": "form"
                },
                "File": {
                  "style": "form"
                }
              }
            },
            "multipart/form-data": {
              "schema": {
                "required": [
                  "DisputeId",
                  "File",
                  "FileName"
                ],
                "type": "object",
                "properties": {
                  "FileName": {
                    "type": "string"
                  },
                  "DisputeId": {
                    "type": "string",
                    "format": "uuid"
                  },
                  "File": {
                    "type": "string",
                    "format": "binary"
                  }
                }
              },
              "encoding": {
                "FileName": {
                  "style": "form"
                },
                "DisputeId": {
                  "style": "form"
                },
                "File": {
                  "style": "form"
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK"
          },
          "401": {
            "description": "If Authorization header not present, has no value or no valid jwt bearer token"
          },
          "403": {
            "description": "If user not authorized to perform requested action"
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetailsResponse"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetailsResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "Bearer": [ ]
          }
        ]
      },
      "delete": {
        "tags": [
          "Dispute"
        ],
        "parameters": [
          {
            "name": "Environment",
            "in": "header",
            "example": "dev"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/MC.Invoice.API.Dtos.Disputes.Requests.DeleteFileRequest"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/MC.Invoice.API.Dtos.Disputes.Requests.DeleteFileRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK"
          },
          "401": {
            "description": "If Authorization header not present, has no value or no valid jwt bearer token"
          },
          "403": {
            "description": "If user not authorized to perform requested action"
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetailsResponse"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetailsResponse"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetailsResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "Bearer": [ ]
          }
        ]
      }
    },
    "/api/Dispute/Remove": {
      "delete": {
        "tags": [
          "Dispute"
        ],
        "parameters": [
          {
            "name": "Environment",
            "in": "header",
            "example": "dev"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/MC.Invoice.API.Dtos.Disputes.Requests.DeleteDisputeRequest"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/MC.Invoice.API.Dtos.Disputes.Requests.DeleteDisputeRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK"
          },
          "401": {
            "description": "If Authorization header not present, has no value or no valid jwt bearer token"
          },
          "403": {
            "description": "If user not authorized to perform requested action"
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetailsResponse"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetailsResponse"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetailsResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "Bearer": [ ]
          }
        ]
      }
    },
    "/api/Dispute/SendEmail": {
      "post": {
        "tags": [
          "Dispute"
        ],
        "parameters": [
          {
            "name": "Environment",
            "in": "header",
            "example": "dev"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/MC.Invoice.API.Dtos.Disputes.Requests.EmailDisputeRequest"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/MC.Invoice.API.Dtos.Disputes.Requests.EmailDisputeRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK"
          },
          "401": {
            "description": "If Authorization header not present, has no value or no valid jwt bearer token"
          },
          "403": {
            "description": "If user not authorized to perform requested action"
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetailsResponse"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetailsResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "Bearer": [ ]
          }
        ]
      }
    },
    "/api/v1/{environment}/Customer/{customerId}/Transaction/{transactionId}/Receipt": {
      "get": {
        "tags": [
          "Download"
        ],
        "parameters": [
          {
            "name": "transactionId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "customerId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "environment",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Environment",
            "in": "header",
            "example": "dev"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/pdf": {
                "schema": {
                  "type": "string",
                  "format": "binary"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request"
          },
          "404": {
            "description": "Not Found"
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetailsResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/Export/Template/Save": {
      "post": {
        "tags": [
          "Export"
        ],
        "parameters": [
          {
            "name": "Environment",
            "in": "header",
            "example": "dev"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/MC.Invoice.API.Dtos.Export.Request.ExportTemplateRequest"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/MC.Invoice.API.Dtos.Export.Request.ExportTemplateRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MC.Invoice.API.Dtos.Export.Response.ExportTemplateSaveResponse"
                }
              }
            }
          },
          "401": {
            "description": "If Authorization header not present, has no value or no valid jwt bearer token"
          },
          "403": {
            "description": "If user not authorized to perform requested action"
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetailsResponse"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetailsResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "Bearer": [ ]
          }
        ]
      }
    },
    "/api/Export/Template/List": {
      "get": {
        "tags": [
          "Export"
        ],
        "parameters": [
          {
            "name": "customerId",
            "in": "query",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "includeSystem",
            "in": "query",
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "Environment",
            "in": "header",
            "example": "dev"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/MC.Invoice.API.Dtos.Export.Response.ExportTemplateResponse"
                  }
                }
              }
            }
          },
          "401": {
            "description": "If Authorization header not present, has no value or no valid jwt bearer token"
          },
          "403": {
            "description": "If user not authorized to perform requested action"
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetailsResponse"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetailsResponse"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetailsResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "Bearer": [ ]
          }
        ]
      }
    },
    "/api/Export/Template/{templateId}": {
      "delete": {
        "tags": [
          "Export"
        ],
        "parameters": [
          {
            "name": "templateId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "Environment",
            "in": "header",
            "example": "dev"
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          },
          "401": {
            "description": "If Authorization header not present, has no value or no valid jwt bearer token"
          },
          "403": {
            "description": "If user not authorized to perform requested action"
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetailsResponse"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetailsResponse"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetailsResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "Bearer": [ ]
          }
        ]
      }
    },
    "/api/Export/Invoices/csv": {
      "post": {
        "tags": [
          "Export"
        ],
        "parameters": [
          {
            "name": "Environment",
            "in": "header",
            "example": "dev"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/MC.Invoice.API.Dtos.Export.Request.ExportRequest"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/MC.Invoice.API.Dtos.Export.Request.ExportRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK"
          },
          "401": {
            "description": "If Authorization header not present, has no value or no valid jwt bearer token"
          },
          "403": {
            "description": "If user not authorized to perform requested action"
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetailsResponse"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetailsResponse"
                }
              }
            }
          }
        },
        "deprecated": true,
        "security": [
          {
            "Bearer": [ ]
          }
        ]
      }
    },
    "/api/Export/Invoices/pdf": {
      "post": {
        "tags": [
          "Export"
        ],
        "parameters": [
          {
            "name": "Environment",
            "in": "header",
            "example": "dev"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/MC.Invoice.API.Dtos.Export.Request.ExportRequestBase"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/MC.Invoice.API.Dtos.Export.Request.ExportRequestBase"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK"
          },
          "401": {
            "description": "If Authorization header not present, has no value or no valid jwt bearer token"
          },
          "403": {
            "description": "If user not authorized to perform requested action"
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetailsResponse"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetailsResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "Bearer": [ ]
          }
        ]
      }
    },
    "/api/v2/Export/Invoices/csv": {
      "post": {
        "tags": [
          "Export"
        ],
        "parameters": [
          {
            "name": "Environment",
            "in": "header",
            "example": "dev"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/MC.Invoice.API.Dtos.Export.Request.ExportRequest"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/MC.Invoice.API.Dtos.Export.Request.ExportRequest"
              }
            }
          }
        },
        "responses": {
          "202": {
            "description": "Accepted"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetailsResponse"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetailsResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "Bearer": [ ]
          }
        ]
      }
    },
    "/api/v1/Invoice/{recordId}/Quote/Audit": {
      "get": {
        "tags": [
          "FreightAssist"
        ],
        "parameters": [
          {
            "name": "recordId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "Environment",
            "in": "header",
            "example": "dev"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MC.Invoice.API.Responses.V2.InvoiceQuoteAuditResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request"
          },
          "404": {
            "description": "Not Found"
          },
          "401": {
            "description": "If Authorization header not present, has no value or no valid jwt bearer token"
          },
          "403": {
            "description": "If user not authorized to perform requested action"
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetailsResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "Bearer": [ ]
          }
        ]
      }
    },
    "/api/v1/Invoice/{recordId}/Quote/Audit/Vote": {
      "patch": {
        "tags": [
          "FreightAssist"
        ],
        "parameters": [
          {
            "name": "recordId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "Environment",
            "in": "header",
            "example": "dev"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/MC.Invoice.API.Dtos.FreightAssist.Requests.AuditSuggestionVoteRequest"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/MC.Invoice.API.Dtos.FreightAssist.Requests.AuditSuggestionVoteRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK"
          },
          "400": {
            "description": "Bad Request"
          },
          "404": {
            "description": "Not Found"
          },
          "401": {
            "description": "If Authorization header not present, has no value or no valid jwt bearer token"
          },
          "403": {
            "description": "If user not authorized to perform requested action"
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetailsResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "Bearer": [ ]
          }
        ]
      }
    },
    "/api/FreightAudit/Invoice/Filter": {
      "post": {
        "tags": [
          "FreightAudit"
        ],
        "parameters": [
          {
            "name": "Environment",
            "in": "header",
            "example": "dev"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/MC.Invoice.API.Dtos.FreightAudit.Requests.InvoiceFilterRequest"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/MC.Invoice.API.Dtos.FreightAudit.Requests.InvoiceFilterRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MC.Invoice.API.Dtos.FreightAudit.Responses.InvoiceFilterResponse"
                }
              }
            }
          },
          "401": {
            "description": "If Authorization header not present, has no value or no valid jwt bearer token"
          },
          "403": {
            "description": "If user not authorized to perform requested action"
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetailsResponse"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetailsResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "Bearer": [ ]
          }
        ]
      }
    },
    "/api/FreightAudit/Invoice/Count": {
      "post": {
        "tags": [
          "FreightAudit"
        ],
        "parameters": [
          {
            "name": "Environment",
            "in": "header",
            "example": "dev"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/MC.Invoice.API.Dtos.FreightAudit.Requests.InvoiceFilterRequestBase"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/MC.Invoice.API.Dtos.FreightAudit.Requests.InvoiceFilterRequestBase"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MC.Invoice.API.Dtos.FreightAudit.Responses.InvoiceCountResponse"
                }
              }
            }
          },
          "401": {
            "description": "If Authorization header not present, has no value or no valid jwt bearer token"
          },
          "403": {
            "description": "If user not authorized to perform requested action"
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetailsResponse"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetailsResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "Bearer": [ ]
          }
        ]
      }
    },
    "/api/FreightAudit/Invoice/FilterValues": {
      "post": {
        "tags": [
          "FreightAudit"
        ],
        "parameters": [
          {
            "name": "Environment",
            "in": "header",
            "example": "dev"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/MC.Invoice.API.Dtos.FreightAudit.Requests.InvoiceFilterRequest"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/MC.Invoice.API.Dtos.FreightAudit.Requests.InvoiceFilterRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MC.Invoice.API.Dtos.FreightAudit.Responses.InvoiceFilterRequestValuesResponse"
                }
              }
            }
          },
          "401": {
            "description": "If Authorization header not present, has no value or no valid jwt bearer token"
          },
          "403": {
            "description": "If user not authorized to perform requested action"
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetailsResponse"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetailsResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "Bearer": [ ]
          }
        ]
      }
    },
    "/api/FreightAudit/Invoice/{recordId}": {
      "get": {
        "tags": [
          "FreightAudit"
        ],
        "parameters": [
          {
            "name": "recordId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "Environment",
            "in": "header",
            "example": "dev"
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          },
          "401": {
            "description": "If Authorization header not present, has no value or no valid jwt bearer token"
          },
          "403": {
            "description": "If user not authorized to perform requested action"
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetailsResponse"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetailsResponse"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetailsResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "Bearer": [ ]
          }
        ]
      },
      "put": {
        "tags": [
          "FreightAudit"
        ],
        "parameters": [
          {
            "name": "recordId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "Environment",
            "in": "header",
            "example": "dev"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/MC.Invoice.API.Dtos.FreightAudit.Requests.UpdateInvoiceRequest"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/MC.Invoice.API.Dtos.FreightAudit.Requests.UpdateInvoiceRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK"
          },
          "401": {
            "description": "If Authorization header not present, has no value or no valid jwt bearer token"
          },
          "403": {
            "description": "If user not authorized to perform requested action"
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetailsResponse"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetailsResponse"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetailsResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "Bearer": [ ]
          }
        ]
      }
    },
    "/api/FreightAudit/Invoice/Transaction/{transactionId}": {
      "get": {
        "tags": [
          "FreightAudit"
        ],
        "parameters": [
          {
            "name": "transactionId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Environment",
            "in": "header",
            "example": "dev"
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          },
          "401": {
            "description": "If Authorization header not present, has no value or no valid jwt bearer token"
          },
          "403": {
            "description": "If user not authorized to perform requested action"
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetailsResponse"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetailsResponse"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetailsResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "Bearer": [ ]
          }
        ]
      }
    },
    "/api/FreightAudit/InvoiceVersion/{recordId}/{versionRecordId}": {
      "get": {
        "tags": [
          "FreightAudit"
        ],
        "parameters": [
          {
            "name": "recordId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "versionRecordId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "Environment",
            "in": "header",
            "example": "dev"
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          },
          "401": {
            "description": "If Authorization header not present, has no value or no valid jwt bearer token"
          },
          "403": {
            "description": "If user not authorized to perform requested action"
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetailsResponse"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetailsResponse"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetailsResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "Bearer": [ ]
          }
        ]
      }
    },
    "/api/FreightAudit/InvoiceSummaryAnalytics/{customerId}/{numberOfDays}": {
      "get": {
        "tags": [
          "FreightAudit"
        ],
        "parameters": [
          {
            "name": "numberOfDays",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32",
              "default": 30
            }
          },
          {
            "name": "customerId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Environment",
            "in": "header",
            "example": "dev"
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          },
          "401": {
            "description": "If Authorization header not present, has no value or no valid jwt bearer token"
          },
          "403": {
            "description": "If user not authorized to perform requested action"
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetailsResponse"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetailsResponse"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetailsResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "Bearer": [ ]
          }
        ]
      }
    },
    "/api/FreightAudit/Remittance/PDF": {
      "post": {
        "tags": [
          "FreightAudit"
        ],
        "parameters": [
          {
            "name": "Environment",
            "in": "header",
            "example": "dev"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/MC.Invoice.API.Dtos.FreightAudit.Requests.InvoiceRemittanceRequest"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/MC.Invoice.API.Dtos.FreightAudit.Requests.InvoiceRemittanceRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK"
          },
          "401": {
            "description": "If Authorization header not present, has no value or no valid jwt bearer token"
          },
          "403": {
            "description": "If user not authorized to perform requested action"
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetailsResponse"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetailsResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "Bearer": [ ]
          }
        ]
      }
    },
    "/api/FreightAudit/Invoice/PDF/{recordId}": {
      "get": {
        "tags": [
          "FreightAudit"
        ],
        "parameters": [
          {
            "name": "recordId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "Environment",
            "in": "header",
            "example": "dev"
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          },
          "401": {
            "description": "If Authorization header not present, has no value or no valid jwt bearer token"
          },
          "403": {
            "description": "If user not authorized to perform requested action"
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetailsResponse"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetailsResponse"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetailsResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "Bearer": [ ]
          }
        ]
      }
    },
    "/api/FreightAudit/Email/InvoiceDetails": {
      "post": {
        "tags": [
          "FreightAudit"
        ],
        "parameters": [
          {
            "name": "Environment",
            "in": "header",
            "example": "dev"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/MC.Invoice.API.Dtos.FreightAudit.Requests.EmailInvoiceDetailsRequest"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/MC.Invoice.API.Dtos.FreightAudit.Requests.EmailInvoiceDetailsRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK"
          },
          "401": {
            "description": "If Authorization header not present, has no value or no valid jwt bearer token"
          },
          "403": {
            "description": "If user not authorized to perform requested action"
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetailsResponse"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetailsResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "Bearer": [ ]
          }
        ]
      }
    },
    "/api/FreightAudit/Invoice/OriginalQuote": {
      "post": {
        "tags": [
          "FreightAudit"
        ],
        "parameters": [
          {
            "name": "Environment",
            "in": "header",
            "example": "dev"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/MC.Invoice.API.Dtos.FreightAudit.Requests.MatchOriginalQuoteRequest"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/MC.Invoice.API.Dtos.FreightAudit.Requests.MatchOriginalQuoteRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MC.Invoice.API.Dtos.FreightAudit.Responses.MatchOriginalQuoteResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request"
          },
          "404": {
            "description": "Not Found"
          },
          "401": {
            "description": "If Authorization header not present, has no value or no valid jwt bearer token"
          },
          "403": {
            "description": "If user not authorized to perform requested action"
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetailsResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "Bearer": [ ]
          }
        ]
      }
    },
    "/api/v2/import/invoices/validate": {
      "post": {
        "tags": [
          "Import"
        ],
        "parameters": [
          {
            "name": "Environment",
            "in": "header",
            "example": "dev"
          }
        ],
        "requestBody": {
          "content": {
            "multipart/form-data": {
              "schema": {
                "type": "object",
                "properties": {
                  "files": {
                    "type": "array",
                    "items": {
                      "type": "string",
                      "format": "binary"
                    }
                  }
                }
              },
              "encoding": {
                "files": {
                  "style": "form"
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK"
          },
          "400": {
            "description": "Bad Request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "If user not authorized to perform requested action"
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetailsResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "Bearer": [ ]
          }
        ]
      }
    },
    "/api/v2/import/invoices": {
      "post": {
        "tags": [
          "Import"
        ],
        "parameters": [
          {
            "name": "Environment",
            "in": "header",
            "example": "dev"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/MC.Invoice.API.Dtos.BulkImport.Requests.ImportInvoiceRequestWrapperV2"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/MC.Invoice.API.Dtos.BulkImport.Requests.ImportInvoiceRequestWrapperV2"
              }
            }
          }
        },
        "responses": {
          "202": {
            "description": "Accepted"
          },
          "400": {
            "description": "Bad Request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "If user not authorized to perform requested action"
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetailsResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "Bearer": [ ]
          }
        ]
      }
    },
    "/api/v1/Integrations/{encodedKey}": {
      "get": {
        "tags": [
          "Integrations"
        ],
        "parameters": [
          {
            "name": "encodedKey",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Environment",
            "in": "header",
            "example": "dev"
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          },
          "401": {
            "description": "If Authorization header not present, has no value or no valid jwt bearer token"
          },
          "403": {
            "description": "If user not authorized to perform requested action"
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetailsResponse"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetailsResponse"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetailsResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "Bearer": [ ]
          }
        ]
      }
    },
    "/api/v1/Integrations/YourEDI/Create": {
      "post": {
        "tags": [
          "Integrations"
        ],
        "parameters": [
          {
            "name": "Environment",
            "in": "header",
            "example": "dev"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/MC.Invoice.API.Dtos.FreightAudit.Requests.YourEDICreateInvoiceRequest"
                }
              }
            },
            "application/*+json": {
              "schema": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/MC.Invoice.API.Dtos.FreightAudit.Requests.YourEDICreateInvoiceRequest"
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK"
          },
          "401": {
            "description": "If Authorization header not present, has no value or no valid jwt bearer token"
          },
          "403": {
            "description": "If user not authorized to perform requested action"
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetailsResponse"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetailsResponse"
                }
              }
            }
          }
        },
        "deprecated": true,
        "security": [
          {
            "Bearer": [ ]
          }
        ]
      }
    },
    "/api/FreightAudit/Invoice/Update": {
      "patch": {
        "tags": [
          "Integrations"
        ],
        "parameters": [
          {
            "name": "Environment",
            "in": "header",
            "example": "dev"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/MC.Invoice.API.Dtos.FreightAudit.Requests.UpdateInvoiceStatusRequest"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/MC.Invoice.API.Dtos.FreightAudit.Requests.UpdateInvoiceStatusRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK"
          },
          "401": {
            "description": "If Authorization header not present, has no value or no valid jwt bearer token"
          },
          "403": {
            "description": "If user not authorized to perform requested action"
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetailsResponse"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetailsResponse"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetailsResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "Bearer": [ ]
          }
        ]
      }
    },
    "/api/v1/Integrations/Invoices/UpdateStatus": {
      "patch": {
        "tags": [
          "Integrations"
        ],
        "parameters": [
          {
            "name": "Environment",
            "in": "header",
            "example": "dev"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/MC.Invoice.API.Dtos.FreightAudit.Requests.UpdateInvoiceStatusRequest"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/MC.Invoice.API.Dtos.FreightAudit.Requests.UpdateInvoiceStatusRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK"
          },
          "401": {
            "description": "If Authorization header not present, has no value or no valid jwt bearer token"
          },
          "403": {
            "description": "If user not authorized to perform requested action"
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetailsResponse"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetailsResponse"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetailsResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "Bearer": [ ]
          }
        ]
      }
    },
    "/api/v2/Integrations/Mailgun/Inbound": {
      "post": {
        "tags": [
          "Integrations"
        ],
        "parameters": [
          {
            "name": "Environment",
            "in": "header",
            "example": "dev"
          }
        ],
        "requestBody": {
          "content": {
            "multipart/form-data": {
              "schema": {
                "type": "object",
                "properties": {
                  "From": {
                    "type": "string"
                  },
                  "To": {
                    "type": "string"
                  },
                  "subject": {
                    "type": "string"
                  },
                  "stripped-text": {
                    "type": "string"
                  },
                  "timestamp": {
                    "type": "integer",
                    "format": "int32"
                  },
                  "token": {
                    "type": "string"
                  },
                  "signature": {
                    "type": "string"
                  },
                  "content-id-map": {
                    "type": "string"
                  }
                }
              },
              "encoding": {
                "From": {
                  "style": "form"
                },
                "To": {
                  "style": "form"
                },
                "subject": {
                  "style": "form"
                },
                "stripped-text": {
                  "style": "form"
                },
                "timestamp": {
                  "style": "form"
                },
                "token": {
                  "style": "form"
                },
                "signature": {
                  "style": "form"
                },
                "content-id-map": {
                  "style": "form"
                }
              }
            },
            "application/x-www-form-urlencoded": {
              "schema": {
                "type": "object",
                "properties": {
                  "From": {
                    "type": "string"
                  },
                  "To": {
                    "type": "string"
                  },
                  "subject": {
                    "type": "string"
                  },
                  "stripped-text": {
                    "type": "string"
                  },
                  "timestamp": {
                    "type": "integer",
                    "format": "int32"
                  },
                  "token": {
                    "type": "string"
                  },
                  "signature": {
                    "type": "string"
                  },
                  "content-id-map": {
                    "type": "string"
                  }
                }
              },
              "encoding": {
                "From": {
                  "style": "form"
                },
                "To": {
                  "style": "form"
                },
                "subject": {
                  "style": "form"
                },
                "stripped-text": {
                  "style": "form"
                },
                "timestamp": {
                  "style": "form"
                },
                "token": {
                  "style": "form"
                },
                "signature": {
                  "style": "form"
                },
                "content-id-map": {
                  "style": "form"
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK"
          },
          "401": {
            "description": "If Authorization header not present, has no value or no valid jwt bearer token"
          },
          "403": {
            "description": "If user not authorized to perform requested action"
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetailsResponse"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetailsResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "Bearer": [ ]
          }
        ]
      }
    },
    "/api/v2/Invoice/BulkUpdateStatus/{status}": {
      "patch": {
        "tags": [
          "Invoice"
        ],
        "parameters": [
          {
            "name": "status",
            "in": "path",
            "required": true,
            "schema": {
              "$ref": "#/components/schemas/MC.Invoice.Data.Mongo.Enums.InvoiceStatusType"
            }
          },
          {
            "name": "Environment",
            "in": "header",
            "example": "dev"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/MC.Invoice.API.Dtos.FreightAudit.Requests.InvoiceBulkUpdateRequest"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/MC.Invoice.API.Dtos.FreightAudit.Requests.InvoiceBulkUpdateRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK"
          },
          "401": {
            "description": "If Authorization header not present, has no value or no valid jwt bearer token"
          },
          "403": {
            "description": "If user not authorized to perform requested action"
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetailsResponse"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetailsResponse"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetailsResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "Bearer": [ ]
          }
        ]
      }
    },
[...]
